---
layout: page
permalink: /provedores/email/
title: "Provedores de Emails Privados"
description: "Encontre um provedor de email seguro e que não passa por cima da sua privacidade. Não se acomode com plataformas sustentadas por anúncios e nunca confie em nenhuma empresa com sua privacidade: sempre encripte seus dados."
---

{% include sections/email-warning.html %}

{% include sections/email-providers.html %}

<hr>
<h1 id="criterios" class="anchor"><a href="#criterios"><i class="fas fa-link anchor-icon"></i></a> Nossos Critérios para Provedores de Email</h1>

<p><strong>Note que não somos afiliados com nenhum dos provedores que recomendamos. Isso nos permite fornecer recomendações completamente objetivas.</strong> Nós desenvolvemos um conjunto claro de requisitos para qualquer provedor de Email que deseja ser recomendado, o que inclui implementar as melhoras práticas da indústria, tecnologia moderna, etc. Nós sugerimos que você se familiarize com esta lista antes de escolher seu provedor de Email, e conduza suas próprias pesquisas para se assegurar que o provedor que escolher é realmente a melhor escolha.</p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>{% include badge.html color="info" text="Jurisdição" %}</h3>
      <p>Operar fora dos países "Cinco/Nove/Quatorze olhos" não necessariamente uma garantia de privacidade, e existem outros fatores a serem considerados. No entanto, nós acreditamos que evitar esses países é importante se você deseja driblar a vigilância em massa operada por governos, em especial os Estados Unidos. Leia nossa página em <a href="/provedores/#ukusa">vigilância global em massa e evitando os EUA e Reino Unido</a> para aprender por que nós sentimos que isso é importante.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
        <li>Opera fora dos EUA e outros países integrantes do "Cinco Olhos".</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Opera fora dos EUA e outros países integrantes do "Quatorze Olhos".</li>
        <li>Opera dentro de um país onde as leis de proteção ao consumidor são fortes.</li>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Tecnologia" %}</h3>
      <p>Nós tratamos essas funcionalidades como importantes para promover um serviço seguro e melhorado para seus usuários. Usuários devem considerar adotar o provedor que fornece as funcionalidades que precisam.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
        <li>Encripta dados da conta nos servidores de Email.</li>
        <li>Possui encriptação embutida no webmail, fornecendo conveniência para usuários que querem melhorar ao não utilizar <a href="https://pt.wikipedia.org/wiki/Criptografia_de_ponta-a-ponta">criptografia de ponta-a-ponta</a>.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Encripta dados da conta nos servidores, impossibilitando o acesso de todos menos o próprio usuário.</li>
        <li>Permite que seus usuários possam utilizar seus próprios <a href="https://pt.wikipedia.org/wiki/Nome_de_dom%C3%ADnio">nomes de domínio</a>. Nomes de domínio próprios são importantes para os usuários porque os permite manter o mesmo email caso desejem trocar de provedor.</li>
        <li>Suporta <a href="https://wiki.gnupg.org/WKD">WKD</a> (link leva a site com info. em Inglês), melhorando a descoberta de chaves OpenPGP públicas via HTTP. <br> Usuários de GnuPG podem procurar uma chave através do seguinte comando: <code>gpg --locate-key email-de-exemplo@exemplo.com</code></li>
        <li>Suporta caixas de entrada temporárias para usuários externos. Isso é útil quando você precisa enviar um email encriptado, sem de fato mandar a cópia do email para o recipiente. Esses emails geralmente tem um período de validade que após vencido, são automaticamente deletados. Eles também não precisam que o recipiente configure nenhum tipo de criptografia como o OpenPGP.</li>
        <li>Disponibiliza seus serviços através de um <a href="https://pt.wikipedia.org/wiki/.onion">serviço onion</a>.</li>
        <li>Suporta <a href="https://en.wikipedia.org/wiki/Email_address#Subaddressing">subaddressing</a> (link leva a site com info. em Inglês).</li>
        <li>Suporta <a href="https://en.wikipedia.org/wiki/Email_alias">aliases</a> (link leva a site com info. em Inglês) e <a href="https://en.wikipedia.org/wiki/Email_filtering">Email filtering</a> (link leva a site com info. em Inglês) para usuários com seus próprios domínios.</li>
        <li>Usa protocolos de acesso padronizados como o <a href="https://pt.wikipedia.org/wiki/Internet_Message_Access_Protocol">IMAP</a>, <a href="https://pt.wikipedia.org/wiki/Simple_Mail_Transfer_Protocol">SMTP</a> ou <a href="https://en.wikipedia.org/wiki/JSON_Meta_Application_Protocol">JMAP</a> (link leva a site com info. em Inglês). A padronização de protocolos de acesso garante que os usuários possam fazer o download de todos os seus emails, caso queiram trocar de provedor.</li>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Privacidade" %}</h3>
      <p>Nós preferimos que os provedores que recomendamos coletem somente o mínimo de dados que seja possível.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
        <li>Protege o endereço IP de quem envia, evitando que apareça no campo <code>Received</code> do header da mensagem.</li>
        <li>Requer somente usuário e senha, evitando a requisção de informações identificáveis.</li>
        <li>Possui política de privacidade que adere aos requisitos definidos pela GDPR.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Aceita Bitcoin, dinheiro, e outros métodos de pagamento que sejam com criptomoedas e/ou opções anônimas (gift cards, etc.)</li>
        <li>Possui política de privacidade que adere aos requisitos definidos pela LGPD (lei brasileira de proteção de dados).</li>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Segurança" %}</h3>
      <p>Servidores de Email lidam com dados extremamente sensíveis. Nós esperamos que os provedores adotem as melhores práticas da indústria para proteger seus usuários.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
        <li>Fornece um webmail protegido com <a href="https://en.wikipedia.org/wiki/Multi-factor_authentication">two-factor authentication</a> (link leva a site com info. em Inglês), como o <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_algorithm">TOTP</a> (link leva a site com info. em Inglês).</li>
        <li>Encripta dados nos servidores, como por exemplo utilizando o <a href="https://pt.wikipedia.org/wiki/Dm-crypt">dm-crypt</a>. Isso protege o conteúdo dos servidores em caso de acesso ilegal e não-autorizado.</li>
        <li>Suporta <a href="https://pt.wikipedia.org/wiki/DNSSEC">DNSSEC</a></li>
        <li>Possui zero erros/vulnerabilidades <a href="https://en.wikipedia.org/wiki/Opportunistic_TLS">TLS</a> (link leva a site com info. em Inglês) quando sendo testados por ferramentas como <a href="https://www.hardenize.com">Hardenize</a> (recurso em Inglês), <a href="https://testssl.sh">testssl.sh</a> (recurso em Inglês) ou <a href="https://www.ssllabs.com/ssltest">Qualys SSL Labs</a> (recurso em Inglês). Isso inclui testes com erros de certificados, conjunto ruim ou fraco de algoritmos de encriptação, parâmetros fracos de DH como aqueles que levam a <a href="https://en.wikipedia.org/wiki/Logjam_(computer_security)">Logjam</a> (link leva a site com info. em Inglês).</li>
        <li>Possui políticas de <a href="https://tools.ietf.org/html/rfc8461">MTA-STS</a> (link leva a site com info. em Inglês) e <a href="https://tools.ietf.org/html/rfc8460">TLS-RPT</a> (link leva a site com info. em Inglês) válidas.</li>
        <li>Possui entradas <a href="https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities">DANE</a> (link leva a site com info. em Inglês) válidas.</li>
        <li>Possui <a href="https://pt.wikipedia.org/wiki/Sender_Policy_Framework">SPF</a>, <a href="https://en.wikipedia.org/wiki/DomainKeys_Identified_Mail">DKIM</a> (link leva a site com info. em Inglês) e <a href="https://pt.wikipedia.org/wiki/DMARC">DMARC</a> válidos, com o valor da diretiva <code>p</code> configurada com <code>none</code>, <code>quarantine</code> ou <code>reject</code>.</li>
        <li>Possui servidores com TLS versão 1.2 ou mais nova e um plano para desativas as versões 1.0 e 1.1. <a href="https://datatracker.ietf.org/doc/draft-ietf-tls-oldversions-deprecate/">Deprecating TLSv1.0 and TLSv1.1</a> (recurso em Inglês).</li>
        <li>Suporta submissão <a href="https://en.wikipedia.org/wiki/SMTPS">SMTPS</a> (link leva a site com info. em Inglês), assumindo que SMTP é utilizado.</li>
        <li>Suporta bons padrões de segurança web, incluindo:</li>
          <ul>
            <li><a href="https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security">HTTP Strict Transport Security</a> (recurso em Inglês)</li>
            <li><a href="https://en.wikipedia.org/wiki/Subresource_Integrity">Subresource Integrity</a> (recurso em Inglês), caso precisa carregar recursos de domínios externos.</li>
          </ul>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Suporta métodos de autenticação via hardware, como <a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a> (link leva a site com info. em Inglês) e <a href="https://en.wikipedia.org/wiki/WebAuthn">WebAuthn</a> (link leva a site com info. em Inglês). U2F e WebAuthn são mais seguros porque eles utilizam uma chave privada armazenada nos dispositivos físicos do cliente para autenticar os usuários, ao invés de um segredo compartilhado que é armazenado no servidor web e no cliente, no caso do TOTP por exemplo. Além disso, U2F e WebAuthn são mais resistentes a phishing porque sua resposta de autenticação é baseada no <a href="https://pt.wikipedia.org/wiki/Nome_de_dom%C3%ADnio">nome de domínio</a> autenticado.</li>
        <li>Possui encriptação que impossibilita o acesso de todos, menos do próprio usuário. Dessa forma, o provedor não tem acesso às chaves de encriptação utilizadas para desencriptar os dados que eles armazenam. Isso previne que um funcionário mal intencionado vaze dados que eles tem acesso, e previne um adversário remoto de roubar os dados ao ganhar acesso não autorizado aos servidores.</li>
        <li>Suporta <a href="https://tools.ietf.org/html/rfc6844">DNS Certification Authority Authorization (CAA) Resource Record</a> (link leva a site com info. em Inglês), além do suporte a DANE.</li>
        <li>Implementa <a href="https://en.wikipedia.org/wiki/Authenticated_Received_Chain">Authenticated Received Chain (ARC)</a> (link leva a site com info. em Inglês), o que é útil para usuários que postam em listas de email <a href="https://tools.ietf.org/html/rfc8617">RFC8617</a> (link leva a site com info. em Inglês).</li>
        <li>Possui programas de recompensa para caça de bugs e/ou processo coordenado de divulgação de vulnerabilidades.</li>
        <li>Suporta bons padrões de segurança web, incluindo:</li>
          <ul>
            <li><a href="https://en.wikipedia.org/wiki/Content_Security_Policy">Content Security Policy (CSP)</a> (link leva a site com info. em Inglês)</li>
            <li><a href="https://datatracker.ietf.org/doc/draft-ietf-httpbis-expect-ct">Expect-CT</a> (link leva a site com info. em Inglês)</li>
          </ul>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Confiança" %}</h3>
      <p>Você não confiaria suas finanças a alguém com uma identidade falsa, então porque você confiaria seu email? Nós exigimos que nossos provedores recomendados sejam transparentes acerca de suas propriedades e líderes. Nós também gostaríamos de ver relatórios de transparência frequentes, especialmente no que diz respeito a como requisições do governo são lidadas.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
        <li>Liderança aberta e acessível ao público.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Liderança aberta e acessível ao público.</li>
        <li>Relatórios de transparência frequentes.</li>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Marketing" %}</h3>
      <p>Nós queremos ver marketing responsável com os provedores de email que recomendamos.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
          <li>Deve ter seu próprio sistema de analytics (sem Google Analytics etc). O site do provedor também deve obedecer ao <a href="https://en.wikipedia.org/wiki/Do_Not_Track">DNT (Do Not Track)</a> (link leva a site com info. em Inglês) para aqueles usuários que gostariam de desabilitar o rastreamento em seus navegadores.</li>
      </ul>
      <p>Não deve realizar nenhum marketing considerado irresponsável:</p>
        <ul>
          <li>Não deve fazer alegações de "criptografia inquebrável". Criptografia (ou Encriptação) deve ser utilizada com a intenção de que no futuro possa se tornar fraca, pois a tecnologia avança rapidamente e é só uma questão de tempo para que algoritmos de criptografia sejam quebrados.</li>
          <li>Não deve fazer promessas e garantias de proteger 100% da sua anonimidade. Quando alguém faz uma alegação que algo é 100% geralmente significa que não há certezas para falhas. No entanto, nós sabemos que usuários podem invalidar seu próprio anonimato de várias formas diferentes, incluindo:</li>
          <ul>
            <li>Usar informações pessoais (contas email, nomes de usuário únicos, etc) que os mesmos utilizaram sem software que fornecem anonimidade (Tor, VPN, etc)</li>
            <li><a href="/navegadores/#impressao_digital">Impressão digital dos navegadores</a></li>
          </ul>
        </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Possui documentação clara e fácil de se ler. Isso inclui documentação sobre coisas como configurar autenticação de duas etapas, clientes de email, OpenPGP, etc.</li>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Funcionalidades Adicionais" %}</h3>
      <p>Apesar de não serem estritamente necessários, existem alguns fatores adicionais que nós investigamos quando determinando quais provedores recomendamos.</p>
    </div>
  </div>
</div>
<hr>

<h1 id="encriptacao-de-emails" class="anchor"><a href="#encriptacao-de-emails"><i class="fas fa-link anchor-icon"></i></a> Encriptação de Emails</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>O que é criptografia de ponta-a-ponta (E2EE em Inglês) nos emails?</h3>
      <p><a href="https://pt.wikipedia.org/wiki/Criptografia_de_ponta-a-ponta">Criptografia de ponta-a-ponta</a> é uma forma de encriptar o conteúdo de um email para que ninguém consiga ler a mensagem, exceto os devidos recipientes da mesma.</p>
      <h3>Como eu posso encriptar meu email?</h3>
      <p>O jeito padrão de encriptar email de uma forma que funciona para diferentes provedores é com <a href="https://pt.wikipedia.org/wiki/OpenPGP">OpenPGP</a>. Existem diferentes implementações do padrão OpenPGP, sendo o mais comum o <a href="https://pt.wikipedia.org/wiki/GNU_Privacy_Guard">GnuPG</a> e <a href=https://openpgpjs.org>OpenPGP.js</a> (recurso em Inglês).</p>
      <p>Existe outro padrão que era popular em ambientes empresariais chamado <a href="https://en.wikipedia.org/wiki/S/MIME">S/MIME</a> (link leva a site com info. em Inglês), porém ele precisa que um certificado seja  however it requires a certificate issued from a <a href="https://en.wikipedia.org/wiki/Certificate_authority">Certificate Authority</a> (not all of them issue S/MIME certificates). It has support in <a href="https://support.google.com/a/topic/9061730?hl=en&ref_topic=9061731">G Suite Enterprise/Education</a> and <a href="https://support.office.com/en-us/article/encrypt-messages-by-using-s-mime-in-outlook-on-the-web-878c79fc-7088-4b39-966f-14512658f480">Office 365 Business or Exchange Server 2016, 2019</a>.</p>
      <h3>What software can I use to get E2EE?</h3>
      <p>Email providers which allow you to use standard access protocols like <a href="https://en.wikipedia.org/wiki/Internet_Message_Access_Protocol">IMAP</a> and <a href="https://en.wikipedia.org/wiki/Simple_Mail_Transfer_Protocol">SMTP</a> can be used with any of the <a href="/software/email/">email clients we recommend</a>. This can be less secure as you are now relying on email providers to ensure that their encryption implementation works and has not been compromised in anyway.</p>
    </div>
    <div class="col-md-6">
      <h3>How do I protect my private keys?</h3>
      <p>A smartcard (such as a <a href="https://support.yubico.com/support/solutions/articles/15000006420-using-your-yubikey-with-openpgp">Yubikey</a> or <a href="https://www.nitrokey.com">Nitrokey</a>) works by receiving an encrypted email message from a device (phone, tablet, computer etc) running an email/webmail client. The message is then decrypted by the smartcard and the decrypted content is sent back to the device.</p>
      <p>It is advantageous for the decryption to occur on the smartcard so as to avoid possibly exposing your private key to a compromised device.</p>
    </div>
  </div>
</div>

<h1 id="metadata" class="anchor"><a href="#metadata"><i class="fas fa-link anchor-icon"></i></a> Email metadata</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Who can see the email metadata?</h3>
      <p>Email metadata is able to be seen by your email client software (or webmail) and any servers relaying the message from you to any recipients. Sometimes email servers will also use external parties to protect against spam.</p>
      <h3>What is email metadata?</h3>
      <p>Email software will often show some visible headers that you may have seen such as: <code>To</code>, <code>From</code>, <code>Cc</code>, <code>Date</code>, <code>Subject</code>.
      </p>
      <h3>When is email metadata used?</h3>
      <p>Client software may use it to show who a message is from and what time it was received. Servers may use it to determine where an email message must be sent, among <a href="https://en.wikipedia.org/wiki/Email#Message_header">other purposes</a> not transparent to the user.</p>
    </div>
    <div class="col-md-6">
      <h3>Where is the email metadata?</h3>
      <p>Email metadata is stored in the <a href="https://en.wikipedia.org/wiki/Email#Message_header">message header</a> of the email message.</p>
      <h3>Why can't email metadata be E2EE?</h3>
      <p>Email metadata is is cruicial to the most basic functionality of email (where it came from, and where it has to go). E2EE was not built into the email protocols originally and is also optional, therefore, only the message content is protected.</p>
      <h3>How is my metadata protected?</h3>
      <p>When emails travel between email providers an encrypted connection is negotiated using <a href="https://en.wikipedia.org/wiki/Opportunistic_TLS">Opportunistic TLS</a>. This protects the metadata from outside observers, but as it is not E2EE, server administrators can snoop on the metadata of an email.</p>
    </div>
  </div>
</div>

<hr>

<h1 id="cloaking" class="anchor"><a href="#cloaking"><i class="fas fa-link anchor-icon"></i></a> Email cloaking services</h1>
<div class="container">
  <a href="https://anonaddy.com">
    <img src="/assets/img/svg/3rd-party/anonaddy.svg"
        data-theme-src="/assets/img/svg/3rd-party/anonaddy-dark.svg"
         width="180rem" class="img-fluid float-left mr-3"
         alt="AnonAddy">
  </a>
  <br>
  <p><strong><a href="https://anonaddy.com">AnonAddy</a></strong> lets users create aliases that forward to their email address. Can be self-hosted. <a href="https://github.com/anonaddy/anonaddy">Source code on GitHub</a>.</p>
  <a href="https://simplelogin.io">
    <img src="/assets/img/svg/3rd-party/simplelogin.svg"
         width="180rem" class="img-fluid float-left mr-3"
         alt="SimpleLogin">
  </a>
  <br>
  <p><strong><a href="https://simplelogin.io">SimpleLogin</a></strong> allows you to easily create aliases for your email. Can be self-hosted. <a href="https://github.com/simple-login/app">Source code on GitHub</a>.</p>
</div>

<h1 id="selfhosting" class="anchor"><a href="#selfhosting"><i class="fas fa-link anchor-icon"></i></a> Self-hosting Email</h1>
<div class="container">
  <p>Advanced users may consider setting up their own email server. Mailservers require attention and continuous maintenance in order to keep things secure and mail delivery reliable.</p>
  <h3>Combined software solutions</h3>
  <a href="https://mailinabox.email/">
    <img src="/assets/img/svg/3rd-party/mail-in-a-box.svg"
         width="80rem" class="img-fluid float-left mr-3"
         alt="Mail-in-a-Box">
  </a>
  <br>
  <p><strong><a href="https://mailinabox.email">Mail-in-a-Box</a></strong> is an automated setup script for deploying a mail server on Ubuntu. Its goal is to make it easier for users to set up their own mail server.</p>
  <a href="https://mailcow.email/">
    <img src="/assets/img/svg/3rd-party/mailcow.svg"
         width="80rem" class="img-fluid float-left mr-3"
         alt="Mailcow">
  </a>
  <p><strong><a href="https://mailcow.email">Mailcow</a></strong> is a more advanced mail server perfect for those with a bit more Linux experience. It has everything you need in a Docker container: A mailserver with DKIM support, antivirus and spam monitoring, webmail and ActiveSync with SOGo, and web-based administration with 2FA support. <strong><a href="https://mailcow.github.io/mailcow-dockerized-docs/">Mailcow Dockerized docs</a></strong></p>

  <p>For a more manual approach we've picked out these two articles.</p>
    <ul>
      <li><a href="https://poolp.org/posts/2019-09-14/setting-up-a-mail-server-with-opensmtpd-dovecot-and-rspamd/">Setting up a mail server with OpenSMTPD, Dovecot and Rspamd</a> (2019)</li>
      <li><a href="https://www.c0ffee.net/blog/mail-server-guide/">How To Run Your Own Mail Server</a> (August 2017)</li>
    </ul>
</div>

<h1 id="info" class="anchor"><a href="#info"><i class="fas fa-link anchor-icon"></i></a> Related Email Articles</h1>
<div class="container">
  <div class="row">
    <ul>
      <li><a href="https://www.grepular.com/An_NFC_PGP_SmartCard_For_Android">An NFC PGP SmartCard For Android</a></li>
      <li><a href="https://www.wired.com/2011/10/ecpa-turns-twenty-five/">Aging 'Privacy' Law Leaves Cloud E-Mail Open to Cops (2011)</a></li>
      <li><a href="https://thinkprogress.org/the-government-can-still-read-most-of-your-emails-without-a-warrant-322fe6defc7b/">The Government Can (Still) Read Most Of Your Emails Without A Warrant (2013)</a></li>
    </ul>
  </div>
</div>
