---
layout: page
permalink: /provedores/email/
title: "Email Seguro"
description: "Encontre um provedor de email seguro que não irá passar por cima da sua privacidade. Não se acomode com plataformas sustentadas por anúncios e nunca confie sua privacidade a nenhuma empresa: sempre criptografe seus dados."
---

{% include sections/email-warning.html %}

{% include sections/email-providers.html %}

<hr>
<h1 id="criterios" class="anchor"><a href="#criterios"><i class="fas fa-link anchor-icon"></i></a> Nossos Critérios de Provedor de Email</h1>

<p><strong>Por favor, note que não somos afiliados a nenhum dos provedores que recomendamos. Isso nos permite fornecer recomendações completamente objetivas.</strong> Desenvolvemos um conjunto claro de requisitos para qualquer provedor de email que deseja ser recomendado, incluindo a implementação de práticas recomendadas do setor, tecnologia moderna e outros requisitos. Sugerimos que você se familiarize com esta lista antes de escolher um provedor de email e conduza sua própria pesquisa para garantir que o provedor de email que você escolheu seja a escolha certa para você.</p>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>{% include badge.html color="info" text="Jurisdição" %}</h3>
      <p>Operar fora dos países dos cinco/nove/quatorze olhos não é necessariamente uma garantia de privacidade e há outros fatores a serem considerados. No entanto, acreditamos que evitar esses países é importante se você deseja evitar a vigilância em massa por parte do governo, especialmente dos Estados Unidos. Leia nossa página em <a href="/provedores/#ukusa">vigilância global em massa e evite serviços hospedados nos EUA e Reino Unido</a> para aprender mais sobre porque achamos que isso é importante.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
        <li>Operar fora dos EUA ou outros países dos Cinco Olhos.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Operar fora dos EUA ou qualquer outro país dos Quatorze Olhos.</li>
        <li>Operar em um país com fortes leis de proteção ao consumidor.</li>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Tecnologia" %}</h3>
      <p>Consideramos estes recursos como importantes para fornecer um serviço seguro e ótimo aos usuários. Os usuários devem considerar o fornecedor que possuem os recursos que eles necessitam.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
        <li>Criptografa os dados da conta em repouso.</li>
        <li>A criptografia integrada no webmail oferece conveniência aos usuários que desejam melhorar o fato de não possurirem <a href="https://pt.wikipedia.org/wiki/Criptografia_de_ponta-a-ponta">Criptografia de ponta-a-ponta</a> (E2EE).</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Criptografa os dados da conta em repouso com criptografia de zero acesso.</li>
        <li>Permite aos usuários utilizarem seu próprio <a href="https://pt.wikipedia.org/wiki/Nome_de_dom%C3%ADnio">Nome de domínio</a>. Nomes de domínio personalizados são importantes para os usuários porque permitem que eles mantenham o funcionamento de seus emails independente do provedor, caso ele se torne ruim, seja adquirido por outra empresa que não prioriza a privacidade, etc.</li>
        <li>Oferece suporte ao <a href="https://wiki.gnupg.org/WKD">WKD</a> (em inglês) para permitir a descoberta aprimorada de chaves públicas OpenPGP via HTTP. <br>Os usuários do GnuPG podem obter uma chave digitando: <code>gpg --locate-key example_user@example.com</code></li>
        <li>Oferece suporte para uma caixa de email temporária para usuários externos. Isso é útil quando você deseja enviar um email criptografado, sem enviar ao destinatário uma cópia em texto legível à outros. Essas caixas de email temporárias geralmente têm uma vida útil limitada e, em seguida, são excluídas automaticamente. Elas também não exigem que o destinatário configure qualquer criptografia como OpenPGP.</li>
        <li>Disponibilidade dos serviços do provedor de email via um <a href="https://pt.wikipedia.org/wiki/.onion">serviço .onion</a>.</li>
        <li>Oferece suporte a <a href="https://en.wikipedia.org/wiki/Email_address#Subaddressing">Subaddressing</a>.</li>
        <li><a href="https://en.wikipedia.org/wiki/Email_filtering">Catch all</a> ou <a href="https://en.wikipedia.org/wiki/Email_alias">apelidos</a> para usuários que possuem seus próprios domínios.</li>
        <li>Uso de protocolos padrão de acesso de email, como <a href="https://pt.wikipedia.org/wiki/Internet_Message_Access_Protocol">IMAP</a>, <a href="https://pt.wikipedia.org/wiki/Simple_Mail_Transfer_Protocol">SMTP</a> ou <a href="https://en.wikipedia.org/wiki/JSON_Meta_Application_Protocol">JMAP</a>. Os protocolos padrão de acesso garantem que os usuários possam baixar facilmente todos os seus emails caso desejem mudar para outro provedor.</li>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Privacidade" %}</h3>
      <p>Preferimos que nossos provedores recomendados coletem o mínimo possível de dados dos usuários.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
        <li>Proteja o endereço IP do remetente. Filtre-o para que não apareça no campo <code>Recebido</code> do cabeçalho.</li>
        <li>Não exija informações de identificação pessoal (IIP) além de nome de usuário e senha.</li>
        <li>Política de privacidade que atenda aos requisitos definidos pela GDPR (<em>General Data Protection Regulation</em>; lei européia de proteção de dados)</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Aceita Bitcoin, dinheiro e outras formas de criptomoeda e/ou opções de pagamento anônimas (cartões-presente, etc.)</li>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Segurança" %}</h3>
      <p>Os servidores de e-mail lidam com muitos dados bastante sensíveis. Esperamos que os provedores adotem as melhores práticas do setor para proteger seus usuários.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
        <li>Proteção do webmail com <a href="https://en.wikipedia.org/wiki/Multi-factor_authentication">autenticação de dois fatores</a>, como <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_algorithm">TOTP</a>.</li>
        <li>Criptografia em repouso (por exemplo, <a href="https://pt.wikipedia.org/wiki/Dm-crypt">dm-crypt</a>). Isso protege o conteúdo dos servidores em caso de apreensão ilegal.</li>
        <li>Suporte a <a href="https://pt.wikipedia.org/wiki/DNSSEC">DNSSEC</a>.</li>
        <li>Sem erros/vulnerabilidades <a href="https://en.wikipedia.org/wiki/Opportunistic_TLS">TLS</a> ao ser perfilado por ferramentas como <a href="https://www.hardenize.com">Hardenize</a>, <a href="https://testssl.sh">testssl.sh</a> ou <a href="https://www.ssllabs.com/ssltest">Qualys SSL Labs</a>. Isso inclui erros relacionados a certificados, conjuntos de criptografia ruins ou fracos ou parâmetros de DH fracos, como aqueles que levaram ao <a href="https://en.wikipedia.org/wiki/Logjam_(computer_security)">Logjam</a>.</li>
        <li>Uma política válida de <a href="https://tools.ietf.org/html/rfc8461">MTA-STS</a> e <a href="https://tools.ietf.org/html/rfc8460">TLS-RPT</a>.</li>
        <li>Registros <a href="https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities">DANE</a> válidos.</li>
        <li><a href="https://pt.wikipedia.org/wiki/Sender_Policy_Framework">SPF</a>, <a href="https://en.wikipedia.org/wiki/DomainKeys_Identified_Mail">DKIM</a> e <a href="https://pt.wikipedia.org/wiki/DMARC">DMARC</a> válidos, com valor <code>p</code> da política definido como <code>nenhum</code>, <code>quarentena</code> ou <code>rejeitar</code>.</li>
        <li>Uma preferência de suíte de servidor com TLS 1.2 ou posterior e um plano para <a href="https://datatracker.ietf.org/doc/draft-ietf-tls-oldversions-deprecate/">Suspensão de uso de TLSv1.0 e TLSv1.1</a>.</li>
        <li>Envio de <a href="https://en.wikipedia.org/wiki/SMTPS">SMTPS</a>, supondo que SMTP seja usado.</li>
        <li>Padrões de segurança do site, como:</li>
          <ul>
            <li><a href="https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security">HTTP Strict Transport Security</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Subresource_Integrity">Subresource Integrity</a> se estiver carregando coisas de domínios externos.</li>
          </ul>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Suporte para autenticação de hardware, ou seja, <a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a> e <a href="https://en.wikipedia.org/wiki/WebAuthn">WebAuthn</a>. U2F e WebAuthn são mais seguros, pois usam uma chave privada armazenada em um dispositivo de hardware do lado do cliente para autenticar usuários, em oposição a um segredo compartilhado que é armazenado no servidor da web e no lado do cliente ao usar TOTP. Além disso, U2F e WebAuthn são mais resistentes a phishing, pois sua resposta de autenticação é baseada no <a href="https://pt.wikipedia.org/wiki/Nome_de_dom%C3%ADnio">nome de domínio</a> autenticado.</li>
        <li>Criptografia de zero acesso; baseia-se na criptografia em repouso. A diferença é que o provedor não possui as chaves para descriptografar os dados que possui. Isso evita que um funcionário não autorizado vaze dados aos quais eles tem acesso ou que um adversário remoto libere dados roubados ao obter acesso não autorizado ao servidor.</li>
        <li><a href="https://tools.ietf.org/html/rfc6844">DNS Certification Authority Authorization (CAA) Resource Record</a> juntamente com suporte a DANE.</li>
        <li>Implementação de <a href="https://en.wikipedia.org/wiki/Authenticated_Received_Chain">Authenticated Received Chain (ARC)</a>; isto é útil para usuários que postam em listas de discussão <a href="https://tools.ietf.org/html/rfc8617">RFC8617</a>.</li>
        <li>Programas de recompensa por bugs e/ou um processo coordenado de divulgação de vulnerabilidades.</li>
        <li>Padrões de segurança do site, como:</li>
          <ul>
            <li><a href="https://en.wikipedia.org/wiki/Content_Security_Policy">Content Security Policy (CSP)</a> (link leva a site com info. em Inglês)</li>
            <li><a href="https://datatracker.ietf.org/doc/draft-ietf-httpbis-expect-ct">Expect-CT</a> (link leva a site com info. em Inglês)</li>
          </ul>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Confiança" %}</h3>
      <p>Você não confiaria suas finanças a alguém com uma identidade falsa, certo? Então por que confiar seu e-mail a essa pessoa? Exigimos que nossos provedores recomendados sejam transparentes sobre sua propriedade ou liderança. Também gostaríamos de ver relatórios de transparência frequentes, especialmente em relação a como as solicitações de governos são tratadas.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
        <li>Liderança ou propriedade publicamente visível.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Liderança publicamente visível.</li>
        <li>Relatórios de transparência frequentes.</li>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Marketing" %}</h3>
      <p>Gostamos de ver um marketing responsável por parte dos provedores de email que recomendamos.</p>
    </div>
    <div class="col-md-6">
      <p><strong>Mínimo Necessário:</strong></p>
      <ul>
          <li>Deve hospedar plataformas de análises próprias (nada de Google Analytics, etc.). O site do provedor também deve cumprir a solicitação de <a href="https://en.wikipedia.org/wiki/Do_Not_Track">DNT (Do Not Track)</a> para aqueles usuários que assim desejarem.</li>
      </ul>
      <p>Não deve haver marketing irresponsável:</p>
        <ul>
          <li>Alegações de "criptografia inquebrável". A criptografia deve ser usada com a intenção de que pode não ser secreta no futuro, quando houver tecnologia para quebrá-la.</li>
          <li>Fazendo garantias de proteção do anonimato a 100%. Quando alguém afirma que alguma coisa é 100%, isso na verdade significa que não há certeza de falha. Sabemos que os usuários podem facilmente romper seu anonimato de várias maneiras, por exemplo:</li>
          <ul>
            <li>Reutilizando informações pessoais (como contas de e-mail, pseudônimos exclusivos, etc) que eles acessaram sem software de anonimato (Tor, VPN, etc)</li>
            <li><a href="/navegadores/#impressao_digital">Impressão digital do navegador</a></li>
          </ul>
        </ul>
    </div>
    <div class="col-md-6">
      <p><strong>Melhor Caso:</strong></p>
      <ul>
        <li>Documentação clara e fácil de ler. Isso inclui coisas como configuração de autenticação de dois fatores, clientes de e-mail, OpenPGP, etc.</li>
      </ul>
    </div>

    <div class="col-12">
      <h3>{% include badge.html color="info" text="Funcionalidades Adicionais" %}</h3>
      <p>Embora não sejam requisitos estritos, há alguns fatores que analisamos ao determinar quais provedores recomendar.</p>
    </div>
  </div>
</div>
<hr>

<h1 id="criptografia-email" class="anchor"><a href="#criptografia-email"><i class="fas fa-link anchor-icon"></i></a> Criptografia de Email</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>O que é criptografia de ponta-a-ponta (<em>end-to-end encryption</em> ou E2EE) em emails?</h3>
      <p><a href="https://pt.wikipedia.org/wiki/Criptografia_de_ponta-a-ponta">Criptografia de ponta-a-ponta</a> é uma forma de criptografar o conteúdo do email para que ninguém, exceto o(s) destinatário(s), possa ler a mensagem.</p>
      <h3>Como posso criptografar meu e-mail?</h3>
      <p>A maneira padrão de enviar emails com E2EE e fazê-lo funcionar entre diferentes provedores de e-mail é com <a href="https://pt.wikipedia.org/wiki/Pretty_Good_Privacy">OpenPGP</a>. Existem diferentes implementações do padrão OpenPGP, sendo a mais comum a <a href="https://pt.wikipedia.org/wiki/GNU_Privacy_Guard">GnuPG</a> e a <a href=https://openpgpjs.org>OpenPGP.js</a>.</p>
      <p>Há outro padrão popular entre as empresas, chamado <a href="https://en.wikipedia.org/wiki/S/MIME">S/MIME</a>, embora isso requeira um certificado emitido por um <a href="https://pt.wikipedia.org/wiki/Autoridade_de_certifica%C3%A7%C3%A3o">Autoridade de certificação</a> (nem todos eles emitem certificados S/MIME). Ele é suportado no <a href="https://support.google.com/a/topic/9061730?hl=pt-BR&ref_topic=9061731">Google Workspace (anteriormente chamado G Suite)</a> e <a href="https://support.microsoft.com/pt-br/office/criptografar-mensagens-utilizando-s-mime-no-outlook-na-web-878c79fc-7088-4b39-966f-14512658f480?ui=pt-br&rs=pt-br&ad=br">Office 365 Business or Exchange Server 2016, 2019</a>.</p>
      <h3>Que software posso usar para ter criptografia de ponta-a-ponta?</h3>
      <p>Provedores de email que permitem que você use protocolos de acesso padrão como <a href="https://pt.wikipedia.org/wiki/Internet_Message_Access_Protocol">IMAP</a> e <a href="https://pt.wikipedia.org/wiki/Simple_Mail_Transfer_Protocol">SMTP</a> podem ser usados com quaisquer dos <a href="/software/email/">cliente de email que recomendamos</a>. Isso pode ser menos seguro, pois você depende dos provedores de email para garantir que sua implementação de criptografia funcione e não seja comprometida de alguma forma.</p>
    </div>
    <div class="col-md-6">
      <h3>Como faço para proteger minhas chaves privadas?</h3>
      <p>Um cartão inteligente (como <a href="https://support.yubico.com/support/solutions/articles/15000006420-using-your-yubikey-with-openpgp">Yubikey</a> ou <a href="https://www.nitrokey.com">Nitrokey</a>) funciona recebendo uma mensagem de email criptografada de um dispositivo (telefone, tablet, computador, etc) que roda um cliente de e-mail/webmail. A mensagem é então descriptografada pelo cartão inteligente e o conteúdo descriptografado é enviado de volta para o dispositivo.</p>
      <p>É vantajoso que a descriptografia ocorra no cartão inteligente para evitar a possível exposição de sua chave privada a um dispositivo comprometido.</p>
    </div>
  </div>
</div>

<h1 id="metadados" class="anchor"><a href="#metadados"><i class="fas fa-link anchor-icon"></i></a> Metadados de Email</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Quem pode ver os metadados do email?</h3>
      <p>Os metadados de email podem ser vistos por seu software cliente de email (ou webmail) e por qualquer servidor que esteja retransmitindo sua mensagem para qualquer destinatário. Às vezes, os servidores de email também usam tereiros para proteção contra spam.</p>
      <h3>O que são metadados de email?</h3>
      <p>O software de email geralmente mostra alguns cabeçalhos visíveis que você pode ter visto, como: <code>Para</code>, <code>De</code>, <code>Cc</code>, <code>Data</code>, <code>Assunto</code>.
      </p>
      <h3>Quando os metadados de email são usados?</h3>
      <p>O software cliente pode usá-los para mostrar de quem é uma mensagem e a que horas foi recebida. Os servidores podem usá-los para determinar para onde uma mensagem de email deve ser enviada, entre <a href="https://en.wikipedia.org/wiki/Email#Message_header">outros propósitos</a> não transparentes ao usuário.</p>
    </div>
    <div class="col-md-6">
      <h3>Onde estão os metadados do email?</h3>
      <p>Os metadados de email são armazenados no <a href="https://en.wikipedia.org/wiki/Email#Message_header">cabeçalho</a> da mensagem de email.</p>
      <h3>Por que os metadados de email não podem ser criptografados de ponta-a-ponta?</h3>
      <p>Os metadados de email são cruciais para a funcionalidade mais básica do email (de vem e para onde deve ir). A criptografia de ponta-a-ponta não foi integrada aos protocolos de email originalmente e também é opcional, portanto, apenas o conteúdo da mensagem é protegido.</p>
      <h3>Como meus metadados são protegidos?</h3>
      <p>Quando mensagens viajam entre provedores de email, uma conexão criptografada é negociada usando <a href="https://en.wikipedia.org/wiki/Opportunistic_TLS">Opportunistic TLS</a>. Isso protege os metadados de observadores externos, mas como não são criptografados de ponta-a-ponta, os administradores do servidor podem bisbilhotar os metadados de um email.</p>
    </div>
  </div>
</div>

<hr>

<h1 id="cloaking" class="anchor"><a href="#cloaking"><i class="fas fa-link anchor-icon"></i></a> Serviços de Camuflagem de Email</h1>
<div class="container">
  <a href="https://anonaddy.com">
    <img src="/assets/img/svg/3rd-party/anonaddy.svg"
        data-theme-src="/assets/img/svg/3rd-party/anonaddy-dark.svg"
         width="180rem" class="img-fluid float-left mr-3"
         alt="AnonAddy">
  </a>
  <br>
  <p>O <strong><a href="https://anonaddy.com">AnonAddy</a></strong> permite que os usuários criem apelidos que encaminham as mensagens para seu endereço de email. Pode ser auto-hospedado. <a href="https://github.com/anonaddy/anonaddy">Código-fonte no GitHub</a>.</p>
  <a href="https://simplelogin.io">
    <img src="/assets/img/svg/3rd-party/simplelogin.svg"
         width="180rem" class="img-fluid float-left mr-3"
         alt="SimpleLogin">
  </a>
  <br>
  <p>O <strong><a href="https://simplelogin.io">SimpleLogin</a></strong> permite que você crie facilmente apelidos para seu email. Pode ser auto-hospedado. <a href="https://github.com/simple-login/app">Código-fonte no GitHub</a>.</p>
</div>

<h1 id="selfhosting" class="anchor"><a href="#selfhosting"><i class="fas fa-link anchor-icon"></i></a> Auto-Hospedagem de Email</h1>
<div class="container">
  <p>Os usuários avançados podem considerar a criação de seu próprio servidor de email. Os servidores de email exigem atenção e manutenção contínua a fim de manter as coisas seguras e a entrega das mensagens confiável.</p>
  <h3>Soluções de Software Combinadas</h3>
  <a href="https://mailinabox.email/">
    <img src="/assets/img/svg/3rd-party/mail-in-a-box.svg"
         width="80rem" class="img-fluid float-left mr-3"
         alt="Mail-in-a-Box">
  </a>
  <br>
  <p>O <strong><a href="https://mailinabox.email">Mail-in-a-Box</a></strong> é um script de configuração automatizado para implantar um servidor de email no Ubuntu. Seu objetivo é facilitar aos usuários a configuração de seu próprio servidor de email.</p>
  <a href="https://mailcow.email/">
    <img src="/assets/img/svg/3rd-party/mailcow.svg"
         width="80rem" class="img-fluid float-left mr-3"
         alt="Mailcow">
  </a>
  <p>O <strong><a href="https://mailcow.email">Mailcow</a></strong> é um servidor de email mais avançado, perfeito para aqueles com um pouco mais de experiência em Linux. Ele tem tudo o que você precisa em um container Docker: Um servidor de email com suporte DKIM, monitoramento de antivírus e spam, webmail e ActiveSync com SOGo e administração baseada na web com suporte para autenticação de dois fatores. <strong><a href="https://mailcow.github.io/mailcow-dockerized-docs/">Documentação do Mailcow Dockerized</a></strong></p>

  <p>Para uma abordagem mais manual, selecionamos estes dois artigos (em inglês).</p>
    <ul>
      <li><a href="https://poolp.org/posts/2019-09-14/setting-up-a-mail-server-with-opensmtpd-dovecot-and-rspamd/">Setting up a mail server with OpenSMTPD, Dovecot and Rspamd</a> (2019)</li>
      <li><a href="https://www.c0ffee.net/blog/mail-server-guide/">How To Run Your Own Mail Server</a> (Agosto de 2017)</li>
    </ul>
</div>

<h1 id="info" class="anchor"><a href="#info"><i class="fas fa-link anchor-icon"></i></a> Artigos Relacionados Sobre Email (em inglês)</h1>
<div class="container">
  <div class="row">
    <ul>
      <li><a href="https://www.grepular.com/An_NFC_PGP_SmartCard_For_Android">An NFC PGP SmartCard For Android</a></li>
      <li><a href="https://www.wired.com/2011/10/ecpa-turns-twenty-five/">Aging 'Privacy' Law Leaves Cloud E-Mail Open to Cops (2011)</a></li>
      <li><a href="https://thinkprogress.org/the-government-can-still-read-most-of-your-emails-without-a-warrant-322fe6defc7b/">The Government Can (Still) Read Most Of Your Emails Without A Warrant (2013)</a></li>
    </ul>
  </div>
</div>
