<h1 id="extensoes_android" class="anchor"><a href="#extensoes_android"><i class="fas fa-link anchor-icon"></i></a> Extensões de
  Privacidade para Android</h1>

<div class="alert alert-success" role="alert">
  <strong>Aumente sua privacidade com esses apps e extensões para Android.</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/addons/Blokada.png" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Blokada">
    </div>
    <div class="col">
      <h3>Bloqueie anúncios com o <a href="https://blokada.org/">Blokada</a></h3>
      <p><strong>Blokada</strong> funciona com todos os seus apps, não só navegadores web. 
        Ele não precisa de root, suporta tanto redes Wi-Fi quanto móveis, e é perfeitamente seguro e simples de usar. 
        Basta entrar e ativar o bloqueio de anúncios para que o app faça seu trabalho silenciosamente!
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/addons/netguard.png" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="NetGuard">
    </div>
    <div class="col">
      <h3>Controle seu tráfego da Internet com o <a href="https://www.netguard.me/">NetGuard</a></h3>
      <p><strong>NetGuard</strong> fornece diversos jeitos de bloquear o acesso de certos apps à Internet, sem a necessidade de privilégios root. 
        O app permite que você controle o acesso que aplicativos e endereços web têm à conexões Wi-Fi e/ou redes móveis individualmente, 
        de forma que haja maior controle no que diz respeito à transmissão das suas informações.
      </p>

    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/addons/Orbot.png" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Orbot">
    </div>
    <div class="col">
      <h3>Tor para Android com <a href="https://guardianproject.info/apps/orbot/">Orbot</a></h3>
      <p><strong>Orbot</strong> é um aplicativo gratuito de proxy que empodera outros apps a usar a Internet de forma mais segura. 
        Orbot usa o Tor para encriptar seu tráfego da Internet e então o esconde, transferindo os dados encriptados por uma
        série de computadores ao redor do mundo. <strong>Modo Root:</strong> Orbot pode ser configurado para
        filtrar transparentemente todo seu tráfego da Internet através do Tor. Você também pode escolher quais apps em específico devem ou não usar Tor.
    </div>
  </div>

</div>