<h1 id="extensoes_android" class="anchor"><a href="#extensoes_android"><i class="fas fa-link anchor-icon"></i></a> Extensões de
  Privacidade para Android</h1>

<div class="alert alert-success" role="alert">
  <strong>Aumente sua privacidade com esses apps e extensões para Android.</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/Blokada.png" height="70" width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle" alt="Blokada">
    </div>
    <div class="col">
      <h3>Bloqueie anúncios com o <a href="https://blokada.org/">Blokada</a></h3>
      <p><strong>Blokada</strong> funciona com todos os seus apps, não só navegadores web. Ele não precisa de
        <em>root</em>,
        suporta tanto Wi-Fi quanto redes móveis, e é perfeitamente seguro e simples de usar. Apenas entre,
        ative-o, e o app fará seu trabalho silenciosamente!
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/netguard.png" height="70" width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle" alt="NetGuard">
    </div>
    <div class="col">
      <h3>Controle seu tráfego de internet com o <a href="https://www.netguard.me/">NetGuard</a></h3>
      <p><strong>NetGuard</strong> fornece jeitos simples e avançados de bloquear o acesso à internet para certos apps
        sem a necessidade de privilégios <em>root</em>. O app permite que você controle o acesso de aplicativos e
        endereços web à conexões Wi-Fi e/ou
        redes móveis de forma individual, de forma que controle quais apps são
        capazes de transmitir suas informações.
      </p>

    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/Orbot.png" height="70" width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle" alt="Orbot">
    </div>
    <div class="col">
      <h3>Tor para Android com <a href="https://guardianproject.info/apps/orbot/">Orbot</a></h3>
      <p><strong>Orbot</strong> é um aplicativo gratuito de <em>proxy</em> que empodera outros apps a usar a internet de
        forma mais segura. Orbot
        usa Tor para encriptar seu tráfego de internet e então o esconde, transferindo os dados encriptados por uma
        série de computadores ao redor do mundo. <strong>Modo <em>Root</em>:</strong> Orbot pode ser configurado para
        filtrar transparentemente todo seu tráfego de Internet através de Tor. Você também pode escolher quais apps em
        específico você quer usar pelo Tor.
    </div>
  </div>

</div>

<div class="alert alert-warning" role="alert">
  <strong>As seguintes extensões necessitam de acesso <em>root</em>, o que faz seu dispositivo ficar um pouco
    vulnerável. Proceda com cautela.</strong>
</div>

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/xprivacylua.png" class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="XPrivacyLua">
    </div>
    <div class="col">
      <h3>Gerencie as permissões dos seus aplicativos com <a href="https://lua.xprivacy.eu/">XPrivacyLua</a></h3>
      <p>Revogando permissões de Android dos aplicativos geralmente os fazem travar ou não funcionar como deveriam.
        <strong>XPrivacyLua</strong> resolve isso alimentando dados falsos para os aplicativos.</p>
      <p>Requisitos: <a
          href="https://forum.xda-developers.com/apps/magisk/official-magisk-v7-universal-systemless-t3473445">Magisk
          (xda-developers)</a>, <a href="https://forum.xda-developers.com/xposed">Xposed Framework (xda-developers)</a>
      </p>
    </div>
  </div>
</div>