<h1 id="so_movel" class="anchor"><a href="#so_movel"><i class="fas fa-link anchor-icon"></i></a> Sistemas Operacionais Móveis</h1>

<h2 id="so_aosp" class="anchor"><a href="#so_aosp"><i class="fas fa-link anchor-icon"></i></a> Sistemas Operacionais baseados no Android</h1>

<div class="alert alert-warning" role="alert">
  <strong>Ainda que o código-fonte dos sistemas operacionais a seguir estejam disponíveis, instalar aplicativos do Google pode comprometer seu sistema.</strong>
</div>

{% include cardv2.html
  title="CalyxOS"
  image="/assets/img/svg/3rd-party/calyxos.svg"
  description='CalyxOS é uma ROM alternativa baseada no Android Open Source Project (AOSP) em dispositivos Pixel. Tem por objetivo ser seguro e privado por padrão, o que inclui uma boa seleção de aplicativos nativos. Também suporta <a href="https://source.android.com/security/verifiedboot">inicialização verificada</a>.'
  badges="info:AOSP"
  website="https://calyxos.org"
  gitlab="https://gitlab.com/calyxos"
%}

{% include cardv2.html
  title="GrapheneOS"
  image="/assets/img/svg/3rd-party/grapheneos.svg"
  image-dark="/assets/img/svg/3rd-party/grapheneos-dark.svg"
  description='GrapheneOS (anteriormente chamado de CopperheadOS) é um sistema operacional móvel livre e com código-fonte aberto, focado em segurança e privacidade. Também é baseado no Android Open Source Project. Atualmente o projeto tem por foco dispositivos que oferecem forte segurança de hardware.'
  badges="info:AOSP"
  website="https://grapheneos.org/"
  github="https://github.com/GrapheneOS/"
%}

{% include cardv2.html
  title="LineageOS (Builds Oficiais)"
  image="/assets/img/svg/3rd-party/lineageos.svg"
  description='LineageOS é uma ROM alternativa baseada no Android Open Source Project (AOSP) com <a href="https://wiki.lineageos.org/devices/">suporte oficial para uma variedade de diferentes dispositivos</a>. O projeto é o sucessor do popular CyanogenMod, focado em controle do sistema e customização, longevidade de dispositivos, e privacidade. Por motivos de segurança, nós não recomendamos builds não-oficiais do LineageOS para dispositivos não suportados.'
  badges="info:AOSP"
  website="https://www.lineageos.org/"
  privacy-policy="https://www.lineageos.org/legal/"
  github="https://github.com/LineageOS"
%}

<h3>Menções Honrosas</h3>

<ul>
  <li>
    <a href="https://microg.org/">MicroG</a>
    {% include badge.html
    color="info"
    text="Pacote Adicional"
    %}
    {% include badge.html
    color="warning"
    icon="far fa-question-circle"
    %}
    - Projeto que tem por objetivo reimplementar serviços proprietários da Google Play no sistema operacional Android com uma alternativa livre. O projeto microG também mantem um fork do LineageOS com microG e F-Droid pré-instalados em <a href="https://lineage.microg.org/">Lineage for microG</a>.
  </li>
</ul>
