<h1 id="impressao_digital" class="anchor"><a href="#impressao_digital"><i class="fas fa-link anchor-icon"></i></a> Impressão Digital
  do Navegador - A configuração do seu navegador é única?</h1>

<div class="alert alert-warning" role="alert">
  <strong>Seu navegador envia informações que faz com que você seja diferente no meio de milhões de usuários, portanto
    fácil de identificar.</strong>
</div>

<img src="/assets/img/layout/browser-fingerprint.jpg" width="439" height="350" class="img-fluid float-right"
  alt="Imagem de impressão de digital" style="margin-left:20px;">

<p>Quando você visita um site, seu navegador envia informações sobre suas configurações voluntariamente. Tais configurações incluem, mas não se limitam a: fontes
  disponíveis no seu sistema operacional, tipo do navegador web, e extensões. Se a combinação dessas configurações for única, pode ser possível
  identificar e rastrear você sem nem mesmo usar cookies. A EFF criou uma ferramenta chamada <a
    href="https://panopticlick.eff.org/"><em>Panopticlick</em></a> para testar seu navegador e ver o quão único ele é.
</p>

<p>
  <a class="btn btn-warning" href="https://panopticlick.eff.org/">
    Teste seu navegador agora
  </a>
</p>

<p>Você precisa encontrar o que <strong>a maioria dos navegadores</strong> está enviando, e então usar as mesmas
  configurações para trazer seu navegador à mesma população de usuários. Isso significa ter as mesmas fontes, plugins, e
  extensões instaladas da maioria dos usuários online. Você deve ter uma <a href="https://addons.mozilla.org/firefox/addon/uaswitcher/">string de configuração falsificada</a> 
  que bate com a string da maioria dos usuários. Você precisa ter as mesmas configurações habilitadas e desabilitadas, como DNT e WebGL. 
  Você precisa que seu navegador se pareça tão comum quanto de qualquer outra pessoa. 
  Desabilitar JavaScript, usar Linux, ou até mesmo TBB, fará com que seu navegador se destaque entre a maioria.</p>

<p>Navegadores web modernos não foram criados para assegurar sua privacidade digital. Ao invés de se preocupar ao ser identificado pela impressão digital do seu navegador, 
  tudo indica que parece ser mais prático usar <a href="#extensoes"><i class="fas fa-link"></i> extensões de código aberto</a>, como o Privacy Badger e uBlock Origin, para se proteger. 
  Além de respeitar sua liberdade, essas extensões também respeitam sua privacidade. Você irá mais longe com elas do que tentar manipular a impressão digital do seu navegador.</p>


<h3>Extensão Firefox: CanvasBlocker</h3>
<ul>
  <li><a href="https://addons.mozilla.org/firefox/addon/canvasblocker/">addons.mozilla.org</a> -
    <strong><em>CanvasBlocker</em></strong> permite que usuários impeçam sites de usar algumas das APIs
      JavaScript que os identificam por sua impressão digital. Usuários podem escolher por bloquear completamente
    as APIs em alguns ou todos os sites (o que pode fazer com que alguns sites não carreguem de forma
    correta). Também é possível bloquear ou falsificar os resultados.</li> 
</ul>

<h3>Informações relacionadas</h3>

<ul>
  <li><a href="https://panopticlick.eff.org/static/browser-uniqueness.pdf">O Quão Único é o seu Navegador? Peter Eckersley, EFF.</a></li>
  <li><a href="#extensoes"><i class="fas fa-link"></i> Nossa seleção de extensões de privacidade para o Firefox.</a></li>
  <li><a href="https://www.browserleaks.com/">BrowserLeaks.com</a> - Ferramenta para testar a segurança do seu navegador. Ela te diz quais dados de identificação pessoal podem estar vazando sem sua permissão enquanto navega pela internet.</li>
</ul>