<h1 id="extensoes" class="anchor"><a href="#extensoes"><i class="fas fa-link anchor-icon"></i></a> Extensões de Navegador Recomendadas</h1>

<div class="alert alert-secondary" role="alert">
  As extensões aqui recomendadas podem não ser necessárias para todos, com muitas podendo fornecer funcionalidades redundantes. Escolha as que você precisar, e faça suas pesquisas de forma mais aprofundada caso queira aprender melhor sobre a privacidade no Firefox.
</div>

{% include cardv2.html
  title="uBlock Origin: Bloqueie Anúncios e Rastreadores"
  image="/assets/img/svg/3rd-party/ublock_origin.svg"
  description="<strong>uBlock Origin</strong> é um <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode>bloqueador amplo</a> e eficiente que não é pesado pra memória, e ainda consegue carregar e impor a aplicação de milhares de filtros a mais do que vários outros bloqueadores de anúncios populares. Não tem estratégia de monetização e seu código-fonte é completamente aberto. O <a href=https://github.com/gorhill/uBlock/wiki/Advanced-user-features>modo avançado</a> habilita a <a href=https://github.com/gorhill/uBlock/wiki/Dynamic-filtering:-quick-guide>filtragem dinâmica</a>. Filtragem dinâmica permite que o bloqueio estrito similar ao NoScript e uMatrix (Exemplos: bloqueios de nível <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode:-medium-mode>médio</a> ou <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode:-hard-mode>alto</a>).</p>"
  website="https://addons.mozilla.org/firefox/addon/ublock-origin/"
  privacy-policy="https://github.com/gorhill/uBlock/wiki/Privacy-policy"
  github="https://github.com/gorhill/uBlock/"
  firefox="https://addons.mozilla.org/firefox/addon/ublock-origin/"
  chrome="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm"
  opera="https://addons.opera.com/en/extensions/details/ublock/"
  edge="https://www.microsoft.com/en-us/p/ublock-origin/9nblggh444l4"
%}


{% include cardv2.html
  title="HTTPS Everywhere: Proteja Conexões"
  image="/assets/img/svg/3rd-party/https_everywhere.svg"
  description="<strong>HTTPS Everywhere</strong> assegura que você tenha uma conexão criptografada com os sites sempre que disponível, fazendo com que sua navegação fique mais segura. Uma colaboração entre o
  Projeto Tor e a Electronic Frontier Foundation."
  website="https://www.eff.org/https-everywhere"
  privacy-policy="https://www.eff.org/code/privacy/policy"
  github="https://github.com/EFForg/https-everywhere"
  firefox="https://addons.mozilla.org/firefox/addon/https-everywhere"
  chrome="https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp"
  opera="https://addons.opera.com/en/extensions/details/https-everywhere"
%}

{% include cardv2.html
  title="Decentraleyes: Bloqueie Redes de Fornecimento, Entrega e Distribuição de Conteúdo"
  image="/assets/img/svg/3rd-party/decentraleyes.svg"
  description="<strong>Decentraleyes</strong> emula redes de entrega de conteúdo localmente. Para isso, a extensão intercepta requisições, achando o recurso necessário e o injetando no ambiente virtual. Isso tudo acontece instantaneamente, automaticamente, e sem a necessidade de configurações adicionais."
  website="https://decentraleyes.org/"
  privacy-policy="https://decentraleyes.org/privacy-policy/"
  gitlab="https://git.synz.io/Synzvato/decentraleyes"
  firefox="https://addons.mozilla.org/firefox/addon/decentraleyes"
  chrome="https://chrome.google.com/webstore/detail/decentraleyes/ldpochfccmkkmhdbclfhpagapcfdljkj"
  opera="https://addons.opera.com/extensions/details/decentraleyes"
%}

{% include cardv2.html
  title="ClearURLs"
  image="/assets/img/svg/3rd-party/clearurls.svg"
  description="<strong>ClearURLs</strong> irá automaticamente remover elementos que te rastream das URLs para ajudar a proteger sua privacidade quando navegando pela Internet."
  website="https://gitlab.com/KevinRoebert/ClearUrls"
  privacy-policy="https://gitlab.com/KevinRoebert/ClearUrls/-/blob/master/PRIVACY.md"
  gitlab="https://gitlab.com/KevinRoebert/ClearUrls"
  firefox="https://addons.mozilla.org/firefox/addon/clearurls/"
  chrome="https://chrome.google.com/webstore/detail/clearurls/lckanjgmijmafbedllaakclkaicjfmnk"
  edge="https://microsoftedge.microsoft.com/addons/detail/mdkdmaickkfdekbjdoojfalpbkgaddei"
%}

{% include cardv2.html
  title="xBrowserSync"
  image="/assets/img/svg/3rd-party/xbrowsersync.svg"
  description='<strong>xBrowserSync</strong> sincroniza páginas web favoritas através de dispositivos e navegadores, utilizando criptografia de ponta-a-ponta. Dados são criptografados e descriptografados diretamente no dispositivo, somente você poderá lê-los. Nenhum tipo de registro é necessário, pois você pode utilizar identificadores gerados aleatóriamente ou QR codes em todos os dispositivos. <a href="https://www.xbrowsersync.org/#status">Diferentes servidores</a> estão disponíveis, lembrando que você também pode <a href="https://github.com/xbrowsersync/api-docker">auto-hospedar o serviço</a>.'
  website="https://www.xbrowsersync.org/"
  privacy-policy="https://www.xbrowsersync.org/privacypolicy"
  github="https://github.com/xbrowsersync"
  firefox="https://addons.mozilla.org/firefox/addon/xbs/"
  chrome="https://chrome.google.com/webstore/detail/xbrowsersync/lcbjdhceifofjlpecfpeimnnphbcjgnc"
  googleplay="https://play.google.com/store/apps/details?id=com.xBrowserSync.android"
%}

<h3>Menções Honrosas</h3>

<ul>
  <li><a href="https://floccus.org/">floccus</a> - Sincronize páginas web favoritas pelos seus navegadores via Nextcloud, WebDAV ou um arquivo local (portanto podendo utilizar qualquer solução de sincronização de arquivos). Disponível para <a href="https://addons.mozilla.org/firefox/addon/floccus/">Firefox</a>, <a href="https://chrome.google.com/webstore/detail/floccus-bookmarks-sync/fnaicdffflnofjppbagibeoednhnbjhg">Chrome</a>, <a href="https://microsoftedge.microsoft.com/addons/detail/gjkddcofhiifldbllobcamllmanombji">Edge</a>.</li>
</ul>

<h2>Funcionalidades Adicionais</h2>

<div class="alert alert-secondary" role="alert">
  Essas extensões não necessariamente ajudam a proteger sua privacidade, mas adicionam funcionalidades que podem ser úteis ao seu navegador.
</div>

{% include cardv2.html
  title="Terms of Service; Didn’t Read: Permaneça Informado"
  image="/assets/img/svg/3rd-party/terms_of_service_didnt_read.svg"
  description="<strong>Terms of Service; Didn’t Read</strong>: “Eu li e concordo com os Termos de Uso” é uma das maiores mentiras da Internet. Essa extensão tem por objetivo consertar esse problema ao classificar os sites que você usa baseados em seus Termos de Serviço, dando pequenos resumos informativos para que você permaneça informado quanto aos termos daquele site."
  website="https://tosdr.org/pt_BR/frontpage"
  privacy-policy="https://addons.mozilla.org/firefox/addon/terms-of-service-didnt-read/privacy/"
  github="https://github.com/tosdr/"
  firefox="https://addons.mozilla.org/firefox/addon/terms-of-service-didnt-read/"
  chrome="https://chrome.google.com/webstore/detail/terms-of-service-didn%E2%80%99t-r/hjdoplcnndgiblooccencgcggcoihigg"
  opera="https://addons.opera.com/extensions/details/terms-of-service-didnt-read"
%}

{% include cardv2.html
  title="Snowflake"
  image="/assets/img/svg/3rd-party/snowflake.svg"
  description="<strong>Snowflake</strong> é um novo <a href=https://2019.www.torproject.org/docs/pluggable-transports.html.en>transporte plugável</a> do Tor Project. 
  Se você tem uma conexão livre de censuras, rodar esta extensão faz com que sua conexão seja usada como um proxy Snowflake para ajudar usuários a se conectar à rede Tor. 
  Seu IP não será visível para os sites que os usuários entrarem utilizando seu proxy, porque a extensão não irá fazer de você um nó de saída. 
  Se seu acesso à rede Tor for bloqueado, esta extensão não irá ajudá-lo, e você deve utilizar o <a href=https://www.torproject.org>Navegador Tor</a> ao invés disto."
  website="https://snowflake.torproject.org"
  git="https://gitweb.torproject.org/pluggable-transports/snowflake.git"
  firefox="https://addons.mozilla.org/firefox/addon/torproject-snowflake"
  chrome="https://chrome.google.com/webstore/detail/snowflake/mafpmfcccpbjnhfhjnllmmalhifmlcie"
%}

<h2>Gerenciamento de Armazenamento Local</h2>

<h3>Desktop</h3>

<div class="alert alert-warning" role="alert">
  Essas extensões são o jeito mais recomendado para controlar dados de armazenamento local que vários sites e aplicativos web possam vir a criar no seu computador.
</div>

{% include cardv2.html
  title="Temporary Containers"
  image="/assets/img/svg/3rd-party/temporary_containers.svg"
  image-dark="/assets/img/svg/3rd-party/temporary_containers-dark.svg"
  description="<strong>Temporary Containers</strong> te permite abrir abas, sites, e links em containers descartáveis, gerenciados de forma automática. Containers isolam dados que sites armazenam (cookies, dados em geral, e mais) de dados de outros sites, melhorando sua privacidade e segurança enquanto navega."
  website="https://addons.mozilla.org/firefox/addon/temporary-containers/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/temporary-containers/privacy/"
  github="https://github.com/stoically/temporary-containers"
  firefox="https://addons.mozilla.org/firefox/addon/temporary-containers/"
%}

{% include cardv2.html
  title="Firefox Multi-Account Containers"
  image="/assets/img/svg/3rd-party/firefox_multi_account_containers.svg"
  description="<strong>Firefox Multi-Account Containers</strong> te permite criar containers para sites específicos. Esses containers são isolados entre si. Essa extensão pode ser utiliza em conjunto com a Temporary Containers para permitir logins persistentes para sites que você especificar."
  website="https://support.mozilla.org/kb/containers"
  github="https://github.com/mozilla/multi-account-containers"
  firefox="https://addons.mozilla.org/firefox/addon/multi-account-containers/"
%}

<h3>Android</h3>

<div class="alert alert-warning" role="alert">
  Infelizmente a versão de Firefox para Android <a href="https://github.com/stoically/temporary-containers/issues/465">ainda não tem suporte a containers temporários</a>. As recomendações abaixo são substitutas, porém as APIs não existem para apagar <a href="https://en.wikipedia.org/wiki/Indexed_Database_API">IndexedDB</a>, cache <a href="https://en.wikipedia.org/wiki/Progressive_web_application#Service_workers">Service Workers</a>, <a href="https://en.wikipedia.org/wiki/Progressive_web_application#AppCache_(obsolete)">appCache</a>, ou cache de hosts. Por causa disso, esses substitutos não serão tão bons quanto as sugestões para Desktop.
</div>

{% include cardv2.html
  title="ETag Stoppa"
  image="/assets/img/svg/3rd-party/etag_stoppa.svg"
  description="<strong>ETag Stoppa</strong> previne que o Firefox armazene tags de entidades, removendo cabeçalhos ETag em respostas de forma incondicional e sem exceções."
  website="https://addons.mozilla.org/firefox/addon/etag-stoppa/"
  forum=""
  github="https://github.com/claustromaniac/etag-stoppa"
  firefox="https://addons.mozilla.org/firefox/addon/etag-stoppa/"
%}

{% include cardv2.html
  title="Cookie AutoDelete: Remova Cookies Automaticamente"
  image="/assets/img/png/3rd-party/cookie_autodelete.png"
  description="<strong>Cookie AutoDelete</strong> remove cookies automaticamente quando eles não são mais usados por abas abertas. Sem os cookies as suas sessões reminiscentes serão eliminadas, assim
  como informações usadas para te espionar."
  website="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
  github="https://github.com/Cookie-AutoDelete/Cookie-AutoDelete"
  firefox="https://addons.mozilla.org/firefox/addon/cookie-autodelete"
  chrome="https://chrome.google.com/webstore/detail/cookie-autodelete/fhcgjolkccmbidfldomjliifgaodjagh"
%}

<h2>Para Usuários Avançados</h2>

<div class="alert alert-warning" role="alert">
  Essas extensões precisam de muitas configurações adicionais para que as coisas funcionem. Alguns sites não irão funcionar corretamente até que você configure a extensão.
</div>

{% include cardv2.html
  title="uMatrix: Impeça Requisições Entre Sites"
  image="/assets/img/png/3rd-party/umatrix.png"
  description="<strong>uMatrix</strong> te dá controle sobre as requisições que os sites fazem para outros sites. Muitos sites integram recursos que permitem que outros sites rastreiem você, como os botões de Curtir do Facebook ou o Google Analytics. uMatrix permite a execução de scripts internos de sites em sua configuração padrão. Se você quiser a funcionalidade padrão do NoScript considere <a href=https://github.com/gorhill/uMatrix/wiki/How-to-block-1st-party-scripts-everywhere-by-default>bloquear todos os cripts internos por padrão</a>. <strong>Essa extensão foi <a href=https://github.com/uBlockOrigin/uMatrix-issues/issues/291#issuecomment-694988696>descontinuada</a>.</strong>"
  website="https://addons.mozilla.org/firefox/addon/umatrix/"
  privacy-policy="https://github.com/gorhill/uMatrix/wiki/Privacy-policy"
  github="https://github.com/gorhill/uMatrix"
  firefox="https://addons.mozilla.org/firefox/addon/umatrix"
  chrome="https://chrome.google.com/webstore/detail/umatrix/ogfcmafjalglgifnmanfmnieipoejdcf"
  opera="https://addons.opera.com/extensions/details/umatrix"
%}

{% include cardv2.html
  title="CanvasBlocker"
  image="/assets/img/svg/3rd-party/canvasblocker.svg"
  description="<strong>CanvasBlocker</strong> te permite previnir que sites utilizem APIs JavaScript para rastrear as configurações do seu navegador. Você pode escolher se quer bloquear as APIs inteiras em alguns ou todos os sites (o que pode quebrar alguns sites) ou só bloquear ou falsificar uma API que não irá denunciar suas configurações verdadeiras."
  website="https://github.com/kkapsner/CanvasBlocker/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/canvasblocker/privacy/"
  github="https://github.com/kkapsner/CanvasBlocker/"
  firefox="https://addons.mozilla.org/firefox/addon/canvasblocker/"
%}
