<h1 id="extensoes" class="anchor"><a href="#extensoes"><i class="fas fa-link anchor-icon"></i></a> Extensões de Privacidade
  para o Firefox</h1>

<div class="alert alert-primary" role="alert">
  <strong>Melhore sua privacidade com excelentes extensões para o Firefox.</strong>
</div>


{% include cardv2.html
title="Privacy Badger: Impeça Rastreamentos"
image="/assets/img/addons/privacy-badger.png"
description="<strong>Privacy Badger</strong> é uma extensão de navegador que impede que anunciantes e outros rastreadores te rastreiem secretamente, monitorando quais páginas você visita na internet e outras informações, como sua localização. Privacy Badger aprende sobre rastreadores inspecionando requisições à conteúdo externo nos sites em que navega. 
<span class=\"badge badge-warning\" data-toggle=\"tooltip\" title=\"Por favor, fique ciente que o Google Analytics não é considerado externo pelo Privacy Badger, o que significa que o Google Analytics não será bloqueado se você não utilizar outro bloqueador, como o uBlock Origin.\">aviso <i class=\"far fa-question-circle\"></i></span>"
website="https://www.eff.org/privacybadger"
github="https://github.com/EFForg/privacybadger"
firefox=""
chrome=""
opera=""
android=""
%}

{% include cardv2.html
title="uBlock Origin: Bloqueie Anúncios e Rastreadores"
image="/assets/img/addons/ublock-origin.png"
description="<strong>uBlock Origin</strong> é um <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode>bloqueador amplo</a> e eficiente que não é pesado pra memória, e ainda consegue carregar e impor a aplicação de milhares de filtros a mais que vários outros bloqueadores de anúncios populares. Não tem estratégia de monetização e seu código é completamente aberto."
website="https://addons.mozilla.org/firefox/addon/ublock-origin/"
github="https://github.com/gorhill/uBlock/"
firefox=""
chrome=""
safari=""
opera=""
edge=""
android=""
%}

{% include cardv2.html
title="Cookie AutoDelete: Delete Cookies Automaticamente"
image="/assets/img/addons/cookie-autodelete.png"
description="<strong>Cookie AutoDelete</strong> remove cookies automaticamente quando eles não são mais usados por abas abertas. Sem os cookies as suas sessões reminiscentes serão eliminadas, assim
como informações usadas para te espionar."
website="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
github="https://github.com/Cookie-AutoDelete/Cookie-AutoDelete"
firefox=""
chrome=""
%}

{% include cardv2.html
title="HTTPS Everywhere: Proteja Conexões"
image="/assets/img/addons/https-everywhere.png"
description="<strong>HTTPS Everywhere</strong> encripta suas comunicações com vários sites, fazendo com que sua navegação fique mais segura. Uma colaboração entre o
Projeto Tor e a Electronic Frontier Foundation."
website="https://www.eff.org/https-everywhere"
github="https://github.com/EFForg/https-everywhere"
firefox=""
chrome=""
android=""
opera=""
%}

{% include cardv2.html
title="Decentraleyes: Bloqueie Redes de Fornecimento, Entrega e Distribuição de Conteúdo"
image="/assets/img/addons/decentraleyes.png"
description="<strong>Decentraleyes</strong> emula redes de entrega de conteúdo localmente. Para isso, a extensão intercepta requisições, achando o recurso
necessário e o injetando no ambiente virtual. Isso tudo acontece sem a necessidade de configurações adicionais."
website="https://decentraleyes.org/"
gitlab="https://git.synz.io/Synzvato/decentraleyes"
firefox=""
chrome=""
opera=""
%}

{% include cardv2.html
title="Terms of Service; Didn’t Read: Permaneça Informado"
image="/assets/img/addons/tosdr.png"
description="<strong>Terms of Service; Didn’t Read</strong>: “Eu li e concordo com os Termos de Uso” é uma das maiores mentiras da internet. Essa extensão tem por objetivo consertar esse problema
ao classificar os sites que você usa baseados em seus Termos de Serviço, dando pequenos resumos informativos para que você permaneça informado quanto aos termos daquele site."
website="https://tosdr.org/"
github="https://github.com/tosdr/"
firefox=""
chrome=""
opera=""
safari=""
%}

<h2>Extensões Avançadas</h2>

<div class="alert alert-warning" role="alert">
  <strong>
    Essas extensões precisam de muitas configurações adicionais para que as coisas funcionem. 
    Alguns sites não irão funcionar corretamente até que você configure a extensão.
  </strong>
</div>

{% include cardv2.html
title="uMatrix: Impeça Requisições Entre Sites"
image="/assets/img/addons/umatrix.png"
description="<strong>uMatrix</strong> te dá controle sobre as requisições que os sites fazem para outros sites. Muitos sites integram recursos que permitem que outros sites rastreiem você, como os botões de Curtir do Facebook ou o
Google Analytics."
website="https://addons.mozilla.org/firefox/addon/umatrix/"
github="https://github.com/gorhill/uMatrix"
firefox=""
chrome=""
opera=""
%}

{% include cardv2.html
title="NoScript Security Suite: Esteja No Controle"
image="/assets/img/addons/noscript.png"
description="<strong>NoScript</strong> é uma extensão altamente customizável para permitir seletivamente que JavaScript, Java, e Flash rodem somente em sites que
você confia. Não é uma extensão para iniciantes, porque exige conhecimentos técnicos para configurá-la."
website="https://addons.mozilla.org/firefox/addon/noscript/"
github="https://github.com/hackademix/noscript"
firefox=""
chrome=""
%}