<h1 id="addons" class="anchor"><a href="#addons"><i class="fas fa-link anchor-icon"></i></a> Extensões de Privacidade para o Firefox</h1>

<div class="alert alert-success" role="alert">
  <strong>Melhore sua privacidade com essas excelentes extensões de Firefox.</strong>
</div>

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/Privacy-Badger.png" height="70" width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle" alt="Privacy Badger">
    </div>
    <div class="col">
      <h3>Impeça o rastreamento com <a href="https://www.eff.org/privacybadger">Privacy Badger</a></h3>
      <p><strong><em>Privacy Badger</em></strong> é uma extensão de navegador que impede anunciantes e outros
        rastreadores de
        secretamente rastrear onde você vai e quais páginas você visita na internet. <em>Privacy Badger</em> aprende
        sobre
        rastreadores inspecionando requisições de sites de recursos externos enquanto você navega. Esteje
        ciente que o <em>Google Analytics</em> é considerado como um rastreador permitido, o que significa que ele não
        será bloqueado se você não usar outro bloqueador, como o <em>uBlock
          Origin</em>.</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/uBlock.png" width="200" height="70"
        class="img-fluid d-block mr-auto ml-auto align-middle" alt="uBlock">
    </div>
    <div class="col">
      <h3>Bloqueie anúncios e rastreadores com <a href="https://addons.mozilla.org/firefox/addon/ublock-origin/">uBlock
          Origin</a></h3>
      <p>Um <a href="https://github.com/gorhill/uBlock/wiki/Blocking-mode">bloqueador amplo</a> e eficiente que não é
        pesado pra memória, e ainda consegue carregar e impor a aplicação de milhares de filtros a mais que vários
        outros bloqueadores de anúncios populares. Não tem estratégia de monetização e <a
          href="https://github.com/gorhill/uBlock/">seu código é completamente aberto</a>. Nós recomendamos o uso de
        <em>Firefox</em>, mas <em>uBlock
          Origin</em> também funciona em outros navegadores como <em>Safari</em>, <em>Opera</em>, e <em>Chromium</em>.
        Ao
        contrário do
        <em>AdBlock Plus</em>, <em>uBlock</em> não permite os chamados <a
          href="https://adblockplus.org/acceptable-ads">"anúncios aceitáveis"</a>.</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/Cookie-AutoDelete.png" width="200" height="70"
        class="img-fuid d-block mr-auto ml-auto align-middle" alt="Cookie AutoDelete">
    </div>
    <div class="col">
      <h3>Delete cookies automaticamente com <a href="https://addons.mozilla.org/firefox/addon/cookie-autodelete">Cookie
          AutoDelete</a></h3>
      <p>Remova <em>cookies</em> automaticamente quando eles não são mais usados por abas abertas. Sem os
        <em>cookies</em> as suas sessões reminiscentes serão eliminadas, assim como informações usadas para te espionar.
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/HTTPS-Everywhere.png" width="200" height="70"
        class="img-fuid d-block mr-auto ml-auto align-middle" alt="HTTPS Everywhere">
    </div>
    <div class="col">
      <h3>Encriptação com <a href="https://www.eff.org/https-everywhere">HTTPS Everywhere</a></h3>
      <p>Uma extensão para <em>Firefox</em>, <em>Chrome</em>, e <em>Opera</em> que encripta suas comunicações com vários
        sites, fazendo com que sua navegação fique mais segura. Uma colaboração entre o Projeto Tor e a <em>Electronic
          Frontier Foundation</em>.</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/Decentraleyes.png" width="200" height="70"
        class="img-fuid d-block mr-auto ml-auto align-middle" alt="Decentraleyes">
    </div>
    <div class="col">
      <h3>Bloqueie redes de entrega de conteúdo com <a
          href="https://addons.mozilla.org/firefox/addon/decentraleyes/">Decentraleyes</a></h3>
      <p>Emula redes de entraga de conteúdo localmente. Para isso, a extensão intercepta requisições, achando o recurso
        necessário e o injetando no ambiente virtual. Isso tudo acontece instantaneamente e automaticamente, sendo que
        nenhuma
        configuração adicional é necessária. <i>Código fonte: <a
            href="https://git.synz.io/Synzvato/decentraleyes">GitLab
            (auto-hospedado)</a>.</i>
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/ToSDR.png" width="200" height="70"
        class="img-fuid d-block mr-auto ml-auto align-middle" alt="Terms of Service - Didn't Read">
    </div>
    <div class="col">
      <h3>Informe-se com <a href="https://addons.mozilla.org/firefox/addon/terms-of-service-didnt-read/">Terms of
          Service; Didn’t Read</a></h3>
      <p>“Eu li e concordo com os Termos” é a maior mentira da internet. Essa extensão tem por objetivo consertar esse
        problema
        classificando sites baseados em seus Termos de Serviço, dando pequenos resumos informativos. <i>Código fonte: <a
            href="https://github.com/tosdr/">GitHub</a>.</i></p>
    </div>
  </div>

</div>

<div class="alert alert-warning" role="alert">
  <strong>As extensões a seguir precisam de bastante interação do usuário para que as coisas funcionem. Alguns sites não
    irão funcionar corretamente até que você tenha configurado as extensões.</strong>
</div>

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/uMatrix.png" width="200" height="70"
        class="img-fuid d-block mr-auto ml-auto align-middle" alt="uMatrix">
    </div>
    <div class="col">
      <h3>Impeça requisições entre sites com <a href="https://addons.mozilla.org/firefox/addon/umatrix/">uMatrix</a>
      </h3>
      <p>Muitos sites integram recursos que permitem que outros sites rastreiem você, como os botões de Curtir do
        <em>Facebook</em> ou o <em>Google Analytics</em>. <em>uMatrix</em> te dá controle sobre as requisições que os
        sites fazem para outros sites. Isso acaba permitindo um controle refinado sobre a informação que você vaza
        <em>online</em>.</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12">
      <img src="/assets/img/addons/NoScript.png" width="200" height="70"
        class="img-fuid d-block mr-auto ml-auto align-middle" alt="NoScript">
    </div>
    <div class="col">
      <h3>Esteja em total controle com <a href="https://addons.mozilla.org/firefox/addon/noscript/">NoScript Security
          Suite</a></h3>
      <p>Extensão altamente customizável para permitir seletivamente que <em>JavaScript</em>, <em>Java</em>, e
        <em>Flash</em> rodem somente em sites que você confia.
        Não é uma extensão para iniciantes, porque exige conhecimentos técnicos para configurá-la.</p>
    </div>
  </div>
</div>