<h1 id="webrtc" class="anchor"><a href="#webrtc"><i class="fas fa-link anchor-icon"></i></a> Vazamento de IP por WebRTC</h1>

<div class="alert alert-danger" role="alert">
  WebRTC é um protocolo de comunicação recente que depende de JavaScript. Ele pode vazar seu endereço IP verdadeiro, até mesmo ao utilizar uma VPN.
</div>

<p>Mesmo que extensões como o NoScript previnam isso, é provável que seja uma boa ideia bloquear o protocolo diretamente também, só pra ter certeza. <b>Nota:</b> Isso também irá desabilitar funcionalidades de chamadas de voz/vídeo pelo navegador, disponíveis em aplicativos web como Discord, Hangouts, Jitsi, etc.</p>

<p>
  <a class="btn btn-warning" rel="noopener noreferrer" href="https://ipleak.net">Teste seu navegador agora</a>
</p>

<h3>Como desabilitar o WebRTC no Firefox?</h3>

<p>Resumo: Modifique "media.peerconnection.enabled" para "false" em "about:config".</p>
<p><strong>Passo a passo:</strong></p>

<ol class="long-string-list">
  <li>Digite "about:config" na barra de endereço do Firefox e aperte a tecla Enter</li>
  <li>Aperte o botão "Eu aceito o risco!"</li>
  <li>Pesquise por "media.peerconnection.enabled"</li>
  <li>Clique duas vezes no valor do registro da configuração; a coluna "Valor" deve se tornar "false"</li>
  <li>Pronto. Agora faça o teste de vazamento WebRTC novamente.</li>
</ol>

<p>Se você quiser garantir que todas as configurações relacionadas a WebRTC estejam realmente desabilitadas, troque essas configurações para os seguintes valores:</p>

<ol class="long-string-list">
  <li>media.peerconnection.turn.disable = true</li>
  <li>media.peerconnection.use_document_iceservers = false</li>
  <li>media.peerconnection.video.enabled = false</li>
  <li>media.peerconnection.identity.timeout = 1</li>
</ol>

<p>Agora você pode ter 100% de certeza que o protocolo WebRTC foi desabilitado.</p>

<p>
  <a class="btn btn-primary" rel="noopener noreferrer" href="https://ipleak.net">Teste seu navegador novamente</a>
</p>

<h3>Como desabilitar o WebRTC no Safari?</h3>

<p>Safari é bem mais restritivo com WebRTC do que outros navegadores mais conhecidos, e não vaza seu endereço IP com suas configurações padrão. Se você desejar, você pode seguir esses passos para checar que seu navegador está protegido nesse sentido:</p>

<ol class="long-string-list">
  <li>Selecione "Preferências" no menu do Safari na barra de opções.</li>
  <li>Selecione a aba Avançado e marque a opção de habilitar o menu de desenvolvimento.</li>
  <li>Saia de Preferências e abra o menu de desenvolvimento na sua barra de opções.</li>
  <li>No menu drop-down, abra o submenu "WebRTC" para se certificar que a opção de habilitar a API legacy de WebRTC esteja desmarcada. Se estiver cinza, melhor ainda.</li>
</ol>

<h3>Como desabilitar o WebRTC no Google Chrome?</h3>

<p>WebRTC não pode ser completamente desabilitado no Chrome, porém é possível mudar configurações de rota relacionadas usando uma extensão, previnindo assim vazamentos de IP. Duas soluções com código-fonte aberto são <a href="https://chrome.google.com/webstore/detail/webrtc-leak-prevent/eiadekoaikejlgdbkbdfeijglgfdalml">WebRTC Leak Prevent</a> (opções podem precisar ser trocadas dependendo da situação), e <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm">uBlock Origin</a> (selecione "Impedir o protocolo WebRTC de vazar endereços de IP locais" em Configurações).</p>

<h3>Mas e em outros navegadores?</h3>

<p>Chrome no macOS e o navegador Explorer ainda não implementam a tecnologia WebRTC. <a href="#navegador"><i class="fas fa-link"></i> Mas recomendamos o uso do Firefox em todos os dispositivos.</a></p>
