<h1 id="fingerprint" class="anchor"><a href="#fingerprint"><i class="fas fa-link anchor-icon"></i></a> Impressão Digital
  do Navegador - A configuração do seu navegador é única?</h1>

<div class="alert alert-warning" role="alert">
  <strong>Seu navegador manda informações que faz com que você seja distinguido no meio de milhões de usuários, portanto
    fácil de identificar.</strong>
</div>

<img src="/assets/img/layout/browser-fingerprint.jpg" width="439" height="350" class="img-fluid float-right"
  alt="Fingerprint image" style="margin-left:20px;">

<p>Quando você visita um site, seu navegador envia informações sobre suas configurações voluntariamente, como fontes
  disponíveis, tipo do navegador, e extensões. Se a combinação dessas configurações for única, pode ser possível
  identificar e rastrear você sem nem mesmo usar <em>cookies</em>. A EFF criou uma ferramenta chamada <a
    href="https://panopticlick.eff.org/"><em>Panopticlick</em></a> para testar seu navegador e ver o quão único ele é.
</p>

<p>
  <a class="btn btn-warning" href="https://panopticlick.eff.org/">
    Teste seu navegador agora
  </a>
</p>

<p>Você precisa encontrar o que <strong>a maioria dos navegadores</strong> está enviando, e então usar as mesmas
  configurações para trazer seu navegador à mesma população. Isso significa ter as mesmas fontes, <em>plugins</em>, e
  extensões instaladas como a maioria dos usuários online. Você deve ter uma <a
    href="https://addons.mozilla.org/firefox/addon/uaswitcher/"><em>string</em> de configuração falsificada</a> que bate
  com a da maioria dos usuários. Você precisa ter as mesmas configurações habilitadas e desabilitadas, como <em>DNT</em>
  e <em>WebGL</em>. Você precisa que seu navegador se pareça tão comum quanto de qualquer outra pessoa. Desabilitar
  <em>JavaScript</em>,
  usar <em>Linux</em>, ou até mesmo <em>TBB</em>, fará com que seu navegador se destaque entre a maioria.</p>

<p>Navegadores de internet modernos não foram arquitetados para assegurar sua privacidade pessoal online. Ao invés de se
  preocupar com o navegador sendo identificado por sua impressão digital, parece ser mais prático utilizar <a
    href="#addons"><i class="fas fa-link"></i> extensões gratuitas</a>
  como o <em>Privacy Badger</em>, <em>uBlock Origin</em> e <em>Disconnect</em>. Eles não só respeitam sua liberdade, mas
  também sua privacidade. Você pode ir bem mais longe com eles do que tentar manipular a impressão digital do seu
  navegador.</p>


<h3>Extensão Firefox: CanvasBlocker</h3>
<ul>
  <li><a href="https://addons.mozilla.org/firefox/addon/canvasblocker/">addons.mozilla.org</a> -
    <strong><em>CanvasBlocker</em></strong> permite que usuários impeçam sites de usar algumas das <em>APIs
      JavaScript</em> que os identificam por sua impressão digital. Usuários podem escolher por bloquear por completa
    tais <em>APIs</em> em alguns ou todos os sites (o que pode fazer com que alguns sites não carreguem de forma
    correta) ou somente bloquear ou falsificar os resultados.</li> <!-- tradução pode ser melhor -->
</ul>

<h3>Informações Relacionadas</h3>

<ul>
  <li><a href="https://panopticlick.eff.org/static/browser-uniqueness.pdf">How Unique Is Your Web Browser? Peter
      Eckersley, EFF.</a></li>
  <li><a href="#addons"><i class="fas fa-link"></i> Our Firefox privacy add-ons section.</a></li>
  <li><a href="https://www.browserleaks.com/">BrowserLeaks.com</a> - Web browser security testing tools, that tell you
    what exactly personal identity data may be leaked without any permissions when you surf the Internet.</li>
</ul>