<h1 id="navegador" class="anchor"><a href="#navegador"><i class="fas fa-link anchor-icon"></i></a> Recomendações de Navegadores</h1>

{% include cardv2.html
title="Mozilla Firefox"
image="/assets/img/tools/Firefox.png"
description='Firefox é rápido, confiável, com código-fonte aberto e respeita sua privacidade. Não se esqueça de ajustar as configurações de
acordo com nossas recomendações: <a href="#webrtc"><i class="fas fa-link"></i> WebRTC</a>, <a href="#about_config"><i class="fas fa-link"></i> about:config</a>. Instale também as <a href="#extensoes"><i class="fas fa-link"></i> extensões de privacidade</a>.'
website="https://www.firefox.com/"
github="https://github.com/mozilla"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

{% include cardv2.html
title="Tor Browser: Fornece Anonimato"
image="/assets/img/tools/Tor-Browser.png"
description='O navegador Tor deve ser sua escolha caso precise de uma camada extra de anonimidade. É uma versão modificada do
Firefox, já vem com várias extensões de privacidade instaladas, encriptação e um proxy avançado.'
website="https://www.torproject.org/"
git="https://trac.torproject.org/projects/tor"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}
