<h1 id="navegador" class="anchor"><a href="#navegador"><i class="fas fa-link anchor-icon"></i></a> Recomendações de
  Navegador</h1>

{% include cardv2.html
title="Mozilla Firefox"
image="/assets/img/tools/Firefox.png"
description='Firefox é rápido, confiável, de código aberto e respeita sua privacidade. Não se esqueça de ajustar as configurações de
acordo com nossas recomendações: <a href="#webrtc"><i class="fas fa-link"></i> WebRTC</a>, <a href="#about_config"><i class="fas fa-link"></i> about:config</a>. Instale também as <a href="#extensoes"><i class="fas fa-link"></i> extensões de privacidade</a>.'
website="https://www.firefox.com/"
github="https://github.com/mozilla"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

{% include cardv2.html
title="Tor Browser - Para Experts"
image="/assets/img/tools/Tor-Browser.png"
description='O navegador Tor deve ser sua escolha caso precise de uma camada extra de anonimidade. É uma versão modificada do
Firefox, já vem com várias extensões de privacidade instaladas, encriptação e um proxy avançado.'
website="https://www.torproject.org/"
git="https://trac.torproject.org/projects/tor"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

{% include cardv2.html
title="Brave Browser - Completo, porém Experimental"
image="/assets/img/tools/Brave.png"
description="O novo navegador de código aberto Brave bloqueia anúncios e rastreadores automaticamente, o tornando mais rápido e seguro do que a maioria dos navegadores atuais. Brave é baseado no navegador Chromium, que por sua vez é a base do Chrome. <span class=\"badge badge-warning\" data-toggle=\"tooltip\" title=\"Brave é uma boa escolha se você quiser utilizar um navegador baseado em Chromium. Mas considerando o atual
estado de desenvolvimento do Chromium, ele acaba não sendo tão bom quanto o Firefox com as extensões de privacidade.\">experimental <i class=\"far fa-question-circle\"></i></span>"
website="https://brave.com/"
github="https://github.com/brave"
windows=""
mac=""
linux=""
android=""
ios=""
%}