<h1 id="calendario_contatos" class="anchor"><a href="#calendario_contatos"><i class="fas fa-link anchor-icon"></i></a>
  Sincronização de Calendário e Contatos</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você utiliza serviços de sincronização de calendário e contatos como Google Sync ou iCloud, recomendamos
    que escolha uma alternativa daqui.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Nextcloud"
  image="/assets/img/provider/Nextcloud.png"
  url="https://nextcloud.com/"
  footer="SO do Cliente: Windows, macOS, Linux, BSD, Unix, iOS, Android, Fire OS. Servidor: Linux."
  description="NextCloud é um pacote de softwares (tanto para clientes quanto servidores) para criar e usar serviços de armazenamento de arquivos. Isso inclui sincronização de calendário através de CalDAV e contatos através de CardDAV. Nextcloud é gratuito e de código aberto, portanto permitindo que qualquer um o instale e opere num servidor privado, sem nenhuma cobrança adicional."
  %}

  {% include card.html color="primary"
  title="Email Providers"
  image="/assets/img/misc/email.png"
  url="../email"
  website="Seção de Provedores de Email"
  footer="SO: depende do provedor de email."
  description="Muitos provedores de email também oferecem serviços de sincronização de calendário ou contatos. Recorra a <a href=\"../../provedores/email\">seção de Provedores de Email</a> para escolher um provedor e checar se eles também oferecem sincronização de calendário e contatos."
  %}

  {% include card.html color="warning"
  title="EteSync"
  image="/assets/img/provider/etesync.png"
  url="https://www.etesync.com/"
  footer="SO do Cliente: Android, Web. SO do Servidor: Linux."
  description="EteSync é um serviço seguro com encriptação ponta-a-ponta de sincronização na nuvem de informações pessoais de agenda e backup para Android e qualquer SO que suporta CalDAV/CardDAV. Custa $14 por ano para usar, ou você pode hospedá-lo no seu próprio servidor gratuitamente."
  %}

</div>

<h3>Menções honrosas</h3>

<ul>
  <li>
    <a href="https://fruux.com/">fruux</a> - sistema unificado de contatos/calendários que funciona em múltiplas
    plataformas e dispositivos.
  </li>

  <li>
    <a href="https://signal.org/blog/flock/">Flock</a> - um serviço de sincronização de calendário e contatos
    descontinuado pela Open
    Whisper Systems. Apesar de ter sido fechado, seu <a href="https://github.com/signalapp/Flock">código-fonte</a> ainda
    está disponível no GitHub.
  </li>

  <li>
    <a href="../nuvem">backups na nuvem</a> - considere exportar seu calendário e/ou contatos regularmente e salvá-los
    em dispositivos de armazenamento separados ou fazer upload num serviço na nuvem (idealmente após <a
      href="../encriptacao/#encriptar">encriptá-los</a>).
  </li>
</ul>