<h1 id="calendario_contatos" class="anchor"><a href="#calendario_contatos"><i class="fas fa-link anchor-icon"></i></a> Sincronização de Calendário e Contatos</h1>

<div class="alert alert-warning" role="alert">
  <strong>
    Se você estiver utilizando serviços de sincronização de calendário e contatos como Google Sync ou iCloud, recomendamos que escolha uma alternativa daqui.
  </strong>
</div>

{%
  include cardv2.html
  title="Nextcloud"
  image="/assets/img/svg/3rd-party/nextcloud.svg"
  description="<strong>Nextcloud</strong> é um conjunto de software clientes-servidor gratuitos e com código-fonte aberto e livre, feitos para criar seus próprios serviços de hospedagem de arquivos num servidor privado que você controla. Isso inclui a funcionalidade de sincronização de calendários via CalDAV e contatos via CardDAV. Por possuir código-fonte aberto e livre, é possível para qualquer pessoa instalar e operar o programa sem nenhum custo adicionai num servidor privado."
  website="https://nextcloud.com/"
  privacy-policy="https://nextcloud.com/privacy/"
  github="https://github.com/nextcloud"
  windows="https://nextcloud.com/install/"
  linux="https://nextcloud.com/install/"
  mac="https://nextcloud.com/install/"
  freebsd="https://www.freshports.org/deskutils/nextcloudclient/"
  openbsd="http://openports.se/www/nextcloud"
  netbsd="http://pkgsrc.se/www/php-nextcloud"
  android="https://nextcloud.com/install/"
  ios="https://nextcloud.com/install/"
%}

{%
  include cardv2.html
  title="EteSync"
  image="/assets/img/svg/3rd-party/etesync.svg"
  description="<strong>EteSync</strong> é um serviço seguro e criptografado de ponta-a-ponta, fornecendo sincronização de informações pessoais de agenda e backup para Android e qualquer sistema operacional que suporte CalDAV/CardDAV. Custa $24 USD por ano para utilizar, ou você pode hospedá-lo no seu próprio servidor sem nenhuma cobrança adicional."
  website="https://www.etesync.com/"
  privacy-policy="https://www.etesync.com/tos/#privacy"
  github="https://github.com/etesync"
  web="https://client.etesync.com/"
  windows="https://www.etesync.com/install/dav/"
  mac="https://www.etesync.com/install/dav/"
  linux="https://www.etesync.com/install/dav/"
  freebsd="https://www.etesync.com/install/dav/"
  openbsd="https://www.etesync.com/install/dav/"
  netbsd="https://www.etesync.com/install/dav/"
  fdroid="https://f-droid.org/packages/com.etesync.syncadapter/"
  googleplay="https://play.google.com/store/apps/details?id=com.etesync.syncadapter"
  ios="https://www.etesync.com/install/ios/"
%}

{%
  include cardv2.html
  title="Provedores de Email"
  image="/assets/img/svg/layout/email.svg"
  description='Muitos provedores de email também oferecem serviços de sincronização de calendário e contatos. Dê uma olhada em <a href="/provedores/email">nossas recomendações de Provedores de Email</a> para escolher um provedor e checar se o mesmo oferece sincronização de calendário e/ou contatos.'
  website="/provedores/email"
%}

<h3>Menções Honrosas</h3>

<ul>
  <li>
    <a href="https://fruux.com/">fruux</a> - Um sistema unificado de contatos/calendários que funciona em múltiplas plataformas e dispositivos.
  </li>

  <li>
    <a href="../nuvem">Backups na nuvem</a> - Considere exportar seu calendário e/ou contatos regularmente e salvá-los em dispositivos de armazenamento separados, ou armazená-los num serviço na nuvem (após <a href="/software/criptografia/#encriptar">encriptá-los</a>).
  </li>
</ul>