<h1 id="nuvem" class="anchor"><a href="#nuvem"><i class="fas fa-link anchor-icon"></i></a> Serviços Encriptados de Armazenamento na Nuvem</h1>

<div class="alert alert-warning" role="alert">
  <strong>
    Se você usa serviços de armazenamento na nuvem como Dropbox, Google Drive, Microsoft OneDrive ou Apple iCloud, recomendamos que escolha uma alternativa daqui.
  </strong>
</div>

{% include cardv2.html
title="Nextcloud: Escolha Seu Host"
image="/assets/img/provider/Nextcloud.png"
description="Nexcloud fornece funcionalidades similares ao popular e altamente usado Dropbox, com a diferença que Nextcloud é grátis, livre e com código-fonte aberto, permitindo assim que qualquer pessoa instale-o e opere-o num servidor privado, sem limites de armazenamento ou de número de clientes conectados."
website="https://nextcloud.com/"
github="https://github.com/nextcloud"
windows="https://nextcloud.com/install/#install-clients"
mac="https://nextcloud.com/install/#install-clients"
linux="https://nextcloud.com/install/#install-clients"
freebsd="https://www.freshports.org/www/nextcloud/"
openbsd="http://openports.se/www/nextcloud"
netbsd="http://pkgsrc.se/www/php-nextcloud"
ios="https://itunes.apple.com/us/app/nextcloud/id1125420102?mt=8"
fdroid="https://f-droid.org/packages/com.nextcloud.client/"
googleplay="https://play.google.com/store/apps/details?id=com.nextcloud.client"
%}

<h3>Menções honrosas</h3>

<ul>
  <li>
    <a href="https://cryptomator.org/">Cryptomator</a> - Encriptação AES grátis no lado do cliente para seus arquivos na nuvem. Software de código-fonte aberto: Sem backdoors, sem registro.
  </li>
  <li>
    <a href="https://cryptpad.fr">CryptPad</a> - Encriptação de ponta-a-ponta em tempo real para pastas, arquivos de mídia e documentos compartilhados.
  </li>
</ul>