<h1 id="cloud" class="anchor"><a href="#cloud"><i class="fas fa-link anchor-icon"></i></a> Serviços Encriptados de
  Armazenamento na Nuvem</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você atualmente usa serviços de armazenamento na nuvem como Dropbox, Google Drive, Microsoft OneDrive ou
    Apple iCloud, você deve escolher uma alternativa daqui.</strong>
</div>

<div class="row mb-4">

  {% include card.html color="success"
  title="Nextcloud - Escolha seu host"
  image="/assets/img/provider/Nextcloud.png"

  description="Funcionalidades similares ao popular e altamento usado Dropbox, com a diferença que Nextcloud é grátis e de código aberto, portanto permitindo qualquer um a instalá-lo e operá-lo num servidor privado, sem limites de armazenamento ou de número de clientes conectados."

  url="https://nextcloud.com/"
  footer="SO do Cliente: Windows, macOS, Linux, BSD, Unix, iOS, Android, Fire OS. Servidor: Linux."
  %}

  {% include card.html color="primary"
  title="Least Authority S4 - Para Experts"
  image="/assets/img/provider/S4.jpg"

  description="S4 (Simple Secure Storage Service) é o sistema de backup seguramente verificável da Least Authority para indivíduos e empresas. Encriptação 100% na parte do cliente e transparência de código aberto. 250GB por $9.95/mês ou 5TB por $25.95/mês. Servidores são hospedados com Amazon S3 nos EUA."

  url="https://leastauthority.com/"
  footer='SO: <a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/Installation">Linux</a>, <a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/AdvancedInstall"> Windows, macOS, OpenSolaris, BSD.</a> (Instalação para usuários avançados)'
  %}

</div>

<h3>Menções honrosas</h3>

<ul>
  <li><a href="https://cryptomator.org/">Cryptomator</a> - Encriptação AES grátis no lado do cliente para seus arquivos
    na nuvem. Software de código aberto: Sem backdoors, sem registro.</li>
  <li><a href="https://cryptpad.fr">CryptPad</a> - Encriptação de ponta a ponta em tempo real para pastas, arquivos de
    mídia e documentos compartilhados.</li>
</ul>