<h1 id="video" class="anchor"><a href="#video"><i class="fas fa-link anchor-icon"></i></a> Plataformas Decentralizadas de Vídeo </h1>

<div class="alert alert-warning" role="alert">
  <strong> Se você usa plataformas como o YouTube ou Vimeo, recomendamos que você deve escolha uma alternativa daqui.</strong>
</div>

{% include cardv2.html
  title="PeerTube"
  image="/assets/img/svg/3rd-party/peertube.svg"
  description='O PeerTube, desenvolvido pela Framasoft, é uma alternativa livre e descentralizada às plataformas de vídeo, com mais de 400.000 vídeos publicados por mais de 50.000 usuários e vistos mais de 10 milhões de vezes. Se você está procurando um servidor para participar, você é bem-vindo a participar da instância hospedada pelo PrivacyTools: <a href="https://tube.privacytools.io/">tube.privacytools.io</a>'
  website="https://joinpeertube.org"
  github="https://github.com/Chocobozzz/PeerTube"
  web="https://joinpeertube.org/#what-is-peertube"
%}
