<h1 id="email" class="anchor"><a href="#email"><i class="fas fa-link anchor-icon"></i></a> Provedores de Email com
  Privacidade - Sem
  Afiliados</h1>

<div class="alert alert-success" role="alert">
  <strong>Todos os provedores aqui listados operam de fora dos EUA e aderem a <a data-toggle="tooltip"
      data-placement="bottom"
      data-original-title="Quando enviamos e recebemos emails, se tanto o servidor do email que envia quanto o do que recebe usa encriptação TLS, o email é enviado entre servidores com uma conexão encriptada.">SMTP
      TLS.</a> A tabela é ordenável.</strong>
</div>

<div class="table-responsive">
  <table class="table sortable-theme-bootstrap" data-sortable>
    <thead>
      <tr>
        <th data-sortable="true">Serviço de Email</th>
        <th data-sortable="true">URL</th>
        <th data-sortable="true">Desde</th>
        <th data-sortable="true">Servidor</th>
        <th data-sortable="true">Armazenamento</th>
        <th data-sortable="true">Preço Anual</th>
        <th data-sortable="true">Bitcoin</th>
        <th data-sortable="true">Encriptação</th>
        <th data-sortable="true">Domínio Próprio</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td data-value="ProtonMail">
          <img alt="Protonmail" src="/assets/img/provider/ProtonMail.ch.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.protonmail.ch"
            href="https://www.protonmail.ch"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
          <a data-toggle="tooltip" data-placement="bottom"
            data-original-title="https://protonirockerxow.onion. Requires specific software to access: torproject.org"
            href="https://protonirockerxow.onion"><img alt="Tor" src="/assets/img/layout/tor.png" width="35"></a>
        </td>
        <td data-value="2013">2013</td>
        <td><span class="flag-icon flag-icon-ch"></span> Suíça</td>
        <td data-value="500">500 MB</td>
        <td data-value="0"><span class="label label-warning">Grátis</span></td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="disroot.org">
          <img alt="Disroot" src="/assets/img/provider/disroot.org.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://disroot.org"
            href="https://disroot.org"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2015">2015</td>
        <td><span class="flag-icon flag-icon-nl"></span> Países Baixos</td>
        <td data-value="2000">2 GB</td>
        <td data-value="1"><span class="label label-warning">Grátis</span></td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="Tutanota">
          <img alt="Tutanota" src="/assets/img/provider/Tutanota.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.tutanota.com"
            href="https://www.tutanota.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2011">2011</td>
        <td><span class="flag-icon flag-icon-de"></span> Alemanha</td>
        <td data-value="1000">1 GB</td>
        <td data-value="0"><span class="label label-warning">Grátis</span></td>
        <td data-value="0"><span class="label label-primary">Não</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="Mailfence">
          <img alt="Mailfence" src="/assets/img/provider/Mailfence.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.mailfence.com"
            href="https://www.mailfence.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2013">2013</td>
        <td><span class="flag-icon flag-icon-be"></span> Bélgica</td>
        <td data-value="500">500 MB</td>
        <td data-value="0"><span class="label label-warning">Grátis</span></td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="mailbox.org">
          <img alt="mailbox.org" src="/assets/img/provider/mailbox.org.png" width="200" height="70">

        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.mailbox.org"
            href="https://www.mailbox.org"><img alt="WWW" src="/assets/img/layout/www.png" width="35 " height="35"></a>
        </td>
        <td data-value="2014">2014</td>
        <td><span class="flag-icon flag-icon-de"></span> Alemanha</td>
        <td data-value="2000">2 GB</td>
        <td data-value="13">12 €</td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="Posteo">
          <img alt="Posteo" src="/assets/img/provider/Posteo.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.posteo.de"
            href="https://www.posteo.de"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2009">2009</td>
        <td><span class="flag-icon flag-icon-de"></span> Alemanha</td>
        <td data-value="2000">2 GB</td>
        <td data-value="13">12 €</td>
        <td data-value="0"><span class="label label-primary">Não</span></td>
        <td data-value="1"><span class="label label-success">Embutido</span></td>
        <td data-value="0"><span class="label label-primary">Não</span></td>
      </tr>

      <tr>
        <td data-value="Runbox">
          <img alt="Runbox" src="/assets/img/provider/runbox.png" width="200" height="70">

        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://runbox.com"
            href="https://runbox.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="1999">1999</td>
        <td><span class="flag-icon flag-icon-no"></span> Noruega</td>
        <td data-value="1000">1 GB</td>
        <td data-value="20">$ 19.95</td>
        <td data-value="1"><span class="label label-primary">Sim</span></td>
        <td data-value="0"><span class="label label-primary">Não</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="Neomailbox">
          <img alt="Neomailbox" src="/assets/img/provider/Neomailbox.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.neomailbox.com"
            href="https://www.neomailbox.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35"
              height="35"></a>
        </td>
        <td data-value="2003">2003</td>
        <td><span class="flag-icon flag-icon-ch"></span> Suíça</td>
        <td data-value="1000">1 GB</td>
        <td data-value="50">$ 49.95</td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="StartMail">
          <img alt="StartMail" src="/assets/img/provider/StartMail.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.startmail.com"
            href="https://www.startmail.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2014">2014</td>
        <td><span class="flag-icon flag-icon-nl"></span> Países Baixos</td>
        <td data-value="10000">10 GB</td>
        <td data-value="60">$ 59.95</td>
        <td data-value="0"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="Kolab Now">
          <img alt="Kolab Now" src="/assets/img/provider/Kolab-Now.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.kolabnow.com"
            href="https://www.kolabnow.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2010">2010</td>
        <td><span class="flag-icon flag-icon-ch"></span> Suíça</td>
        <td data-value="2048">2 GB</td>
        <td data-value="60">$ 60</td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="0"><span class="label label-primary">Não</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

    </tbody>
  </table>
</div>

<h3>Provedores interessantes de Email em desenvolvimento</h3>

<ul>
  <!-- Tradução pode melhorar -->
  <li><a href="https://www.confidantmail.org/">Confidant Mail</a> - Um sistema de email criptografado de código aberto
    que não é SMTP otimizado para arquivos anexos grandes. É uma alternativa segura à emails comuns e serviços de
    compartilhamento de arquivos. Também é resistente a SPAM. Usa <a
      href="https://theprivacyguide.org/tutorials/gpg.html">GNU Privacy Guard (GPG)</a> para encriptação de conteúdo e
    autenticação, e TLS 1.2 com chaves efêmeras para transporte encriptado.</li>
</ul>
<h3>Torne-se seu próprio servidor de Email com Mail-in-a-Box</h3>
<a href="https://mailinabox.email/"><img src="/assets/img/provider/Mail-in-a-Box.png" width="200" height="70"
    class="img-fluid float-left" alt="Mail-in-a-Box" style="margin-right:10px;"></a>
<p>Dê um passo além e tome o controle do seu email com um servidor de email fácil de implantar. Mail-in-a-Box
  faz com que você seja seu próprio serviço de email em alguns poucos passos. É como se você fizesse seu próprio Gmail,
  mas um em que você controla tudo de ponta a cabeça. Tecnicamente, Mail-in-a-Box torna um computador recém-instalado na
  nuvem em um servidor funcional de email. Mas você não precisa ser um expert em TI para criá-lo. <strong>Conheça: <a
      href="https://mailinabox.email/">https://mailinabox.email/</a></strong></p>

<h3>Informações relacionadas</h3>

<ul>
  <li><a href="https://www.wired.com/2011/10/ecpa-turns-twenty-five/">Lei antiga de 'Privacidade' deixa emails
      armazenados na nuvem livres para acesso de policiais</a> - Dados armazenados na nuvem por mais de 6 meses é
    considerado como abandonado e pode ser acessado por
    agências de inteligência sem nenhum mandato. Dica: Use um cliente de email externo como o Thunderbird ou Enigmail,
    baixe seus emails e os armazene localmente. Nunca os deixe no servidor.</li>
  <!-- Tradução difícil -->
  <li><a href="https://www.eff.org/deeplinks/2012/04/may-firstriseup-server-seizure-fbi-overreaches-yet-again">With May
      First/Riseup Server Seizure, FBI Overreaches Yet Again</a></li>
  <li><a href="https://www.autistici.org/ai/crackdown/">Servidor Autistici/Inventati comprometido</a> - Os serviços de
    criptografia oferecidos pelo servidor Autistici/Inventati foram comprometidos em 15 de Junho de 2004. Isso só foi
    descoberto em 21 de Junho de 2005, um ano depois. Durante uma interrogação que deveria ser a apenas com uma conta de
    email, a Polícia
    Postal pode ter vasculhado os emails de todos os usuários durante um ano.
  </li>
</ul>