<h1 id="email" class="anchor"><a href="#email"><i class="fas fa-link anchor-icon"></i></a> Provedores de Email com Privacidade (Sem Afiliados)</h1>

<div class="alert alert-success" role="alert">
  <strong>
    Todos os provedores aqui listados operam de fora dos EUA e aderem a 
      <a 
        data-toggle="tooltip" 
        data-placement="bottom" 
        data-original-title="Quando enviamos e recebemos emails, se tanto o servidor do email que envia quanto o do que recebe usa encriptação TLS, 
        o email é enviado entre servidores com uma conexão encriptada.">
          SMTP TLS.
      </a> 
    A tabela é ordenável.  
  </strong>
</div>

<div class="table-responsive">

  <table class="table sortable-theme-bootstrap" data-sortable>

    <thead>
      <tr>
        <th data-sorted="true" data-sorted-direction="ascending">Provedor de Email</th>
        <th data-sortable="false">Website</th>
        <th data-sortable="true">Desde</th>
        <th data-sortable="true">Jurisdição</th>
        <th data-sortable="true">Armazenamento</th>
        <th data-sortable="true">Preço Anual</th>
        <th data-sortable="true">Bitcoin</th>
        <th data-sortable="true">Encriptação</th>
        <th data-sortable="true">Domínio Próprio</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td data-value="disroot">
          <img alt="Disroot" src="/assets/img/provider/disroot.org.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://disroot.org" href="https://disroot.org"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2015">2015</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-nl"></span> Países Baixos
          </span>
        </td>
        <td data-value="1000">1 GB</td>
        <td data-value="0"><span class="label label-warning">Grátis</span></td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="kolabnow">
          <img alt="Kolab Now" src="/assets/img/provider/Kolab-Now.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://kolabnow.com" href="https://kolabnow.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2010">2010</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-ch"></span> Suíça
          </span>
        </td>
        <td data-value="2048">2 GB</td>
        <td data-value="6000">$ 60</td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="0"><span class="label label-primary">Não</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="mailbox">
          <img alt="mailbox.org" src="/assets/img/provider/mailbox.org.png" width="200" height="70">

        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://mailbox.org" href="https://mailbox.org"><img alt="WWW" src="/assets/img/layout/www.png" width="35 "height="35"></a>
        </td>
        <td data-value="2014">2014</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-de"></span> Alemanha
          </span>
        </td>
        <td data-value="2000">2 GB</td>
        <td data-value="1444">12 €</td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="mailfence">
          <img alt="Mailfence" src="/assets/img/provider/Mailfence.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://mailfence.com" href="https://mailfence.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2013">2013</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-be"></span> Bélgica
          </span>
        </td>
        <td data-value="500">500 MB</td>
        <td data-value="0"><span class="label label-warning">Grátis</span></td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="neomailbox">
          <img alt="Neomailbox" src="/assets/img/provider/Neomailbox.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.neomailbox.com" href="https://www.neomailbox.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2003">2003</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-ch"></span> Suíça
          </span>
        </td>
        <td data-value="1000">1 GB</td>
        <td data-value="4995">$ 49.95</td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="posteo">
          <img alt="Posteo" src="/assets/img/provider/Posteo.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://posteo.de" href="https://posteo.de"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2009">2009</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-de"></span> Alemanha
          </span>
        </td>
        <td data-value="2000">2 GB</td>
        <td data-value="1444">12 €</td>
        <td data-value="0"><span class="label label-primary">Não</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="0"><span class="label label-primary">Não</span></td>
      </tr>

      <tr>
        <td data-value="protonmail">
          <img alt="Protonmail" src="/assets/img/provider/ProtonMail.ch.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://protonmail.com" href="https://protonmail.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://protonirockerxow.onion. Precisa do software Tor para ter acesso: torproject.org" href="https://protonirockerxow.onion"><img alt="Tor" src="/assets/img/layout/tor.png" width="35"></a>
        </td>
        <td data-value="2013">2013</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-ch"></span> Suíça
          </span>
        </td>
        <td data-value="500">500 MB</td>
        <td data-value="0"><span class="label label-warning">Grátis</span></td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="runbox">
          <img alt="Runbox" src="/assets/img/provider/runbox.png" width="200" height="70">

        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://runbox.com"
            href="https://runbox.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="1999">1999</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-no"></span> Noruega
          </span>
        </td>
        <td data-value="1000">1 GB</td>
        <td data-value="1995">$ 19.95</td>
        <td data-value="1"><span class="label label-primary">Aceito</span></td>
        <td data-value="0"><span class="label label-primary">Não</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="soverin">
          <img alt="Soverin" src="/assets/img/provider/Soverin.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://soverin.net/" href="https://soverin.net/"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2015">2015</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-nl"></span> Países Baixos
          </span>
        </td>
        <td data-value="25000">25 GB</td>
        <td data-value="3489">29 €</td>
        <td data-value="0"><span class="label label-success">Não</span></td>
        <td data-value="0"><span class="label label-success">Não</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="startmail">
          <img alt="StartMail" src="/assets/img/provider/StartMail.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.startmail.com"
            href="https://www.startmail.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2014">2014</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-nl"></span> Países Baixos
          </span>
        </td>
        <td data-value="10000">10 GB</td>
        <td data-value="5995">$ 59.95</td>
        <td data-value="1"><span class="label label-success">Aceito</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

      <tr>
        <td data-value="tutanota">
          <img alt="Tutanota" src="/assets/img/provider/Tutanota.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.tutanota.com" href="https://www.tutanota.com"><img alt="WWW" src="/assets/img/layout/www.png" width="35" height="35"></a>
        </td>
        <td data-value="2011">2011</td>
        <td>
          <span class="no-text-wrap">
            <span class="flag-icon flag-icon-de"></span> Alemanha
          </span>
        </td>
        <td data-value="1000">1 GB</td>
        <td data-value="0"><span class="label label-warning">Grátis</span></td>
        <td data-value="0"><span class="label label-primary">Não</span></td>
        <td data-value="1"><span class="label label-success">Embutida</span></td>
        <td data-value="1"><span class="label label-success">Sim</span></td>
      </tr>

    </tbody>
  </table>
</div>

<h3>Provedores de Email em Desenvolvimento, Porém Promissores</h3>

<ul>
  <li><a href="https://www.confidantmail.org/">Confidant Mail</a> - Um sistema de email criptografado com código-fonte aberto e otimizado para arquivos anexos grandes. Também é resistente a SPAM. 
    Usa <a href="https://theprivacyguide.org/tutorials/gpg.html">GNU Privacy Guard (GPG)</a> para encriptação de conteúdo e autenticação, e TLS 1.2 com chaves efêmeras para transporte encriptado de dados.</li>
</ul>

<h3>Torne-se seu Próprio Servidor de Email com Mail-in-a-Box</h3>

<a href="https://mailinabox.email/"><img src="/assets/img/provider/Mail-in-a-Box.png" width="200" height="70" class="img-fluid float-left mr-3" alt="Mail-in-a-Box" style="margin-right:10px;"></a>
<p>Dê um passo além e ganhe o controle do seu email com um servidor de email fácil de implantar. Mail-in-a-Box faz com que você seja seu próprio serviço de email em alguns simples passos. É como se você fizesse seu próprio Gmail, mas um em que você tem o controle total. Tecnicamente, Mail-in-a-Box torna um computador recém-instalado na nuvem em um servidor funcional de email. Mas você não precisa ser um expert em tecnologia para criá-lo. 
<strong>Conheça: <a href="https://mailinabox.email/">https://mailinabox.email/</a></strong> (em Inglês).</p>

<h3>Informações Relacionadas</h3>

<ul>
  <li>
    <a href="https://www.wired.com/2011/10/ecpa-turns-twenty-five/">Lei antiga de 'Privacidade' deixa emails armazenados na nuvem livres para acesso de policiais</a> (em Inglês) - 
    Dados armazenados na nuvem por mais de 6 meses são considerados abandonados e podem ser acessados por agências de inteligência sem nenhum mandato. 
    Dica: Use um cliente de email externo como o Thunderbird ou Enigmail, baixe seus emails e os armazene localmente. Nunca os deixe no servidor.
  </li>
  
  <li>
    <a href="https://www.eff.org/deeplinks/2012/04/may-firstriseup-server-seizure-fbi-overreaches-yet-again">Com apreensão do servidor da May First/Riseup, FBI passa dos limites novamente</a> (em Inglês)
  </li>

  <li>
    <a href="https://www.autistici.org/ai/crackdown/">Servidor Autistici/Inventati comprometido</a> (em Inglês) - Os serviços de criptografia oferecidos pelo servidor Autistici/Inventati 
    foram comprometidos em 15 de Junho de 2004. Isso só foi descoberto em 21 de Junho de 2005, um ano depois. Durante uma investigação que deveria ser a apenas uma conta de email, 
    a Polícia Postal pode ter vasculhado os emails de todos os usuários durante um ano.
  </li>
</ul>