
<div class="card border-danger">
  <div class="card-header text-danger"><i class="fas fa-exclamation-circle fa-fw"></i> Aviso</div>
    <div class="card-body">
      <p class="card-text text-danger">Ao utilizar tecnologias de criptografia de ponta-a-ponta (E2EE), como <a href="https://pt.wikipedia.org/wiki/Pretty_Good_Privacy">OpenPGP</a>, 
      o e-mail ainda conterá alguns metadados que não são criptografados no cabeçalho da mensagem. <a href="/provedores/email/#metadados">Leia mais sobre metadados de e-mail.</a></p>
      <p class="card-text text-danger">OpenPGP também não tem suporte para <a href="https://pt.wikipedia.org/wiki/Perfect_Foward_Secrecy">Sigilo Encaminhado (forward secrecy)</a>, o que significa que caso sua chave privada ou a chave privada do destinatário forem roubadas, <strong>todas</strong> as mensagens anteriores criptografadas com ela serão expostas. <a href="/provedores/email/#criptografia-email">Como eu protejo minhas chaves?</a></p>
      <p class="card-text text-secondary">Ao invés de usar o e-mail para conversas prolongadas, considere o uso de um meio de comunicação que suporte sigilo encaminhado.</p>
      <a href="/software/comunicacao-tempo-real/" class="btn btn-outline-secondary">Mensageiros Instantâneos Recomendados</a>
    </div>
</div>
