<h1 id="clientes" class="anchor"><a href="#clientes"><i class="fas fa-link anchor-icon"></i></a> Clientes de Email</h1>

{% include cardv2.html
title="Thunderbird"
image="/assets/img/tools/Thunderbird.png"
description="Thunderbird é um programa de email gratuito e de código-fonte aberto. Também inclui notícias, calendário, conversas, etc. Criado e mantido pela comunidade."
website="https://mozilla.org/thunderbird"
github="https://github.com/mozilla"
windows=""
mac=""
linux=""
bsd=""
%}

{% include cardv2.html
title="Claws Mail"
image="/assets/img/tools/Claws-Mail.png"
description="Claws Mail é um cliente de email baseado em GTK+ e também um cliente de notícias gratuito e de código-fonte aberto. Ele oferece uma configuração fácil e uma abundância de ferramentas. Em sua versão para Windows, inclui com uma coleção de programas de criptografia, o Gpg4win. Em sistemas Unix-like como o Linux, o GPG é praticamente nativo, por isso não há necessidade de ser incluído com o programa."
website="https://www.claws-mail.org/"
git="https://git.claws-mail.org/"
windows=""
mac=""
linux=""
bsd=""
%}

<h3>Ferramentas de Privacidade para Email</h3>

<ul>
  <li>
    <a href="https://www.gpg4usb.org/">gpg4usb</a> - Um editor portátil muito fácil de usar para encriptar e desencriptar qualquer mensagem de texto ou arquivo. 
    Para Windows e Linux. <a href="https://theprivacyguide.org/tutorials/gpg.html">Tutorial GPG</a> (em Inglês).
  </li>
  <li>
    <a href="https://www.mailvelope.com/">Mailvelope</a> - Uma extensão de navegador que permite a troca de emails
    encriptados seguindo o <a href="https://theprivacyguide.org/tutorials/pgp.html">padrão de criptografia OpenPGP</a>.
  </li>
  <li>
    <a href="https://www.enigmail.net/">Enigmail</a> - Uma extensão de segurança para Thunderbird e Seamonkey. 
    Ele permite que você escreva e receba mensagens de email marcadas e/ou encriptadas com o <a href="https://theprivacyguide.org/tutorials/pgp.html">padrão OpenPGP</a>.
  </li>
  <li>
    <a href="https://addons.mozilla.org/thunderbird/addon/torbirdy/">TorBirdy</a> - TorBirdy configura Thunderbird para se conectar através da rede anônima Tor. 
    Essa extensão está em fase beta e deve ser considerada como experimental.
  </li>
  <li>
    <a href="https://emailprivacytester.com/">Email Privacy Tester</a> - Essa ferramenta irá enviar um email para o seu endereço e realizar testes de privacidade (em Inglês).
  </li>
</ul>

<h3>Menções Honrosas</h3>

<ul>
  <li>
    <a href="https://github.com/k9mail/k-9/releases">K-9 Mail</a> - Um aplicativo independente de email para Android.
    Ele suporta as caixas de email POP3 e IMAP, porém possui suporte apenas para <i>push mail</i> em IMAP.
  </li>
  <li>
    <a href="https://www.gnupg.org/">GNU Privacy Guard</a> - Encriptação de Email. GnuPG é uma alternativa com licença GPL para os softwares de criptografia PGP. 
    <a href="https://theprivacyguide.org/tutorials/gpg.html">Tutorial</a> / Para macOS: <a href="https://gpgtools.org/">GPGTools</a>.
  </li>
  <li>
    <a href="https://www.mailpile.is/">Mailpile (Beta)</a> - Um cliente de email moderno, rápido e fácil de usar. Inclui criptografia e ferramentas de privacidade.
  </li>
</ul>
