<h1 id="messaging" class="anchor"><a href="#messaging"><i class="fas fa-link anchor-icon"></i></a> Alternativas ao Email</h1>

<div class="row mb-2">

  {% include card.html color="success"
  title="Bitmessage"
  image="/assets/img/tools/Bitmessage.png"
  url="https://bitmessage.org/"
  footer="SO: Windows, macOS, Linux."
  description="Bitmessage é um protocolo de comunicação P2P usado para enviar mensagens encriptografadas para outra pessoa ou para vários inscritos. É descentralizado, ou seja, não requer que você confie em nenhuma entidade, como por exemplo, autoridades de certificação. Ele usa uma autenticação forte, o que significa que o remetente da mensagem não pode ser falsificado, e tem como objetivo esconder o conteúdo da mensagem."
  %}
  <!--Melhorar a traducao de "It uses strong authentication which means that the sender of a message cannot be spoofed, and it aims to hide \"non-content\" data."-->
  {% include card.html color="primary"
  title="RetroShare"
  image="/assets/img/tools/RetroShare.png"
  url="https://retroshare.cc/"
  footer="SO: Windows, macOS, Linux."
  description="Retroshare cria conexões encriptadas com os seus amigos. Ninguém pode espionar você. Retroshare é completamente descentralizado. Isso significa que não existem servidores centrais. Ele é inteiramente open-source e gratuito. Não existem custos, nem propagandas e nem termos de serviços."
  %}

</div>

<h3>Menção honrosa</h3>

<ul>
  <li><a href="https://i2pbote.xyz/">I2P-Bote</a> - Sistema de email encriptado ponta-a-ponta dentra da rede I2P.</li>
</ul>
