<h1 id="email" class="anchor"><a href="#email"><i class="fas fa-link anchor-icon"></i></a> Recomendações de Serviços de Email</h1>

<div class="alert alert-success" role="alert">
  <strong>Nossas recomendações de provedores de email operam fora dos Estados Unidos, adotam tecnologia de email moderna e atendem <a href="/provedores/email/#criterios">nossos critérios</a> de listagem.</strong> Existe também <a href="https://wiki.privacytools.io/view/Comparison_of_email_providers#Provider_comparison">uma tabela de comparação detalhada</a> (em inglês) dos provedores abaixo na wiki do PrivacyTools.io.
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/protonmail.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="ProtonMail">
    </div>
    <div class="col">
    <h2 id="protonmail" class="anchor"><a href="#protonmail"><i class="fas fa-link anchor-icon"></i></a> ProtonMail {% include badge.html color="info" text="Grátis" %}</h2>
    <p><strong><a href="https://protonmail.com/pt_BR/">ProtonMail.com</a></strong> é um serviço de email com foco em privacidade, criptografia, segurança e facilidade de uso. Eles estão em operação desde <strong>2013</strong>. O ProtonMail é sediado em Genebra, <span class = "flag-icon flag-icon-ch"> </span> Suíça. As contas começam com 500 MB de armazenamento com seu plano gratuito.</p>

    <p>Contas gratuitas têm algumas limitações e não permitem o uso do <a href="https://protonmail.com/bridge">ProtonMail Bridge</a>, que é necessário para usar um <a href="/software/email">cliente de email recomendado</a> (por exemplo, Thunderbird) ou para pesquisar mensagens pelo corpo do texto. As contas pagas estão disponíveis a partir de <strong>€48/ano</strong>, que incluem recursos como ProtonMail Bridge, armazenamento adicional, suporte a domínio personalizado e muito mais. O webmail e os aplicativos móveis podem pesquisar apenas <code>To:</code>, <code>From:</code>, <code>Data:</code> e <code>Assundo:</code> (isto provavelmente mudará quando a <a href="https://reddit.com/comments/cqwk2a/comment/ex21b4e">v4.0</a> do ProtonMail for lançada).</p>

    <h5>{% include badge.html color="success" text="Domínios e Apelidos" %}</h5>
    <p>Os usuários de planos pagos do ProtonMail podem usar seu próprio domínio. Endereços <a href="https://protonmail.com/support/knowledge-base/catch-all/">Catch-all</a> são suportados com domínios personalizados para os planos Profissional and Visionário. O ProtonMail também suporta <a href="https://protonmail.com/support/knowledge-base/creating-aliases/">subaddressing</a>, o que é útil para usuários que não queiram comprar um domínio.</p>

    <h5>{% include badge.html color="success" text="Métodos de Pagamento" %}</h5>
    <p>O ProtonMail aceita Bitcoin além de aceitar cartões de créditos/débito e PayPal.</p>

    <h5>{% include badge.html color="success" text="Segurança da Conta" %}</h5>
    <p>O ProtonMail suporta <a href="https://protonmail.com/support/knowledge-base/two-factor-authentication/">autenticação de dois fatores</a> <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm"> TOTP</a> apenas. O uso de chave de segurança <a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a> ainda não é suportada. ProtonMail está planejando implementar U2F após a conclusão do seu código de <a href="https://reddit.com/comments/cheoy6/comment/feh2lw0/">Single Sign On (SSO).</a></p>

    <h5>{% include badge.html color="success" text="Segurança de Dados" %}</h5>
    <p>O ProtonMail tem <a href="https://protonmail.com/blog/zero-access-encryption">criptografia de zero acesso</a> para seus emails, <a href="https://protonmail.com/blog/encrypted-contacts-manager">contatos do catálogo de endereços</a> e <a href="https://protonmail.com/blog/protoncalendar-security-model">calendários</a>. Isso significa que as mensagens e outros dados armazenados em sua conta só podem ser lidos por você.</p>

    <h5>{% include badge.html color="success" text="Encriptação de Email" %}</h5>
    <p>O ProtonMail tem <a href="https://protonmail.com/support/knowledge-base/how-to-use-pgp">criptografia OpenPGP integrada</a> em seu webmail. Emails para outros usuários ProtonMail são criptografados automaticamente e a criptografia para usuários não-ProtonMail com uma chave OpenPGP pode ser facilmente ativada nas configurações de sua conta. Também é possível <a href="https://protonmail.com/support/knowledge-base/encrypt-for-outside-users">criptografar mensagens para usuários não-ProtonMail</a> sem a necessidade de eles abrirem uma conta ProtonMail ou usar qualquer software como o OpenPGP.</p>
    <p>O ProtonMail também suporta a descoberta de chaves públicas via HTTP de seu <a href="https://wiki.gnupg.org/WKD">Web Key Directory (WKD)</a>. Isso permite que usuários fora do ProtonMail encontrem as chaves OpenPGP dos usuários do ProtonMail facilmente, para provedores E2EE cruzados.</p>

    <h5>{% include badge.html color="success" text="Serviço .onion" %}</h5>
    <p>O ProtonMail é acessível pelo Tor em <a href="https://protonirockerxow.onion/">protonirockerxow.onion</a>.</p>

    <h5>{% include badge.html color="info" text="Funcionalidades Extras" %}</h5>
    <p>O ProtonMail oferece uma conta "Visionária" por €24/Mês, que também permite o acesso ao ProtonVPN além de fornecer multiplas contas, domínios, apelidos de email e armazenamento extra.</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/mailboxorg.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Mailbox">
    </div>
    <div class="col">
    <h2 id="mailbox" class="anchor"><a href="#mailbox"><i class="fas fa-link anchor-icon"></i></a> Mailbox.org {% include badge.html color="info" text="€12/Ano" %}</h2>
    <p><strong><a href="https://mailbox.org">Mailbox.org</a></strong> é um serviço de email com foco em ser seguro, livre de anúncios, privado e com energia 100% ecológica. Eles estão em operação desde <strong>2014</strong>. O Mailbox.org está sediada em Berlim, <span class="flag-icon flag-icon-de"></span> Alemanha. As contas começam com 2 GB de armazenamento, que podem ser atualizadas conforme necessário.</p>
    
    <h5>{% include badge.html color="success" text="Domínios e Apelidos" %}</h5>
    <p>O Mailbox.org permite que os usuários usem seu próprio domínio e oferecem suporte a endereços <a href="https://kb.mailbox.org/display/MBOKBEN/Using+catch-all+alias+with+own+domain">catch-all</a>. Mailbox.org também suporta <a href="https://kb.mailbox.org/display/BMBOKBEN/What+is+an+alias+and+how+do+I+use+it">subaddressing</a>, o que é útil para usuários que não queiram comprar um domínio.</p>

    <h5>{% include badge.html color="warning" text="Métodos de Pagamento" %}</h5>
    <p>O Mailbox.org não aceita Bitcoin ou quaisquer outras criptomoedas como resultado de seu processador de pagamentos, BitPay, ter suspendido as operações na Alemanha. No entanto, eles aceitam dinheiro pelo correio, pagamento em dinheiro por conta bancária, transferência bancária, cartão de crédito, PayPal e alguns processadores de pagamentos específicos da Alemanha: paydirekt e Sofortüberweisung.</p>

    <h5>{% include badge.html color="success" text="Segurança da Conta" %}</h5>
    <p>Mailbox.org oferece suporte a <a href="https://kb.mailbox.org/display/MBOKBEN/How+to+use+two-factor+authentication+-+2FA">autenticação de dois fatores</a> apenas para seu webmail. Você pode usar tanto <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a> ou uma <a href="https://en.wikipedia.org/wiki/YubiKey">Yubikey</a> via <a href="https://www.yubico.com/products/services-software/yubicloud">Yubicloud</a>. Padrões web tais como <a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a> e <a href="https://en.wikipedia.org/wiki/WebAuthn">WebAuthn</a> ainda não são suportados.</p>

    <h5>{% include badge.html color="warning" text="Segurança de Dados" %}</h5>
    <p>O Mailbox.org permite criptografar de mensagens recebidas usando sua <a href="https://kb.mailbox.org/display/MBOKBEN/The+Encrypted+Mailbox">caixa de correio criptografada</a>. As novas mensagens que você receber serão criptografadas imediatamente com sua chave pública.</p>
    <p>No entanto, <a href="https://en.wikipedia.org/wiki/Open-Xchange">Open-Exchange</a>, a plataforma de software usada pela Mailbox.org, <a href="https://kb.mailbox.org/display/BMBOKBEN/Encryption+of+calendar+and+address+book">não oferece suporte</a> à encriptação de seu catálogo de endereços e calendário. Uma <a href="/software/calendario-contatos/">opção independente</a> pode ser mais apropriada para essas informações.</p>

    <h5>{% include badge.html color="success" text="Encriptação de Email" %}</h5>
    <p>O Mailbox.org possui <a href="https://kb.mailbox.org/display/MBOKBEN/Send+encrypted+e-mails+with+Guard">criptografia integrada</a> em seu webmail, o que simplifica o envio de mensagens para usuários com chaves públicas OpenPGP. Ele também permite que <a href="https://kb.mailbox.org/display/MBOKBEN/My+recipient+does+not+use+PGP">destinatários remotos descriptografem um email</a> nos servidores da Mailbox.org. Este recurso é útil quando o destinatário remoto não tem OpenPGP e não pode descriptografar uma cópia do email em sua própria caixa de correio.</p>
    <p>O Mailbox.org também suporta a descoberta de chaves públicas via HTTP de seu <a href="https://wiki.gnupg.org/WKD">Web Key Directory (WKD)</a>. Isso permite que usuários fora do Mailbox.org encontrem as chaves OpenPGP dos usuários do Mailbox.org facilmente, para provedores E2EE cruzados.</p>

    <h5>{% include badge.html color="warning" text="Serviço .onion" %}</h5>
    <p>Você pode acessar sua conta Mailbox.org via IMAP/SMTP usando <a href="https://kb.mailbox.org/display/MBOKBEN/The+Tor+exit+node+of+mailbox.org">seu serviço .onion</a>. Porém, sua interface webmail não pode ser acessada por meio do serviço .onion e os usuários podem enfrentar erros de certificado TLS.</p>

    <h5>{% include badge.html color="info" text="Funcionalidades Extras" %}</h5>
    <p>Todas as contas vêm com armazenamento em nuvem limitado que <a href="https://kb.mailbox.org/display/MBOKBEN/Encrypt+files+on+your+Drive">pode ser criptografado</a>. O Mailbox.org também oferece o apelido <a href="https://kb.mailbox.org/display/MBOKBEN/Ensuring+E-Mails+are+Sent+Securely">@secure.mailbox.org</a>, que reforça a criptografia TLS na conexão entre os servidores de email, caso contrário, a mensagem não será enviada. Mailbox.org também suporta <a href="https://en.wikipedia.org/wiki/Exchange_ActiveSync">Exchange ActiveSync</a>, além de protocolos de acesso padrão como IMAP e POP3.</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/posteo.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Posteo">
    </div>
    <div class="col">
    <h2 id="posteo" class="anchor"><a href="#posteo"><i class="fas fa-link anchor-icon"></i></a> Posteo {% include badge.html color="info" text="€12/Ano" %}</h2>
    <p><strong><a href="https://posteo.de">Posteo.de</a></strong> é um provedor de email que se concentra em email anônimo, seguro e privado. Seus servidores são alimentados por energia 100% sustentável. O serviço está em operação desde <strong>2009</strong>. O Posteo é sediado na <span class="flag-icon flag-icon-de"></span> Alemanha e possui um período de teste gratuito de 14 dias. O Posteo vem com 2 GB de armazenamento pelo preço mensal e um gigabyte extra pode ser adquirido por €0,25 por mês.</p>

    <h5>{% include badge.html color="warning" text="Domínios e Apelidos" %}</h5>
    <p>O Posteo <a href="https://posteo.de/en/site/faq">não permite uso de domínios personalizados</a>, mesmo assim os usuários ainda podem fazer uso do <a href="https://posteo.de/en/help/what-is-an-email-alias">subaddressing</a>.</p>

    <h5>{% include badge.html color="warning" text="Métodos de Pagamento" %}</h5>
    <p>O Posteo não aceita Bitcoin ou quaisquer outras criptomoedas como forma de pagamento, porém aceitam dinheiro pelo correio. Também são aceitos cartões de crédito/débito, transferência bancária e PayPal, removendo IIP (informações de identificação pessoal) <a href="https://posteo.de/en/site/payment">que eles recebem</a> juntamente com esses métodos de pagamento.</p>

    <h5>{% include badge.html color="success" text="Segurança da Conta" %}</h5>
    <p>O Posteo oferece suporte a <a href="https://posteo.de/en/help/what-is-two-factor-authentication-and-how-do-i-set-it-up">autenticação de dois fatores</a> apenas em seu webmail. Você pode usar tanto <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a> ou uma <a href="https://en.wikipedia.org/wiki/YubiKey">Yubikey</a> via <a href="https://www.yubico.com/products/services-software/yubicloud">Yubicloud</a>. Padrões web tais como <a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a> e <a href="https://en.wikipedia.org/wiki/WebAuthn">WebAuthn</a> ainda não são suportados.</p>

    <h5>{% include badge.html color="warning" text="Segurança de Dados" %}</h5>
    <p>O Posteo possui <a href="https://posteo.de/en/site/encryption#cryptomailstorage">criptografia de zero acesso</a> para o armazenamento de email. Isso significa que as mensagens armazenadas em sua conta só podem ser lidas por você.</p>
    <p>O Posteo também suporta a criptografia de seus <a href="https://posteo.de/en/site/features#featuresaddressbook">contatos do catálogo de endereços</a> e <a href="https://posteo.de/en/site/features#featurescalendar">calendários</a>. No entanto, o Posteo ainda usa o padrão <a href="https://pt.wikipedia.org/wiki/CalDAV">CalDAV</a> e <a href="https://en.wikipedia.org/wiki/CardDAV">CardDAV</a> para calendários e contatos. Esses protocolos não suportam <a href="https://pt.wikipedia.org/wiki/Criptografia_de_ponta-a-ponta">criptografia de ponta-a-ponta (E2EE)</a>. Uma <a href="/software/calendario-contatos/">opção independente</a> pode ser mais apropriada.</p>

    <h5>{% include badge.html color="success" text="Encriptação de Email" %}</h5>
    <p>O Posteo possui <a href="https://posteo.de/en/site/encryption#pgp_webmailer">criptografia integrada</a> em seu webmail, o que simplifica o envio de mensagens a usuários com chaves OpenPGP públicas. Ele também suporta a descoberta de chaves públicas via HTTP de seu <a href="https://wiki.gnupg.org/WKD">Web Key Directory (WKD)</a>. Isso permite que usuários fora do Posteo encontrem as chaves OpenPGP dos usuários do Posteo facilmente, para provedores E2EE cruzados.</p>

    <h5>{% include badge.html color="danger" text="Serviço .onion" %}</h5>
    <p>O Posteo não opera nenhum serviço .onion.</p>

    <h5>{% include badge.html color="info" text="Funcionalidades Extras" %}</h5>
    <p>O Posteo permite que os usuários  <a href="https://posteo.de/en/help/does-posteo-offer-mailing-lists">criem suas próprias listas de discussão</a>. Cada conta pode criar uma lista gratuitamente..</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/disroot.svg"
        data-theme-src="/assets/img/svg/3rd-party/disroot-dark.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Disroot">
    </div>
    <div class="col">
    <h2 id="disroot" class="anchor"><a href="#disroot"><i class="fas fa-link anchor-icon"></i></a> Disroot {% include badge.html color="info" text="Grátis" %}</h2>
    <p>O <strong><a href="https://disroot.org/en/services/email">Disroot</a></strong> oferece email e <a href="https://disroot.org/en/#services">outros serviços</a>. O serviço é mantido por voluntários e sua comunidade. Eles estão em operação desde <strong>2015</strong>. O Disroot é sediado em <span class="flag-icon flag-icon-nl"></span> Amsterdam. É gratuito e usa software de código aberto, como Rainloop, para fornecer serviço. Os usuários apoiam o serviço por meio de doações e compra de armazenamento extra. O limite da caixa de correio é de 1 GB, mas o armazenamento extra pode ser adquirido por €0,15 por GB por mês pago anualmente.</p>

    <h5>{% include badge.html color="success" text="Domínios e Apelidos" %}</h5>
    <p>O Disroot permite que os usuários usem seu próprio domínio. Eles têm apelidos, mas você deve se <a href="https://disroot.org/en/forms/alias-request-form">inscrever manualmente.</a></p>

    <h5>{% include badge.html color="success" text="Métodos de Pagamento" %}</h5>
    <p>O Disroot aceita Bitcoin e Faircoin como métodos de pagamento. Eles também aceitam PayPal, depósito bancário direto e pagamentos via Patreon. O Disroot é uma organização sem fins lucrativos que também aceita doações através da Liberapay, Flattr e Monero, mas esses métodos de pagamento não podem ser usados para comprar serviços.</p>

    <h5>{% include badge.html color="success" text="Segurança da Conta" %}</h5>
    <p>O Disroot oferece suporte a autenticação de dois fatores <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a> apenas para o webmail. Eles não permitem autenticação de chave de segurança <a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F.</a></p>

    <h5>{% include badge.html color="warning" text="Segurança de Dados" %}</h5>
    <p>O Disroot usa criptografia de disco completo. No entanto, não parece ser de "zero acesso", o que significa que é tecnicamente possível para eles descriptografar os dados que possuem.</p>
    <p>O Disroot também usa os protocolos padrão <a href="https://pt.wikipedia.org/wiki/CalDAV">CalDAV</a> e <a href="https://en.wikipedia.org/wiki/CardDAV">CardDAV</a> para calendários e contatos, que não suportam criptografia de ponta-a-ponta. Uma <a href="/software/calendario-contatos/">opção independente</a> pode ser mais apropriada.</p>

    <h5>{% include badge.html color="success" text="Encriptação de Email" %}</h5>
    <p>O Disroot permite que emails criptografados sejam enviados de seu aplicativo de webmail usando OpenPGP. No entanto, o Disroot não integrou um <a href="https://wiki.gnupg.org/WKD">Web Key Directory (WKD)</a> para os usuários em sua plataforma.</p>

    <h5>{% include badge.html color="danger" text="Serviço .onion" %}</h5>
    <p>O Disroot não opera nenhum serviço .onion.</p>

    <h5>{% include badge.html color="info" text="Funcionalidades Extras" %}</h5>
    <p>Eles oferecem <a href="https://disroot.org/en/#services">outros serviços</a> como NextCloud, XMPP Chat, Etherpad, Ethercalc, Pastebin, pesquisas online e uma instância Gitea. Eles tambpem possuem um aplicativo móvel <a href="https://f-droid.org/packages/org.disroot.disrootapp/">disponível no F-Droid</a>.</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/tutanota.svg"
        data-theme-src="/assets/img/svg/3rd-party/tutanota-dark.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Tutanota">
    </div>
    <div class="col">
    <h2 id="tutanota" class="anchor"><a href="#tutanota"><i class="fas fa-link anchor-icon"></i></a> Tutanota {% include badge.html color="info" text="Grátis" %}</h2>
    <p><strong><a href="https://tutanota.com/pt_br/">Tutanota.com</a></strong> é um serviço de email com foco na segurança e privacidade por meio do uso de criptografia. A Tutanota está em operação desde <strong>2011</strong> e tem sede em Hanover, na <span class="flag-icon flag-icon-de"></span> Alemanha. As contas começam com 1 GB de armazenamento com seu plano gratuito.</p>
    <p>O Tutanota <a href="https://tutanota.com/pt_br/faq/#imap">não permite</a> o uso de <a href="/software/email/">clientes de email</a> de terceiros. Existem planos para permitir que o Tutanota receba emails de <a href="https://github.com/tutao/tutanota/issues/544">contas de e-mail externas</a> usando o protocolo <a href="https://pt.wikipedia.org/wiki/Internet_Message_Access_Protocol">IMAP</a>. A <a href="https://github.com/tutao/tutanota/issues/630">importação de email </a> não é possível no momento.</p>
    <p>Os emails podem ser exportados <a href="https://tutanota.com/pt_br/howto#generalMail">individualmente ou por seleção em massa</a>. O Tutanota não permite <a href="https://github.com/tutao/tutanota/issues/927">subpastas</a> como você pode esperar de outros provedores de email.</p>
    <p>O Tutanota está trabalhando em um <a href="https://tutanota.com/pt_br/blog/posts/desktop-clients">cliente desktop</a> e possui um aplicativo para dispositivo móvel <a href="https://f-droid.org/packages/de.tutao.tutanota">disponível no F-Droid</a>. Eles também tem seu aplicativo em lojas convencionais como <a href="https://apps.apple.com/us/app/tutanota/id922429609">App Store</a> no iOS e <a href="https://play.google.com/store/apps/details?id=de.tutao.tutanota">Google Play</a> para Android.</p>

    <h5>{% include badge.html color="success" text="Domínios e Apelidos" %}</h5>
    <p>As contas pagas do Tutanota podem usar até 5 <a href="https://tutanota.com/pt_br/faq#alias">apelidos</a> e <a href="https://tutanota.com/pt_br/faq#custom-domain">domínios personalizados</a>. O Tutanota não permite <a href="https://tutanota.com/pt_br/faq#plus">subaddressing (endereços adicionais)</a>, mas você pode usar um domínio personalizado com <a href="https://tutanota.com/pt_br/howto#settings-global">catch-all</a>.</p>

    <h5>{% include badge.html color="danger" text="Métodos de Pagamento" %}</h5>
    <p>O Tutanota aceita apenas cartões de crédito e PayPal.</p>

    <h5>{% include badge.html color="success" text="Segurança da Conta" %}</h5>
    <p>O Tutanota suporta <a href="https://tutanota.com/pt_br/faq#2fa">autenticação de dois fatores</a>. Os usuários podem usar tanto o <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a> como o <a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a>. O suporte para U2F <a href="https://github.com/tutao/tutanota/issues/443">ainda não está disponível para Android</a>.</p>

    <h5>{% include badge.html color="success" text="Segurança de Dados" %}</h5>
    <p>O Tutanota possui <a href="https://tutanota.com/pt_br/faq#what-encrypted">criptografia de zero acesso</a> para seus emails, <a href="https://tutanota.com/pt_br/faq#encrypted-address-book">contatos do catálogo de endereços</a> e <a href="https://tutanota.com/pt_br/faq#calendar">calendários</a>. Isso significa que as mensagens e outros dados armazenados em sua conta só podem ser lidos por você. </p>

    <h5>{% include badge.html color="warning" text="Encriptação de Email" %}</h5>
    <p>O Tutanota <a href="https://www.tutanota.com/pt_br/faq/#pgp">não utiliza OpenPGP</a>. Os usuários do Tutanota só podem receber emails criptografados quando usuários externos os enviam por meio de uma <a href="https://www.tutanota.com/pt_br/howto/#encrypted-email-external">caixa de correio temporária do Tutanota</a>.</p>
    <p>O Tutanota <a href="https://github.com/tutao/tutanota/issues/198">possui planos</a> de oferecer suporte ao <a href="https://autocrypt.org">AutoCrypt</a>. Isso permitiria que usuários externos enviassem emails criptografados para usuários do Tutanota, desde que seu cliente de email suporte os cabeçalhos AutoCrypt.</p>

    <h5>{% include badge.html color="danger" text="Serviço .onion" %}</h5>
    <p>O Tutanota não opera um serviço .onion, mas <a href="https://github.com/tutao/tutanota/issues/528">pode considerá-lo</a> no futuro.</p>

    <h5>{% include badge.html color="info" text="Funcionalidades Extras" %}</h5>
    <p>O Tutanota oferece uma versão empresarial do <a href="https://tutanota.com/blog/posts/secure-email-for-non-profit">Tutanota para organizações sem fins lucrativos</a> gratuitamente ou com grandes descontos.</p>

    <p>Tutanota também possui um recurso empresarial chamado <a href="https://tutanota.com/pt_br/secure-connect/">Conexão Segura</a>. Isso garante o contato do cliente/visitante do seu site por meio de um formulário de contato que usa criptografia de ponta-aponta. O recurso custa €240/ano.</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/startmail.svg"
        data-theme-src="/assets/img/svg/3rd-party/startmail-dark.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="StartMail">
    </div>
    <div class="col">
    <h2 id="startmail" class="anchor"><a href="#startmail"><i class="fas fa-link anchor-icon"></i></a> StartMail {% include badge.html color="info" text="Pessoal USD$59.95/Ano" %}</h2>
    <p><strong><a href="https://startmail.com">StartMail.com</a></strong> é um serviço de e-mail com foco na segurança e privacidade por meio do uso de criptografia OpenPGP padrão. StartMail está em operação desde <strong>2014</strong> e é sediado na Boulevard 11, Zeist <span class="flag-icon flag-icon-nl"></span> Holanda. As contas começam com 10 GB. Eles oferecem um teste de 30 dias.</p>

    <h5>{% include badge.html color="success" text="Domínios e Apelidos" %}</h5>
    <p>As contas pessoais podem usar apelidos <a href="https://support.startmail.com/hc/en-us/articles/360007297457-Aliases">personalizados ou gerados</a>. Contas empresariais podem usar <a href="https://support.startmail.com/hc/en-us/articles/360006840058">Apelidos de Domínio</a>.</p>

    <h5>{% include badge.html color="warning" text="Métodos de Pagamento" %}</h5>
    <p>O StartMail aceita Visa, MasterCard, American Express e Paypal. O StartMail também tem outras <a href="https://support.startmail.com/hc/en-us/articles/360006620637-Payment-methods">opções de pagamento</a>, como Bitcoin (atualmente apenas para contas pessoais) e débito direto SEPA para contas mais antigas que um ano.</p>

    <h5>{% include badge.html color="success" text="Segurança da Conta" %}</h5>
    <p>O StartMail oferece suporte à autenticação de dois fatores <a href="https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm">TOTP</a> <a href="https://support.startmail.com/hc/en-us/articles/360006682158-Two-factor-authentication-2FA">apenas para o webmail</a>. Eles não permitem autenticação de chaves de segurança <a href="https://en.wikipedia.org/wiki/Universal_2nd_Factor">U2F</a>.</p>

    <h5>{% include badge.html color="warning" text="Segurança de Dados" %}</h5>
    <p>O StartMail possui <a href="https://www.startmail.com/en/whitepaper/#_Toc458527835">criptografia de zero acesso</a> utilizando o seu sistema de "cofre do usuário". Quando um usuário faz o login, o cofre é aberto e o email é então é então movido para o cofre fora da fila, onde é descriptografado pela chave privada correspondente.</p>

    <p>O StartMail suporta a importação de <a href="https://support.startmail.com/hc/en-us/articles/360006495557-Import-contacts">contatos</a>, no entanto eles só podem ser acessados no webmail e não por meio de protocolos como <a href="https://en.wikipedia.org/wiki/CalDAV">CalDAV</a>. Os contatos também não são armazenados usando criptografia de conhecimento zero, portanto, uma <a href="/software/calendario-contatos/">opção independente</a> pode ser mais apropriada.</p>

    <h5>{% include badge.html color="success" text="Encriptação de Email" %}</h5>
    <p>O StartMail possui <a href="https://support.startmail.com/hc/en-us/sections/360001889078-Encryption">criptografia integrada</a> em seu webmail, o que simplifica o envio de mensagens para usuários com chaves públicas OpenPGP.</p>

    <h5>{% include badge.html color="danger" text="Serviço .onion" %}</h5>
    <p>O StartMail não opera um serviço .onion.</p>

    <h5>{% include badge.html color="info" text="Funcionalidades Extras" %}</h5>
    <p>O StartMail permite o proxy de imagens em emails. Se um usuário permitir que a imagem remota seja carregada, o remetente não saberá qual é o endereço IP do usuário.</p>
    </div>
  </div>
</div>
