<h1 id="clientesdesktop" class="anchor"><a href="#clientesdesktop"><i class="fas fa-link anchor-icon"></i></a> Clientes de Email para Computadores de Mesa</h1>

{% include cardv2.html
  title="Thunderbird"
  image="/assets/img/svg/3rd-party/thunderbird.svg"
  description="O Thunderbird é um cliente de email multiplataforma, gratuito, de código-fonte aberto & livre. Ele pode agregar grupos de notícias, feeds de notícias e chat (XMPP, IRC, Twitter). É desenvolvido pela comunidade Thunderbird, e anteriormente pela Fundação Mozilla."
  website="https://www.thunderbird.net/"
  privacy-policy="https://www.mozilla.org/privacy/thunderbird/"
  source="https://hg.mozilla.org/comm-central/"
  windows="https://www.thunderbird.net/"
  mac="https://www.thunderbird.net/"
  linux="https://www.thunderbird.net/"
  freebsd="https://www.freshports.org/mail/thunderbird/"
  openbsd="http://openports.se/mail/mozilla-thunderbird"
  netbsd="http://pkgsrc.se/mail/thunderbird"
%}

{% include cardv2.html
  title="Mailpile"
  image="/assets/img/svg/3rd-party/mailpile.svg"
  description="Mailpile é um cliente de email gratuito, com código-fonte aberto, e financiado por sua própria comunidade. Possui funcionalidades de criptografia e privacidade fáceis de usar."
  website="https://www.mailpile.is/"
  privacy-policy="https://www.mailpile.is/privacy.html"
  tor="clgs64523yi2bkhz.onion"
  github="https://github.com/mailpile/Mailpile"
  linux="https://www.mailpile.is/download/linux.html"
%}

{% include cardv2.html
  title="Mailvelope"
  image="/assets/img/svg/3rd-party/mailvelope.svg"
  description="Mailvelope é uma poderosa extensão de navegador que habilita a troca de emails criptografados utilizando o protocolo de criptografia OpenPGP."
  website="https://www.mailvelope.com/en"
  privacy-policy="https://www.mailvelope.com/en/privacy-policy"
  github="https://github.com/mailvelope/mailvelope"
  firefox="https://addons.mozilla.org/firefox/addon/mailvelope/"
  chrome="https://chrome.google.com/webstore/detail/mailvelope/kajibbejlbohfaggdiogboambcijhkke?hl"
  edge="https://microsoftedge.microsoft.com/addons/detail/mailvelope/dgcbddhdhjppfdfjpciagmmibadmoapc"
%}

<h3>Menção Honrosa</h3>

<ul>
  <li><a href="https://neomutt.org/">NeoMutt</a> - NeoMutt é leitor de emails pela linha de comando para GNU/Linux e BSD. É um fork do <a href="https://en.wikipedia.org/wiki/Mutt_(email_client)">Mutt</a> com funcionalidades adicionais.
</u>

<h1 id="clientesmobile" class="anchor"><a href="#clientesmobile"><i class="fas fa-link anchor-icon"></i></a> Clientes de Email para Dispositivos Móveis</h1>

<h2 id="clientesandroid" class="anchor"><a href="#clientesandroid"><i class="fas fa-link anchor-icon"></i></a> Clientes de Email para Android</h1>

{% include cardv2.html
  title="FairEmail"
  image="/assets/img/svg/3rd-party/fairemail.svg"
  description="FairEmail é um aplicativo minimalista de email para Android, e com código-fonte aberto. Utiliza de protocolos abertos de email (IMAP, SMTP, OpenPGP) com baixo uso de dados e bateria."
  website="https://email.faircode.eu/"
  privacy-policy="https://github.com/M66B/FairEmail/blob/master/PRIVACY.md"
  github="https://github.com/M66B/FairEmail"
  fdroid="https://f-droid.org/en/packages/eu.faircode.email/"
  googleplay="https://play.google.com/store/apps/details?id=eu.faircode.email"
%}

{% include cardv2.html
  title="K-9 Mail"
  image="/assets/img/svg/3rd-party/k9mail.svg"
  description="K-9 Mail é um aplicativo de email independente que suporta tanto POP3 quanto IMAP, mas somente push mail para IMAP."
  website="https://k9mail.app/"
  privacy-policy="https://k9mail.app/privacy"
  github="https://github.com/k9mail"
  fdroid="https://f-droid.org/packages/com.fsck.k9/"
  googleplay="https://play.google.com/store/apps/details?id=com.fsck.k9"
%}

<h2 id="clientesios" class="anchor"><a href="#clientesios"><i class="fas fa-link anchor-icon"></i></a> Clientes de Email para iOS</h1>

{% include cardv2.html
  title="Canary Mail"
  image="/assets/img/svg/3rd-party/canarymail.svg"
  labels="color==warning::link==https://canarymail.io/faq.html::text==Código-fonte fechado::tooltip==O código-fonte do Canary Mail não está disponível. Canary Mail é um aplicativo proprietário."
  description="Canary Mail é um cliente de email pago, projetado para fornecer funcionalidades de criptografia de ponta-a-ponta e outros metódos de segurança como trancar o aplicativo com as digitais do usuário."
  website="https://canarymail.io/"
  privacy-policy="https://canarymail.io/privacy.html"
  ios="https://apps.apple.com/us/app/canary-mail/id1236045954"
%}


<h3>Menção Honrosa</h3>

<ul>
  <li><a href="https://letterbox-app.org/">Letterbox</a> - Letterbox é um cliente de email para iOS com código-fonte aberto, disponibilizado como parte de um projeto de pesquisa em andamento pela Freie Universität Berlin, Alemanha.</li>
</ul>

