 <h1 id="criptografar" class="anchor"><a href="#criptografar"><i class="fas fa-link anchor-icon"></i></a> Criptografia de Arquivos</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você não tem usado um software de criptografia para os seus dispositivos de armazenamento, emails ou arquivos, recomendamos que escolha um daqui.</strong>
</div>

{%
  include cardv2.html
  title="VeraCrypt: Criptografia em Disco"
  image="/assets/img/svg/3rd-party/veracrypt.svg"
  image-dark="/assets/img/svg/3rd-party/veracrypt-dark.svg"
  description="O <strong>VeraCrypt</strong> é um software livre e de código-fonte aberto usado para criptografia instantânea. Ele pode criar um disco virtual criptografado em um arquivo ou criptografar uma partição ou dispositivo de armazenamento inteiro usando autenticação na pré-inicialização do sistema. VeraCrypt é uma ramificação do projeto TrueCrypt, que foi descontinuado. Ele foi lançado inicialmente em 22 de junho de 2013. De acordo com seus desenvolvedores, melhorias de segurança foram implementadas e os problemas levantados pela auditoria do código do TrueCrypt foram resolvidos."
  website="https://veracrypt.fr/"
  git="https://www.veracrypt.fr/code/"
  windows="https://www.veracrypt.fr/en/Downloads.html"
  linux="https://www.veracrypt.fr/en/Downloads.html"
  mac="https://www.veracrypt.fr/en/Downloads.html"
%}

{%
  include cardv2.html
  title="GNU Privacy Guard: Criptografia para Email"
  image="/assets/img/svg/3rd-party/gnupg.svg"
  description="<strong>GnuPG</strong> é uma alternativa sob licença GPL ao conjunto de softwares proprietários de criptografia PGP. O GnuPG está em conformidade com RFC 4880, que é a atual especificação IETF (Internet Engineering Task Force) dos padrões de rastreamento do OpenPGP. As versões atuais do PGP (e do Filecrypt da Veridis) são interoperáveis com GnuPG e outros sistemas compatíveis com OpenPGP. O GnuPG é parte do projeto de software GNU da Free Software Foundation e recebeu grande financiamento do governo alemão."
  website="https://gnupg.org/"
  privacy-policy="https://gnupg.org/privacy-policy.html"
  git="https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git"
  windows="https://gpg4win.org/download.html"
  linux="https://gnupg.org/download/index.html#binary"
  freebsd="https://www.freshports.org/security/gnupg/"
  openbsd="http://openports.se/security/gnupg"
  netbsd="http://pkgsrc.se/security/gnupg"
  mac="https://gpgtools.org/"
  fdroid="https://f-droid.org/app/org.sufficientlysecure.keychain"
  googleplay="https://play.google.com/store/apps/details?id=org.sufficientlysecure.keychain"
%}

{%
  include cardv2.html
  title="7-Zip"
  image="/assets/img/svg/3rd-party/7zip.svg"
  description='<strong>7-Zip</strong> é um compactador de arquivos gratuito e de código-fonte aberto, um utilitário usado para colocar grupos de arquivos em containers compactados. No Linux, MacOS, e outros sistemas Unix-like a ferramenta de linha de comando <a href="http://p7zip.sourceforge.net/"><strong>p7zip</strong></a> é usada e se integra a várias interfaces, como <a href="https://wiki.gnome.org/Apps/FileRoller">FileRoller</a>, <a href="https://github.com/ib/xarchiver">Xarchiver</a>, <a href="https://kde.org/applications/utilities/ark">Ark</a>.'
  website="https://7zip.rnbastos.com/"
  source="https://sourceforge.net/projects/sevenzip/files/"
  windows="https://7-zip.org/download.html"
  linux="https://sourceforge.net/projects/p7zip/files"
  freebsd="https://www.freshports.org/archivers/p7zip"
  openbsd="https://sourceforge.net/projects/p7zip"
  netbsd="https://sourceforge.net/projects/p7zip"
%}

<h3>Menções Honrosas</h3>

<ul>
  <li><a href="https://cryptomator.org/">Cryptomator</a> - Criptografia AES gratuita para seus arquivos em nuvem. Software de código-fonte aberto: sem backdoors, sem registro.
    {% include badge.html
    color="warning"
    text="Código-fonte Fechado"
    icon="fas fa-exclamation-triangle"
    link="https://github.com/cryptomator/cryptomator-android/issues/1#issuecomment-257979375"
    tooltip="Os aplicativos móveis do Cryptomator não são de código-fonte aberto."
    %}</li>
  <li><a href="https://gitlab.com/cryptsetup/cryptsetup/">Linux Unified Key Setup (LUKS)</a> - Um sistema de criptografia de disco completo para Linux usando dm-crypt como backend de criptografia de disco. Incluído por padrão no Ubuntu. Disponível para Windows e Linux.</li>
  <li><a href="https://www.dyne.org/software/tomb/">Tomb</a> - Um script zsh simples para criar containers LUKS em linha de comando.</li>
  <li><a href="https://hat.sh/">Hat.sh</a> - Um aplicativo web multiplataforma em JavaScript sem servidor que fornece criptografia segura de arquivos usando o algoritmo AES-256-GCM em seu navegador. Ele também pode ser baixado e executado offline.</li>
  <li><a href="https://www.keka.io/">Keka</a> - Um compactador de arquivos apenas para macOS com a capacidade de criptografar arquivos.
    {% include badge.html
    color="warning"
    icon="fas fa-exclamation-triangle"
    text="Código-fonte Fechado"
    link="https://github.com/aonez/Keka#so-where-is-the-source-code"
    tooltip="Este software não é mais de código-fonte aberto."
    %}</li>
    <li><a href="https://kryptor.co.uk/">Kryptor</a> é um programa de criptografia para Windows, MacOS, e Linux.
      {% include badge.html
      color="warning"
      icon="fas fa-exclamation-triangle"
      text="Beta"
      tooltip="Kryptor ainda está em beta, portante pode não estar estável."
      %}</li>
</ul>
