<h1 id="sync" class="anchor">
  <a href="#sync">
    <i class="fas fa-link anchor-icon"></i>
  </a>
  Sincronização de Arquivos
</h1>

{%
  include cardv2.html
  title="Syncthing"
  image="/assets/img/svg/3rd-party/syncthing.svg"
  description="<strong>Syncthing</strong> substitui serviços proprietários de sincronização na nuvem por um software gratuito com código-fonte aberto, sendo também confiável e descentralizado. Seus dados são somente seus e você tem o direito de escolher onde eles são armazenados, como são transmitidos pela Internet e se são compartilhados com terceiros."
  website="https://syncthing.net/"
  github="https://github.com/syncthing?type=source"
  windows="https://github.com/syncthing/syncthing-gtk/releases/latest"
  linux="https://github.com/syncthing/syncthing-gtk/releases/latest"
  mac="https://github.com/syncthing/syncthing-macos/releases/latest"
  fdroid="https://f-droid.org/packages/com.github.catfriend1.syncthingandroid/"
  googleplay="https://play.google.com/store/apps/details?id=com.github.catfriend1.syncthingandroid"
%}

<h3>Menção Honrosa</h3>

<ul>
  <li>
    <a href="https://git-annex.branchable.com/">git-annex</a> - Permite o gerenciamento de arquivos com git, sem precisar colocar o conteúdo do arquivo diretamente no git. Por mais que pareça paradoxal, é útil quando estamos lidando com arquivos maiores do que o git pode suportar facilmente, seja por limitações de memória, tempo, ou armazenamento.
  </li>
</ul>