<h1 id="compartilhamento-de-arquivos" class="anchor"><a href="#compartilhamento-de-arquivos"><i class="fas fa-link anchor-icon"></i></a> Compartilhamento de Arquivos</h1>

{% include cardv2.html
title="Firefox Send"
image="/assets/img/tools/Firefox-Send.png"
website="https://send.firefox.com/"
description="Firefox Send usa encriptação de ponta-a-ponta para manter seus dados seguros do momento em que você os compartilha até o momento em que são acessados. Também oferece controles de segurança que você pode selecionar, como o tempo em que o link gerado para compartilhamento expira, e o número de vezes que os dados podem ser baixados. Para alcançar uma camada extra de segurança, você também pode colocar uma senha para proteger os dados."
github="https://github.com/mozilla/send"
web=""
android=""
%}

{% include cardv2.html
title="OnionShare"
image="/assets/img/tools/OnionShare.png"
website="https://onionshare.org/"
tor="http://elx57ue5uyfplgva.onion/"
description="OnionShare é uma ferramenta com código-fonte aberto que te deixa compartilhar arquivos de qualquer tamanho de maneira segura e anônima. A ferramenta funciona iniciando um servidor web, tornando-o acessível por um serviço onion Tor, e gerando uma URL impossível de adivinhar para acessar e baixar os arquivos. Não é necessária a configuração de um servidor na Internet ou usar serviços de terceiros para compartilhar os arquivos. Você hospeda os arquivos no seu próprio computador e usa o serviço onion Tor para fazer com que ele seja temporariamente acessível pela Internet."
github="https://github.com/micahflee/onionshare"
windows=""
mac=""
linux=""
%}

{% include cardv2.html
title="Magic Wormhole"
image="/assets/img/tools/Magic-Wormhole.png"
website="https://github.com/warner/magic-wormhole"
description="Seja mais produtivo e cumpra tarefas em qualquer computador, de forma segura. Esse pacote oferece uma biblioteca e uma ferramenta de linha de comando chamada wormhole, que torna possível baixar arquivos de tamanho arbitrário e diretórios (ou pequenos textos) de um computador a outro. Os dois pontos de saída são identificados quando dois códigos wormhole idênticos são usados: em geral, a máquina que envia dados é a mesma que gera e mostra o código, no qual deve ser digitado na máquina que irá receber os dados."
github="https://github.com/warner/magic-wormhole"
windows=""
mac=""
linux=""
%}

<h3>Menção Honrosa</h3>

<ul>
  <li><a href="https://github.com/schollz/croc">croc</a> - Envie dados de forma fácil e segura de um computador a outro.</li>
</ul>
