<h1 id="sincronizacao" class="anchor"><a href="#sincronizacao"><i class="fas fa-link anchor-icon"></i></a> Software de Sincronização de
  Arquivos</h1>

<div class="row mb-2">

  {% include card.html color="success"
  title="SparkleShare"
  image="/assets/img/tools/SparkleShare.png"
  url="https://sparkleshare.org/"
  footer="SO: Windows, macOS, Linux."
  description="SparkleShare cria uma pasta especial no seu computador. Você pode adicionar pastas hospedadas remotamente (ou \"projetos\") na pasta especial. 
  Esses projetos serão sincronizados automaticamente com a máquina que hospeda e todas as máquinas conectadas quando alguém adiciona, remove ou edita arquivos."
  %}

  {% include card.html color="primary"
  title="Syncthing"
  image="/assets/img/tools/Syncthing.png"
  url="https://syncthing.net/"
  footer="SO: Windows, macOS, Linux, Android, BSD, Solaris."
  description="Syncthing substitui serviços proprietários de sincronização na nuvem por um software aberto, confiável e descentralizado. 
  Seus dados são só seus e você merece escolher onde eles são armazenados, se é compartilhado com terceiros e como são transmitidos pela Internet."
  %}

</div>

<h3>Menção honrosa</h3>

<ul>
  <li>
    <a href="https://git-annex.branchable.com/">git-annex</a> - Permite o gerenciamento de arquivos com git, sem
    precisar colocar o conteúdo do arquivo no git. Por mais que pareça paradoxal, é útil quando lidando com arquivos
    maiores do que o git pode suportar facilmente,
    seja por limitações de memória, tempo, ou espaço de armazenamento.
  </li>
</ul>