<h1 id="ukusa" class="anchor"><a href="#ukusa"><i class="fas fa-link anchor-icon"></i></a> Vigilância Global em Massa: Os Quatorze Olhos</h1>

<img src="/assets/img/layout/UKUSA.png" width="260" height="115" class="img-fluid float-right" alt="Tratado UK-USA" style="margin-left:10px;">

<p>O Tratado de Segurança UK-USA é um tratado entre o Reino Unido, Estados Unidos, Austrália, Canadá, e Nova Zelândia, com o propósito de coletar, analisar, e compartilhar informações. 
  Membros desse grupo, conhecido como <a target="_blank" href="https://www.giswatch.org/en/communications-surveillance/unmasking-five-eyes-global-surveillance-practices">Os Cinco Olhos</a>, 
  focam em reunir e analisar inteligência (informações) de diferentes partes do mundo. Por mais que os países dos Cinco Olhos tenham concordado em <a target="_blank" href="https://www.pbs.org/newshour/world/an-exclusive-club-the-five-countries-that-dont-spy-on-each-other">não espionar uns aos outros</a> 
  como adversários, documentos vazados por Snowden revelaram que alguns membros desse grupo monitoram os cidadãos uns dos outros, <a target="_blank" href="https://www.theguardian.com/uk/2013/jun/21/gchq-cables-secret-world-communications-nsa">compartilhando informações</a> 
  para <a target="_blank" href="https://www.theguardian.com/politics/2013/jun/10/nsa-offers-intelligence-british-counterparts-blunkett">contornar leis domésticas</a> que os proíbem de espiar nos próprios cidadãos. 
  A aliança dos Cinco Olhos também coopera com grupos de países externos para compartilhar inteligência (formando assim os Nove Olhos e os Quatorze Olhos), 
  o que novamente não os impede de espionar uns aos outros.</p>

<div class="row mb-3">
  {% include panel.html color="danger"
  title="Cinco Olhos"
  body='
  <ol class="card-ol">
    <li>Austrália <div class="float-right"><span class="flag-icon flag-icon-au"></span></div></li>
    <li>Canadá <div class="float-right"><span class="flag-icon flag-icon-ca"></span></div></li>
    <li>Estados Unidos da América <div class="float-right"><span class="flag-icon flag-icon-us"></span></div></li>
    <li>Nova Zelândia <div class="float-right"><span class="flag-icon flag-icon-nz"></span></div></li>
    <li>Reino Unido <div class="float-right"><span class="flag-icon flag-icon-gb"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="warning"
  title="Nove Olhos"
  body='
  <ol class="card-ol" start="6">
    <li>Dinamarca <div class="float-right"><span class="flag-icon flag-icon-dk"></span></div></li>
    <li>França <div class="float-right"><span class="flag-icon flag-icon-fr"></span></div></li>
    <li>Noruega <div class="float-right"><span class="flag-icon flag-icon-no"></span></div></li>
    <li>Países Baixos (Holanda) <div class="float-right"><span class="flag-icon flag-icon-nl"></span></div></li>
  </ol>
  '
  %}

  {% include panel.html color="secondary"
  title="Quatorze Olhos"
  body='
  <ol class="card-ol" start="10">
    <li>Alemanha <div class="float-right"><span class="flag-icon flag-icon-de"></span></div></li>
    <li>Bélgica <div class="float-right"><span class="flag-icon flag-icon-be"></span></div></li>
    <li>Espanha <div class="float-right"><span class="flag-icon flag-icon-es"></span></div></li>
    <li>Itália <div class="float-right"><span class="flag-icon flag-icon-it"></span></div></li>
    <li>Suécia <div class="float-right"><span class="flag-icon flag-icon-se"></span></div></li>
  </ol>
  '
  %}
</div>