<div class="jumbotron p-5">
  <h1 class="display-4">
    <a href="{{ site.production_url }}" title="{{ site.name }}">
      <img class="img-fluid d-none d-sm-block" src="/assets/img/svg/layout/brand/horizontal-light.svg" data-theme-src="/assets/img/svg/layout/brand/horizontal-dark.svg" width="1000px" alt="{{ site.name }}">
      <div class="text-center">
        <img class="img-fluid d-sm-none pd-logo" src="/assets/img/svg/layout/brand/vertical-light.svg" data-theme-src="/assets/img/svg/layout/brand/vertical-dark.svg" width="300px" alt="{{ site.name }}">
      </div>
    </a>
  </h1>
  <p class="lead">Você está sendo vigiado. Governos e organizações privadas estão monitorando e gravando suas atividades online. {{ site.name }} contém o conhecimento e as ferramentas necessárias para proteger sua privacidade contra a vigilância global em massa.</p>
</div>
