<h1 id="hospedagem" class="anchor"><a href="#hospedagem"><i class="fas fa-link anchor-icon"></i></a> Provedor de Hospedagem Segura
</h1>

{% include cardv2.html
title="Data Center: Bahnhof"
image="/assets/img/provider/bahnhof.png"
description="Bahnhof é uma das maiores operadoras de redes da Suécia, fundada em 1994. Eles são especializados em construções inovadoras de data centers: a segurança extrema de sua infraestrutura, acompanhada de energia sustentável de baixo custo, os tornaram internacionalmente famosos."
website="https://www.bahnhof.net/"
%}

{% include cardv2.html
title="VPS & Domínios: Njalla"
image="/assets/img/provider/Njalla.png"
description="Criado pelas pessoas responsáveis pelo The Pirate Bay e IPredator VPN, Njalla é um provedor de VPN e registro de domínios consciente acerca da sua privacidade. Métodos de pagamento aceitos: Bitcoin, Litecoin, Monero, DASH, Bitcoin Cash e PayPal."
website="https://njal.la/"
tor="http://njalladnspotetti.onion"
%}

{% include cardv2.html
title="Colocation: DataCell"
image="/assets/img/provider/datacell.png"
description="DataCell é um data center que fornece colocating de forma segura em dois países: Suíça e Islândia."
website="https://datacell.is/"
%}

{% include cardv2.html
title="VPS & Hospedagem: Orange Website"
image="/assets/img/provider/orange_hosting.png"
description="Orange Website é um provedor islandês de hospedagem web que se orgulha de proteger a privacidade digital e a liberdade de expressão na Internet."
website="https://www.orangewebsite.com/"
%}