<h1 id="hospedagem" class="anchor"><a href="#hospedagem"><i class="fas fa-link anchor-icon"></i></a> Provedores de Hospedagem Segura
</h1>

{% include cardv2.html
  title="Centro de Processamento de Dados: Bahnhof"
  image="/assets/img/svg/3rd-party/bahnhof.svg"
  image-dark="/assets/img/svg/3rd-party/bahnhof-dark.svg"
  description="Bahnhof é uma das maiores operadoras de redes da Suécia, fundada em 1994. Eles são especializados em construções inovadoras de centros de processamento de dados: a segurança extrema de sua infraestrutura, acompanhada de energia sustentável de baixo custo, os tornaram internacionalmente famosos."
  website="https://www.bahnhof.net/"
  privacy-policy="https://bahnhof.se/filestorage/userfiles/file/PrivacyPolicy_Bahnhof.pdf"
  %}

{% include cardv2.html
  title="VPS & Domínios: Njalla"
  image="/assets/img/svg/3rd-party/njalla.svg"
  image-dark="/assets/img/svg/3rd-party/njalla-dark.svg"
  description="Njalla é um serviço de registro de domínios e provedor de VPS (Virtual Private Server) focado em privacidade, sediado em Nevis (com centros de processamento de dados VPS na Suécia). Criado por pessoas do The Pirate Bay e agora incorporado à VPN IPredator. Métodos de pagamento aceitos: Bitcoin, Litecoin, Monero, Zcash, DASH, Ethereum, Bitcoin Cash e PayPal."
  website="https://njal.la/"
  labels="color==warning::link==https://github.com/privacytools/privacytools.io/issues/1920::text==Aviso::tooltip==Njalla bloqueia o tráfego na porta 25."
  tor="http://njalladnspotetti.onion"
%}

