<h1 id="im" class="anchor"><a href="#im"><i class="fas fa-link anchor-icon"></i></a> Mensagens Instantâneas Encriptadas
</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você usa aplicativos de mensagens como o WhatsApp, Viber, LINE, Telegram ou Threema, recomendamos que
    escolha uma alternativa daqui.</strong>
</div>

<div class="row mb-2">
  {% include card.html color="success"
  title="Móvel: Signal"
  image="/assets/img/tools/Signal.png"
  url="https://signal.org"
  footer="SO: Android, iOS, macOS, Windows, Linux"
  description="Signal é um aplicativo desenvolvido pela Open Whisper Systems. O app tem recursos de mensagens instantâneas, assim como chamadas de vídeo e voz.
  Todas as comunicações são encriptadas de ponta a ponta. Signal é grátis e de código aberto, habilitando qualquer usuário a verificar sua segurança ao auditorar o código. O time de desenvolvimento é apoiado por doações da comunidade e concessões. Não há anúncios,
  e não custa nada usar."
  %}


  {% include card.html color="primary"
  title="Riot.im"
  image="/assets/img/tools/riot.png"
  url="https://riot.im/"
  footer="SO: Android, iOS, macOS, Windows, Linux, Web"
  labels="warning:beta:O software está atualmente em beta e afirma que 'Encriptação de ponta a ponta está em beta e pode não ser confiável. Você ainda não deve confiá-lo para garantir a segurança dos seus dados.'"
  description='Riot.im é um software livre de chat descentralizado baseado no protocolo <a href="https://matrix.org/">Matrix</a> , um protocolo aberto recente para comunicação em tempo real oferecendo encriptação E2E. Também pode conectar outras comunicações através de outros protocolos como IRC.'
  %}

  {% include card.html color="warning"
  title="Desktop: Ricochet"
  image="/assets/img/tools/Ricochet.png"
  url="https://ricochet.im/"
  footer="SO: Windows, macOS, Linux."
  description='Ricochet usa a <a href="#browser"><i class="fas fa-link"></i> rede Tor</a> para seus contatos sem depender de servidores de mensagens. 
  Ele cria um processo escondido, que é usado para se encontrar com seus contatos sem revelar sua localização ou endereço IP. 
  Ao invés de um nome de usuário, você recebe um endereço único, como por exemplo <em>ricochet:rs7ce36jsj24ogfw</em>. 
  Outros usuários do Ricochet podem usar esse endereço para mandar uma requisição de contato - perguntando se podem ser adicionados à sua lista de contatos.<br>
  <span class="badge badge-danger">Perigo</span> <strong>Sempre mantenha o Tor atualizado. Veja abaixo: </strong><a href="#ricochetTor"><i class="fas fa-link"></i> Atualizando o programa Tor incluído no Ricochet</a>'
  %}

</div>

<h3>Comparação Completa</h3>
<ul>
  <li><a href="https://www.securemessagingapps.com/">securemessagingapps.com</a> - Comparação de Aplicativos Seguros de
    Mensagem.
  </li>
  <li><a href="https://securechatguide.org/effguide.html">securechatguide.org</a> - Electronic Frontier Foundation:
    Guia para escolher um serviço de troca de mensagens.</li>
</ul>


<h3>Menções honrosas</h3>

<ul>
  <!-- Traduções podem melhorar -->
  <li><a href="https://retroshare.cc/">RetroShare</a> - Um software cliente de mensagens instantâneas encriptadas com
    E2E e chamadas de vídeo/voz.
    RetroShare também suporta TOR e I2P. </li>
  <li><a href="https://www.chatsecure.org">ChatSecure</a> - ChatSecure é um app de mensagens gratuito e de código aberto
    que tem recursos de encriptação OTR sobre XMPP. </li>
  <li><a href="https://kontalk.org/">Kontalk</a> - Uma rede de mensagens instantânea dirigida pela comunidade. Suporta
    encriptação ponta a ponta. Tanto os canais do cliente com o servidor quanto o servidor com o servidor são totalmente
    encriptados.</li>
  <li><a href="https://play.google.com/store/apps/details?id=eu.siacs.conversations">Conversations</a> - Um cliente
    Jabber/XMPP de código aberto para smartphones com Android 4.4 ou superior. Suporta encriptação de ponta a ponta com
    OMEMO ou openPGP. Também existe o <a
      href="https://play.google.com/store/apps/details?id=eu.siacs.conversations.legacy">Conversations
      Legacy</a> , que ainda suporta OTR.</li>
  <li><a href="https://get.wire.com/">Wire</a> <span class="badge badge-warning" data-toggle="tooltip"
      title="Wire armazena metadados como seus contatos de forma não encriptada.">experimental <i
        class="far fa-question-circle"></i> (<a
        href="https://motherboard.vice.com/en_us/article/secure-messaging-app-wire-stores-everyone-youve-ever-contacted-in-plain-text">mais
        info</a>)</span> - Um software livre de chats encriptados de ponta a ponta que suporta mensagens e chamadas de
    vídeo e voz.</li>
  <li><a href="https://status.im/">Status</a> - <span class="badge badge-warning">Experimental</span> Serviço encriptado
    de mensagens instantâneas com código aberto, P2P, e com suporte a DAPPs. </li>
  <li><a href="https://en.wikipedia.org/wiki/Off-the-Record_Messaging#Client_support">Lista de Clientes OTR -
      Wikipedia</a></li>
</ul>


<h3>Informações relacionadas</h3>

<ul>
  <li><a
      href="https://motherboard.vice.com/read/ricochet-encrypted-messenger-tackles-metadata-problem-head-on">Ricochet,
      o serviço de mensagens que resolve o problema de metadados passa audição de segurança | Motherboard</a></li>
  <li><a href="https://firstlook.org/theintercept/2015/07/14/communicating-secret-watched/">Conversando em segredo
      enquanto todos estamos sendo vigiados - firstlook.org</a></li>
  <li><a href="https://signal.org/android/apk/">Usuários avançados com necessidades especiais podem fazer o download da
      APK do Signal diretamente.
      A maioria dos usuários não deve fazer isto em situações normais.</a></li>
</ul>

<!-- Updating the Tor binary included with Ricochet -->
<h3 id="ricochetTor" class="anchor"><a href="#ricochetTor"><i class="fas fa-link anchor-icon"></i></a> Atualizando o
  programa Tor incluído no Ricochet</h3>

Atualmente não existem vulnerabilidades conhecidas no Ricochet. O software é seguro de usar contant que você atualize o
programa Tor incluído para sua versão mais nova.

<ol class="long-string-list">
  <li>Download the <a href="{{ site.url }}/navegadores/"><i class="fas fa-link"></i> Tor Browser</a>.</li>
  <li>Run the Tor Browser installer or extract package for your platform. Windows (.exe), MacOSX (.dmg) and Linux
    (.tar.bz2).</li>
  <li>Copy the Tor binary or create a symbolic link to it: </li>
  <br>
  <ul>
    <li><strong>Windows: </strong>Copy the Tor binary included with the Tor Browser and overwrite the old one included
      with Ricochet.</li>
    <ul>
      <li>Tor Browser binary: <code>%HOMEPATH%\Desktop\Tor Browser\Browser\TorBrowser\Tor\tor.exe</code></li>
      <li>Ricochet's included binary: <code>%HOMEPATH%\Desktop\Ricochet\tor.exe</code></li>
    </ul>
    <br>
    <li><strong>MacOSX: </strong>Assuming you copied the <code>Tor Browser.app</code> and <code>Ricochet.app</code> from
      their respective .dmg install media to <code>/Applications</code>: <br>
      Create a symbolic link to the Tor binary in Terminal. Ricochet will continue to use the up to date version of the
      Tor binary when you update the Tor Browser Bundle.</li>
    <ul>
      <li><code>rm ~/Applications/Ricochet.app/Contents/MacOS/tor <br>
                    ln -s ~/Applications/Tor\ Browser.app/Contents/Resources/TorBrowser/Tor/tor \ <br>
                          ~/Applications/Ricochet.app/Contents/MacOS/tor</code>
      </li>
    </ul>
    <br>
    <li><strong>Linux: </strong>Assuming you extracted the Tor Browser Bundle and Ricochet tarball to your home
      directory:</li>
    <ul>
      <li><code>rm ~/ricochet/tor <br>
                    ln -s ~/tor-browser_en-US/Browser/TorBrowser/Tor/tor ~/ricochet/tor</code>
      </li>
    </ul>
    <ul>
</ol>