<h1 id="mensagens-instantaneas" class="anchor"><a href="#mensagens-instantaneas"><i class="fas fa-link anchor-icon"></i></a> Mensagens Instantâneas Encriptadas</h1>

<div class="alert alert-warning" role="alert">
  <strong>
    Se você estiver utilizando aplicativos de mensagem como Telegram, LINE, Viber,  
    <a href="https://www.eff.org/deeplinks/2016/10/where-whatsapp-went-wrong-effs-four-biggest-security-concerns">WhatsApp</a>, 
    ou apenas mensagens SMS simples, recomendamos que escolha uma alternativa daqui.
  </strong>
</div>

{% include cardv2.html
title="Signal"
image="/assets/img/tools/Signal.png"
description="Signal é um aplicativo móvel desenvolvido pela Open Whisper Systems. O app fornece a habilidade de trocar mensagens instantâneas, assim como chamadas de voz e vídeo.
Todas as comunicações utilizam criptografia de ponta-a-ponta. Signal é gratuito, livre e de código-fonte aberto."
labels="success:VoIP"
website="https://signal.org/"
github="https://github.com/signalapp"
android=""
ios=""
%}

{% include cardv2.html
title="Wire"
image="/assets/img/tools/wire.png"
description="Uma aplicação de conversa com software livre e de código-fonte aberto, assim como criptografia de ponta-a-ponta. Tem funcionalidades de troca de mensagens, chamadas de voz e vídeo."
labels="warning:<a href=//www.vice.com/en_us/article/gvzw5x/secure-messaging-app-wire-stores-everyone-youve-ever-contacted-in-plain-text>Aviso</a>:Wire armazena alguns metadados sobre seus usuários nos servidores. 
Esses dados incluem nomes de perfil, fotos de perfil, nomes de usuário, e lista das conexões e conversas dos usuários.|success:VoIP"
website="https://wire.com/"
github="https://github.com/wireapp/"
android=""
ios=""
mac=""
windows=""
linux=""
web=""
%}

<h3>Comparação Completa</h3>
<ul>
	<li><a href="https://securechatguide.org/effguide.html">securechatguide.org</a> - Guia para Escolher um Aplicativo de Mensagens.</li>
	<li><a href="https://www.securemessagingapps.com/">securemessagingapps.com</a> - Comparação de Aplicativos Seguros de Mensagens.</li>
  <li><a href="https://www.thinkprivacy.io/messengers.html">thinkprivacy.io</a> - Comparação Simples de Aplicativos Seguros de Mensagens.</li>
</ul>

<h3>Menções honrosas</h3>

<ul>
  <li><a href="https://briarproject.org/">Briar</a> - Um aplicativo de mensagens ultra-seguro e peer-to-peer que se conecta e estabelece a comunicação por Direct Wi-Fi, Bluetooth, ou Tor pela Internet, mantendo seus usuários protegidos da vigilância e censura.
  <li><a href="https://retroshare.cc/">RetroShare</a> - Um software cliente de mensagens instantâneas encriptadas com E2E e chamadas de vídeo/voz. RetroShare também suporta Tor e I2P.</li>
  <li><a href="https://xmpp.org/">XMPP</a> - Protocolo federado de mensagens com criptografia de ponta-a-ponta <a href="https://conversations.im/omemo/">OMEMO</a>, OTR, ou OpenPGP:</li>
  <ul>
    <li><a href="https://conversations.im/">Conversations</a> (Android) - Um cliente Jabber/XMPP de código-fonte aberto para smartphones Android 4.4+. <span class="badge badge-success">OMEMO</span></li>
    <li><a href="https://gajim.org/">Gajim</a> (FreeBSD, Linux, Windows) - Um cliente XMPP de código-fonte aberto com funcionalidades completas. <span class="badge badge-success">OMEMO</span></li>
    <li><a href="https://monal.im/">Monal</a> (iOS, MacOS) - Um cliente XMPP em desenvolvimento ativo. <span class="badge badge-success">OMEMO</span> <span class="badge badge-success">VoIP</span></li>
    <li><a href="https://omemo.top/">Outros clientes com suporte a OMEMO</a>.</li>
  </ul>
  <li><a href="https://www.kontalk.org/">Kontalk</a> - Uma rede de mensagens instantâneas liderada pela comunidade. Suporta criptografia de ponta-a-ponta. Tanto o canal cliente-servidor e o canal servidor-servidor são totalmente encriptados.</li>
  <li><a href="https://keybase.io/">Keybase</a> - <span class="badge badge-warning" data-toggle="tooltip" title="Este software depende de um servidor central com código-fonte fechado.">Aviso</span> Mensagens com critografia de ponta-a-ponta com verificação social.</li>
  <li><a href="https://status.im/">Status</a> - <span class="badge badge-warning">Experimental</span> Um mensageiro instantâneo com software livre e de código-fonte aberto, peer-to-peer, encriptado com suporte a DAPPs.</li>
  <li> <a href="https://tox.chat/">Tox</a> - <span class="badge badge-warning">Experimental</span> Software livre de mensagens instantâneas e de código-fonte aberto, peer-to-peer, encriptado e com suporte a chamadas de vídeo. <span class="badge badge-success">VoIP</span></li>
  <li><a href="https://jami.net/">Jami (antigo Ring/SFLphone)</a> - Dá controle total sobre suas comunicações e um nível incomparável de privacidade. Jami possui <em>mensagens de texto, chamadas de vídeo e voz, transferência de arquivos, e conferências de vídeo</em>. <span class="badge badge-success">VoIP</span></li>
</ul>

<h3>Informações relacionadas</h3>

<ul>
  <li><a href="https://firstlook.org/theintercept/2015/07/14/communicating-secret-watched/">Conversando em Segredo Enquanto Todos Estamos Sendo Vigiados - firstlook.org</a></li>
  <li><a href="https://signal.org/android/apk/">Usuários avançados com necessidades especiais podem precisar fazer o download direto da APK do Signal. A maioria dos usuários não deve fazer isto em situações normais.</a></li>
  <li>Audições independentes de segurança</li>
  <ul>
    <li><a href="https://eprint.iacr.org/2016/1013.pdf">A Formal Security Analysis of the Signal Messaging Protocol (2019)</a> por Katriel Cohn-Gordon, Cas Cremers, Benjamin Dowling, Luke Garratt e Douglas Stebila</li>
    <li><a href="https://wire.com/en/security/#audits">Audições independentes de segurança</a> do site Wire</li>
    <li><a href="https://keybase.io/docs-assets/blog/NCC_Group_Keybase_KB2018_Public_Report_2019-02-27_v1.3.pdf">Keybase's Protocol Security Review (2019)</a> por <a href="https://www.nccgroup.trust/">NCC Group</a></li>
  </ul>
</ul>

