<h1 id="extensoes_ios" class="anchor"><a href="#extensoes_ios"><i class="fas fa-link anchor-icon"></i></a> Extensões de Privacidade para iOS</h1>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/png/3rd-party/passepartout.png" height="70" width="70" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Passepartout">
    </div>
    <div class="col">
    <h3>Use uma VPN com o <a href="https://passepartoutvpn.app">Passepartout</a></h3>
    <p><strong>Passepartout</strong> é uma aplicativo OpenVPN amigável gratuíto e de <a href="https://github.com/passepartoutvpn">código-fonte aberto</a> com predefinições para vários provedores (incluindo Mullvad e ProtonVPN, dois <a href="https://www.privacidade.digital/provedores/vpn/">provedores recomendados pelo Privacidade.Digital</a>) e facilmente configurável.</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/png/3rd-party/adguard.png" height="70" width="70" class="img-fluid d-block mr-auto ml-auto align-middle" alt="AdGuard">
    </div>
    <div class="col">
    <h3>Bloqueie conteúdos no Safari com <a href="https://adguard.com/en/adguard-ios/overview.html">AdGuard para iOS</a></h3>
    <p><strong>AdGuard para iOS</strong> é um aplicativo bloqueador de conteúdo gratuíto (e de <a href="https://github.com/AdguardTeam/AdguardForiOS">código-fonte aberto</a>) que permite definir filtros dentro do Safari. Como requerido pelo iOS, ele usa a <a href="https://developer.apple.com/documentation/safariservices/creating_a_content_blocker">Content Blocker API</a> nativa para privacidade ainda maior.</p>
    </div>
  </div>

<h2>Ver também</h2>

<ul>
  <li>
    <a href="/provedores/dns/#clientes-dns-ios">Nossas recomendações de cliente DNS</a>, que tem informações sobre habilitar DNS criptogrgafado no iOS.
  </li>
</ul>
