<h1 id="live_os" class="anchor"><a href="#live_os"><i class="fas fa-link anchor-icon"></i></a> Sistemas Operacionais
  Live CD</h1>

<div class="row mb-2">

  {% include card.html color="success"
  title="Tails"
  image="/assets/img/tools/Tails.png"
  url="https://tails.boum.org/"
  description="Tails é um sistema operacional live, que é iniciado de um DVD, pendrive ou cartão SD em quase todo computador. Tem por objetivo preservar a privacidade e anonimidade e também ajuda a: Usar a Internet anonimamente e contornar a censura; se conectar à Internet pela rede Tor; não deixar rastros no computador; usar ferramentas criptográficas modernas para encriptar arquivos, emails e mensagens instantâneas."
  %}

  {% include card.html color="primary"
  title="KNOPPIX"
  image="/assets/img/tools/KNOPPIX.png"
  url="https://www.knopper.net/knoppix/"
  website="knopper.net"
  description="Knoppix é um sistema operacional baseado no Debian e projetado para rodar diretamente de um CD / DVD (Live CD) ou um pendrive USB (Live USB), um dos primeiros sistemas operacionais desse tipo. Ao iniciar um programa, ele é carregado da mídia removível em que o SO estiver instalado e descompactado na memória RAM. A descompactação é transparente e instantânea."
  %}

  {% include card.html color="warning"
  title="Puppy Linux"
  image="/assets/img/tools/Puppy-Linux.png"
  url="http://puppylinux.org/"
  description="Puppy Linux é um sistema operacional leve que foca em usabilidade e uso mínimo de memória. Todo o sistema pode rodar da memória RAM com versões recentes geralmente ocupando em torno de 210 MB, permitindo a remoção da mídia em que o SO estiver instalado após a inicialização do sistema."
  %}

</div>

<h3>Menções honrosas</h3>

<ul>
  <li><a href="https://distro.ibiblio.org/tinycorelinux/">Tiny Core Linux</a> - Um sistema operacional Linux mínimo que
    foca em fornecer um sistema base utilizando BusyBox e FLTK. A distribuição é famosa pelo seu tamanho (15 MB) e
    minimalismo, com funcionalidades adicionais fornecidas por extensões.</li>
</ul>