<h1 id="notebook" class="anchor"><a href="#notebook"><i class="fas fa-link anchor-icon"></i></a> Notas Digitais</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você estiver usando um aplicativo como o Evernote, Google Keep ou Microsoft OneNote no momento, você deve escolher uma alternativa aqui.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Joplin"
  image="/assets/img/tools/Joplin.png"
  url="https://joplin.cozic.net/"
  footer="OS: Windows, macOS, Linux, iOS, Android, Firefox/Chrome (Web Clipper)."
  description="Joplin é uma aplicação livre, open source, totalmente elaborada para anotações e tarefas, que pode lidar com um grande número de marcações organizadas em cadernos e tags. Ele oferece criptografia E2EE e pode sincronizar através do Nextcloud, Dropbox e muito mais. Ele também oferece fácil importação do Evernote e notas de texto simples."
  %}

  {% include card.html color="primary"
  title="Standard Notes"
  image="/assets/img/tools/StandardNotes.png"
  url="https://standardnotes.org/"
  footer="OS: Windows, macOS, Linux, iOS, Android, Web."
  description="O Standard Notes é uma aplicação simples e privada que torna as suas notas fáceis e disponíveis onde quer que esteja. Apresenta criptografia completa em todas as plataformas e uma poderosa experiência no desktop com temas e editores personalizados."
  %}

  {% include card.html color="warning"
  title="Turtl"
  image="/assets/img/tools/Turtl.png"
  url="https://turtlapp.com/"
  footer="OS: Windows, macOS, Linux, Android."
  description="O Turtl permite que você tome notas, marque websites e armazene documentos para projetos sigilosos. Desde compartilhar senhas com seus colegas de trabalho até rastrear pesquisas sobre um artigo que você está escrevendo, Turtl mantém tudo a salvo de todos, menos você e aqueles com quem você compartilha."
  %}

</div>

<h3>Alerta</h3>

<ul>
  <li>Nota: A partir de dezembro de 2018, o Joplin não suporta proteção por senha/pin para o aplicativo em si ou notas/cadernos individuais. Os dados ainda são criptografados em trânsito e no local de sincronização usando sua chave mestra. Veja <a href='https://github.com/laurent22/joplin/issues/289'> o assunto em aberto</a>.</li>
</ul>

<h3>Menções honrosas</h3>

<ul>
  <li><a href="https://github.com/notable/notable">Notable</a> - O aplicativo de anotações baseado em marcadores que não é uma porcaria.</li>
  <li><a href="http://paperwork.rocks/">Paperwork</a> - Solução de código aberto e auto-hospedagem. Para servidores PHP / MySQL.</li>
  <li><a href="https://orgmode.org">Org-mode</a> - Um modo principal para o GNU Emacs. Org-mode é para fazer anotações, manter listas de afazeres, planejar projetos e criar documentos com um sistema de texto puro rápido e eficaz. </li>
</ul>
