<h1 id="os" class="anchor"><a href="#os"><i class="fas fa-link anchor-icon"></i></a> Sistemas Operacionais de PC</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você estiver usando um sistema operacional como o Windows ou o macOS, você deve escolher um SO
    alternativo daqui.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Qubes OS"
  image="/assets/img/tools/Qubes-OS.png"
  url="https://www.qubes-os.org/"
  tor="http://qubesos4rrrrz6n4.onion"
  description="Qubes é um sistema operacional de código aberto feito para entregar segurança avançada para computadores. Qubes é baseado em Xen, X Window System e Linux. Ele roda a maioria dos aplicativos e drivers Linux."
  %}

  {% include card.html color="primary"
  title="Debian"
  image="/assets/img/tools/Debian.png"
  url="https://www.debian.org/"
  tor="http://sejnfjrq6szgca7v.onion"
  description="Debian é um sistema operacional do tipo Unix e uma distribuição Linux que é composta inteiramente de software livre e de código aberto, muitos sob a licença pública GNU, e distribuídos por um grupo de indivíduos conhecimdos como Projeto Debian."
  %}

  {% include card.html color="warning"
  title="Trisquel"
  image="/assets/img/tools/Trisquel.png"
  url="https://trisquel.info/"
  description="Trisquel é um sistema operacional baseado em Linux derivado do Ubuntu. O projeto tem por objetivo ser um sistema totalmente composto por software livre, ou seja, sem software ou firmware proprietário. O SO usa Linux-libre, uma versão do kernel Linux com o código não-livre (também chamado de binary blobs) removido."
  %}

</div>

<h3>Aviso</h3>

<ul>
  <li><a href="#win10"><i class="fas fa-link"></i> Não utilize o Windows 10 - É um pesadelo pra sua privacidade</a></li>
</ul>

<h3>Menções honrosas</h3>

<!-- Traduzir depois -->
<ul>
  <li><a href="https://www.openbsd.org/">OpenBSD</a> - A project that produces a free, multi-platform 4.4BSD-based
    UNIX-like operating system. Emphasizes portability, standardization, correctness, proactive security and integrated
    cryptography.</li>
  <li><a href="https://www.archlinux.org/">Arch Linux</a> - A simple, lightweight Linux distribution. It is composed
    predominantly of free and open-source software, and supports community involvement. <a
      href="https://www.parabola.nu/">Parabola</a> is a
    completely open source version of Arch Linux.</li>
  <li><a href="https://www.whonix.org/">Whonix</a> - A Debian GNU/Linux based security-focused Linux distribution. It
    aims to provide privacy, security and anonymity on the internet. The operating system consists of two virtual
    machines, a "Workstation"
    and a Tor "Gateway". All communication are forced through the Tor network to accomplish this.</li>
  <li><a href="https://subgraph.com/">Subgraph OS</a> - Another Debian based Linux distribution, it features security
    hardening which makes it more resistant to security vulnerabilities. Subgraph runs many desktop applications in a
    security sandbox to limit their risk in case of compromise.
    By default, it anonymizes Internet traffic by sending it through the Tor network. Note: It is still in alpha, and
    much testing and bug fixing still has to be done.</li>
</ul>