<div class="page-header">
  <h1 id="participar" class="anchor"><a href="#participar"><i class="fas fa-link anchor-icon"></i></a> Participe com sugestões e críticas construtivas</h1>
</div>

<p>É muito importante para um site como o {{ site.name }} manter-se atualizado. Fique de olho em atualizações nas recomendações que damos no site e em nossas redes sociais. Siga notícias recentes sobre provedores que recomendamos. Nós damos o melhor para manter tudo atualizado, mas não somos perfeitos e a Internet está em constante e rápida mudança, e <strong>estamos precisando de mais colaboradores frequentes</strong>. Se você encontrar um erro, ou pensa que um provedor não deveria estar listado no site, ou um bom serviço está de fora, ou uma extensão de navegador não é mais a melhor escolha, ou qualquer outra coisa... <strong>Fale conosco, por favor.</strong> Você pode nos encontrar no <a rel="me" href="https://mastodon.social/@PrivacidadeJa">Mastodon</a>, ou no Matrix em <code class="highlighter-rouge">#privacidade.digital-geral:matrix.org</code>. Para mais alternativas, visite nossa <a href="/contato">página de contato</a>.</p>

<div class="row">


  {% include card.html color="primary"
  title="Siga-nos no Mastodon & Twitter"
  image="/assets/img/svg/3rd-party/mastodon.svg"
  url="https://mastodon.social/@PrivacidadeJa"
  website="Mastodon"
  extra_button='<a class="btn btn-primary mb-1" href="https://twitter.com/PrivacidadeJa">Twitter</a>'
  description="Receba as últimas atualizações relacionadas a privacidade do nosso feed no Mastodon. Siga-nos hoje! Nota: Nossa conta do Twitter apenas replica os posts do Mastodon."
  %}

  {% include card.html color="warning"
  title="Colabore no GitHub"
  font="fab fa-github"
  url="https://github.com/PrivacidadeDigital/privacidade.digital"
  website="GitHub"
  description="O código-fonte deste site está disponível por completo no GitHub. Junte-se ao nosso time de desenvolvimento!"
  extra_button='<a class="btn btn-warning mb-1" href="https://github.com/PrivacidadeDigital/privacidade.digital/graphs/contributors">Lista de Colaboradores</a>'
  %}

</div>

<p>
  Este é um projeto comunitário e nosso objetivo é entregar a melhor informação disponível para ajudar pessoas a proteger melhor sua privacidade digital. Obrigado por participar, este projeto precisa de você!
</p>
<div hidden>
  <a rel="me" href="https://mastodon.social/@abbluiz">Mastodon</a>
  <a rel="me" href="https://mastodon.social/@fredisem">Mastodon</a>
</div>