<div class="page-header">
  <h1 id="colabore" class="anchor"><a href="#colabore"><i class="fas fa-link anchor-icon"></i></a> Colabore com Sugestões e Críticas Construtivas</h1>
</div>

<p>É muito importante para um site como o {{ site.name }} manter-se atualizado. Fique de olho em atualizações dos aplicativos que recomendamos em nosso site. Acompanhe também sites de notícias relacionadas aos provedores que recomendamos. Nós tentamos manter as recomendações atualizadas da melhor forma que podemos, mas não somos perfeitos e a Internet muda muito rapidamente. Se você encontrar um erro por aqui, ou se achar que um provedor não deveria ser recomendado, ou que um provedor está faltando, ou uma extensão de navegador já não é a melhor opção para determinado propósito, ou qualquer outra coisa... <strong>Fale com a gente, por favor.</strong> Você pode nos encontrar na sala de chat Matrix <code class="highlighter-rouge">#privacidade.digital-geral:matrix.org</code> ou pelos links abaixo.

<div class="row">

  {% include card.html color="primary"
  title="Siga-nos no Mastodon & Twitter"
  image="/assets/img/svg/3rd-party/mastodon.svg"
  url="https://mastodon.social/@PrivacidadeJa"
  website="Mastodon"
  extra_button='<a class="btn btn-primary mb-1" href="https://twitter.com/PrivacidadeJa">Twitter</a>'
  description="Receba as últimas atualizações relacionadas a privacidade pelo nosso feed Mastodon. Siga-nos hoje! Nota: Nosso perfil Twitter apenas reposta o conteúdo do nosso perfil Mastodon."
  %}

  {% include card.html color="warning"
  title="Colabore no GitHub"
  font="fab fa-github"
  url="https://github.com/PrivacidadeDigital/privacidade.digital"
  website="GitHub"
  description="O código-fonte deste site está disponível por completo no GitHub. Junte-se ao nosso time de desenvolvimento!"
  extra_button='<a class="btn btn-warning mb-1" href="https://github.com/PrivacidadeDigital/privacidade.digital/graphs/contributors">Lista de Colaboradores</a>'
  %}

</div>

<p>
  Este site é um projeto comunitário e nosso objetivo é entregar a melhor informação disponível para ajudar pessoas a protegerem melhor sua privacidade digital. Obrigado por participar, pois este projeto precisa de você!
</p>

<div id="perfis-mastodon-do-time-de-colaboradores-frequentes" hidden>
  <a rel="me" href="https://mastodon.social/@abbluiz">Mastodon</a>
  <a rel="me" href="https://mastodon.xyz/@Darth_Invader">Mastodon</a>
</div>