<h1 id="pw" class="anchor"><a href="#pw"><i class="fas fa-link anchor-icon"></i></a>Gerenciador de Senhas</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você estiver usando algum gerenciador de senhas como 1Password, LastPass, Roboform ou iCloud Keychain, você deveria escolher alguma das alternativas listadas aqui.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Bitwarden - Cloud / Local"
  image="/assets/img/tools/bitwarden.png"
  url="https://bitwarden.com/"
  footer="OS: Windows, macOS, Linux, iOS, Android, Web."
  description="Bitwarden é um gerenciador de senhas gratuito e open source. Ele busca resolver problemas de gerenciamento de senhas para indivíduos, times, e empresas. Bitwarden esta entre as soluções mais fáceis e rápidas para armazenar todos os seus logins e senhas enquanto convenientemente mantendo-o sincronizado entre todos os seus dispositivos. Se você não deseja usar a cloud Bitwarden, você pode facilmente hospedar o seu próprio server Bitwarden."
  %}

  {% include card.html color="primary"
  title="KeePass / KeePassXC - Local"
  image="/assets/img/tools/KeePass.png"
  url="https://keepass.info/download.html"
  website="keepass.info"
  footer="OS: Windows, macOS, Linux, iOS, Android, BSD."
  description='KeePass é um gerenciador de senhas gratuito e open source, que ajuda você a administrar suas senhas de uma forma segura. Todas as suas senhas ficam em um database, que é protegido com uma senha mestre ou com um <i>key file</i>. Os databases são encriptados usando os melhores e mais seguros algoritmos de criptografia conhecidos: AES e Twofish. Veja também: <a href="https://keepassxc.org/">KeePassXC</a> com suporte cross-plataform nativo oficial para  Windows/macOS/Linux.'
  %}
  {% include card.html color="warning"
  title="LessPass - Navegador"
  image="/assets/img/tools/LessPass.png"
  url="https://lesspass.com/"
  footer="OS: Windows, macOS, Linux, Android."
  description="LessPass é um gerenciador de senhas gratuito e open source que gera senhas únicas para websites, contas de email, ou qualquer outra coisa baseada em uma senha mestre e informações que você saiba. Por rodar no navegador, sincronização entre dispositivos nao e necessária. Ele usa os algorítimos PBKDF2 e SHA-256 de criptografia. É recomendado que você use extensões no seu navegador para maior segurança."
  %}

</div>

<h3>Menção Honrosa</h3>

<ul>
  <li>
    <a href="https://masterpassword.app">Master Password</a> - Master Password e baseado em um engenhoso algoritmo para geração de senhas que garante que suas senhas nunca serão perdidas. Suas senhas não são salvas: elas são geradas sobre demanda com base no seu nome, o site, e a sua senha mestre. Por essa razão, sincronizamento, backup, ou acesso a internet não é necessário.
  </li>

  <li>
    <a href="https://psono.com/">Psono</a> - gerenciador de senhas gratuito e open source para times com encriptação <i>client side</i> e um compartilhamento seguro de senhas, arquivos, marcadores, emails... Todos os segredos sao protegidos por uma senha mestre. Ele usa <a href="https://nacl.cr.yp.to/">NACL Crypto</a>, uma combinação entre Curve25519, Salsa20 e Poly1305.
  </li>

  <li>
    <a href="https://pwsafe.org/">Password Safe</a> - Quer a resposta seja uma ou centenas, Password Safe permite você criar de maneira rápida e segura uma lista de usuário/senha segura e encriptografada. Com Password Safe tudo o que você tem que fazer e criar e se lembrar de uma única "Senha Mestre" de sua escolha para desbloquear e acessar a sua lista de usuário/senha inteira.
  </li>
</ul>

<h3>Informações relacionadas</h3>

<ul>
  <li><a href="https://peertube.mastodon.host/videos/watch/4cdedd90-a5b4-4022-b93d-828e85ed58cd">Edward Snowden sobre senhas no Peertube</a></li>
</ul>
