<h1 id="gs" class="anchor"><a href="#gs"><i class="fas fa-link anchor-icon"></i></a> Gerenciador de Senhas</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você estiver utilizando um gerenciador de senhas como o 1Password, LastPass, Roboform ou iCloud Keychain, recomendamos que escolha uma alternativa daqui.</strong>
</div>

{%
  include cardv2.html
  title="Bitwarden: Nuvem/Auto-Hospedável"
  image="/assets/img/svg/3rd-party/bitwarden.svg"
  description="<strong>Bitwarden</strong> é um gerenciador de senhas gratuito e com código-fonte aberto. Tem como objetivo resolver problemas de gerenciamento de senhas para indivíduos, equipes e organizações empresariais. O Bitwarden está entre as soluções mais fáceis e seguras para armazenar todos os seus logins e senhas, enquanto os mantém convenientemente sincronizados entre todos os seus dispositivos. Se você não quiser usar a nuvem do Bitwarden, pode hospedar facilmente seu próprio servidor Bitwarden."
  website="https://bitwarden.com/"
  privacy-policy="https://bitwarden.com/privacy/"
  github="https://github.com/bitwarden"
  web="https://vault.bitwarden.com/#/"
  windows="https://bitwarden.com/#download"
  linux="https://bitwarden.com/#download"
  freebsd="https://www.npmjs.com/package/@bitwarden/cli"
  openbsd="https://www.npmjs.com/package/@bitwarden/cli"
  netbsd="https://www.npmjs.com/package/@bitwarden/cli"
  mac="https://bitwarden.com/#download"
  firefox="https://addons.mozilla.org/firefox/addon/bitwarden-password-manager/"
  chrome="https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb"
  safari="https://safari-extensions.apple.com/details/?id=com.bitwarden.safari-LTZ2PFU5D6"
  opera="https://addons.opera.com/extensions/details/bitwarden-free-password-manager/"
  edge="https://www.microsoft.com/store/apps/9P6KXL0SVNNL"
  fdroid="https://mobileapp.bitwarden.com/fdroid/"
  googleplay="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden"
  ios="https://itunes.apple.com/app/bitwarden-free-password-manager/id1137397744?mt=8"
%}

{%
  include cardv2.html
  title="KeePassXC: Local"
  image="/assets/img/svg/3rd-party/keepassxc.svg"
  description="<strong>KeePassXC</strong> é uma ramificação comunitária do KeePassX, uma versão multi-plataforma do KeePass Password Safe, com o objetivo de extender e melhorar seu funcionamento com novas funcionalidades e melhorias para fornecer um gerenciador de senhas moderno, totalmente multi-plataforma e com código-fonte aberto."
  website="https://keepassxc.org/"
  privacy-policy="https://keepassxc.org/privacy/"
  github="https://github.com/keepassxreboot/keepassxc"
  windows="https://keepassxc.org/download/#windows"
  linux="https://keepassxc.org/download/#linux"
  mac="https://keepassxc.org/download/#mac"
  freebsd="https://www.freshports.org/security/keepassxc/"
  openbsd="http://openports.se/security/keepassxc"
  netbsd="http://pkgsrc.se/security/keepassxc"
  fdroid="https://f-droid.org/packages/com.kunzisoft.keepass.libre/"
  googleplay="https://play.google.com/store/apps/details?id=com.kunzisoft.keepass.free"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/keepassxc-browser"
  chrome="https://chrome.google.com/webstore/detail/keepassxc-browser/oboonakemofpalcgghocfoadofidjkkk"
%}

{%
  include cardv2.html
  title="LessPass: Navegador"
  image="/assets/img/svg/3rd-party/lesspass.svg"
  description="<strong>LessPass</strong> é um gerenciador de senhas gratuito e com código-fonte aberto que gera senhas únicas para websites, contas de email, ou qualquer outra coisa baseada em uma senha mestre e informações que você saiba. Por rodar no navegador, sincronização entre dispositivos não é necessária. Ele usa os algorítimos de criptografia PBKDF2 e SHA-256. É recomendado que você use extensões no seu navegador para maior segurança."
  website="https://lesspass.com/"
  privacy-policy="https://addons.mozilla.org/en-US/firefox/addon/lesspass/privacy/"
  github="https://github.com/lesspass/lesspass"
  windows="https://pypi.org/project/lesspass/"
  mac="https://pypi.org/project/lesspass/"
  linux="https://pypi.org/project/lesspass/"
  freebsd="https://pypi.org/project/lesspass/"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/lesspass/"
  chrome="https://chrome.google.com/webstore/detail/lesspass/lcmbpoclaodbgkbjafnkbbinogcbnjih"
  fdroid="https://f-droid.org/packages/com.lesspass.android"
  googleplay="https://play.google.com/store/apps/details?id=com.lesspass.android"
%}

<h3>Menções Honrosas</h3>

<ul>
  <li>
    <a href="https://masterpassword.app">Master Password</a> - Master Password é baseado em um engenhoso algoritmo para geração de senhas que garante que suas senhas nunca serão perdidas. Suas senhas não são salvas: elas são geradas sobre demanda com base no seu nome, o site, e a sua senha mestre. Por esse motivo, sincronização, backup, ou acesso à Internet não são necessários.
  </li>

  <li>
    <a href="https://psono.com/">Psono</a> - Gerenciador de senhas gratuito e com código-fonte aberto para times, com criptografia no cliente e um compartilhamento seguro de senhas, arquivos, marcadores, emails, etc. Todos os segredos são protegidos por uma senha mestre. Ele usa <a href="https://nacl.cr.yp.to/">NACL Crypto</a>, uma combinação entre Curve25519, Salsa20 e Poly1305.
  </li>

  <li>
    <a href="https://pwsafe.org/">Password Safe</a> - Quer sua necessidade seja de uma ou centenas, Password Safe permite a você criar de maneira rápida e segura uma lista de usuário/senha criptografada. Com Password Safe tudo o que você tem que fazer é criar e se lembrar de uma única senha mestre de sua escolha para desbloquear e acessar a sua lista completa de usuário/senha.
  </li>
  <li>
    <a href="https://www.passwordstore.org/">Pass</a> - Pass é um armazenamento de senhas básico que mantém as senhas usando arquivos criptografados gpg2 dentro de uma árvore de diretório simples que reside em <code>~/.password-store</code>. Possui uma interface de linha de comando simples onde o usuário pode realizar as ações usuais, e sua funcionalidade pode ser estendida por plugins. Ele também pode ser usado em scripts sem a necessidade de inserir a senha real em texto simples.
  </li>
</ul>
