<h1 id="gs" class="anchor"><a href="#gs"><i class="fas fa-link anchor-icon"></i></a> Gerenciador de Senhas</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você estiver utilizando um gerenciador de senhas como o 1Password, LastPass, Roboform ou iCloud Keychain, recomendamos que escolha uma alternativa daqui.</strong>
</div>

{%
  include cardv2.html
  title="Bitwarden: Nuvem / Auto-hospedável"
  image="/assets/img/tools/bitwarden.png"
  description="<strong>Bitwarden</strong> é um gerenciador de senhas gratuito e de código-fonte aberto. Ele busca resolver problemas de gerenciamento de senhas para indivíduos, times, e empresas. Bitwarden está entre as soluções mais fáceis e rápidas para armazenar todos os seus logins e senhas, ao mesmo tempo que seus dados são sincronizados convenientemente entre todos os seus dispositivos. Se você não deseja utilizar a Nuvem do Bitwarden, você tem a liberdade de hospedar seu próprio servidor."
  website="https://bitwarden.com/"
  github="https://github.com/bitwarden"
  web="https://vault.bitwarden.com/#/"
  linux="https://vault.bitwarden.com/download/?app=desktop&platform=linux"
  mac="https://vault.bitwarden.com/download/?app=desktop&platform=macos"
  firefox="https://addons.mozilla.org/firefox/addon/bitwarden-password-manager/"
  chrome="https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb"
  safari="https://safari-extensions.apple.com/details/?id=com.bitwarden.safari-LTZ2PFU5D6"
  opera="https://addons.opera.com/extensions/details/bitwarden-free-password-manager/"
  edge="https://www.microsoft.com/store/apps/9P6KXL0SVNNL"
  android="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden"
  ios="https://itunes.apple.com/app/bitwarden-free-password-manager/id1137397744?mt=8"
%}

{%
  include cardv2.html
  title="KeePassXC: Local"
  image="/assets/img/tools/keepassxc.png"
  description="<strong>KeePassXC</strong> é um fork comunitário do KeePassX, um port multi-plataforma do KeePass Password Safe, com o objetivo de extender e melhorar seu funcionamento com novas funcionalidades e melhorias para fornecer um gerenciador de senhas moderno, totalmente multi-plataforma e com código-fonte aberto."
  website="https://keepassxc.org/"
  github="https://github.com/keepassxreboot/keepassxc"
  web="https://keepassxc.org/"
  linux="https://keepassxc.org/download/#linux"
  mac="https://keepassxc.org/download/#mac"
%}

{%
  include cardv2.html
  title="LessPass: Browser"
  image="/assets/img/tools/LessPass.png"
  description="<strong>LessPass</strong> é um gerenciador de senhas gratuito e de código-fonte aberto que gera senhas únicas para websites, contas de email, ou qualquer outra coisa baseada em uma senha mestre e informações que você saiba. Por rodar no navegador, sincronização entre dispositivos não é necessária. Ele usa os algorítimos PBKDF2 e SHA-256 de criptografia. É recomendado que você use extensões no seu navegador para maior segurança."
  website="https://lesspass.com/"
  github="https://github.com/keepassxreboot/keepassxc"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/lesspass/"
  chrome="https://chrome.google.com/webstore/detail/lesspass/lcmbpoclaodbgkbjafnkbbinogcbnjih"
  android="https://play.google.com/store/apps/details?id=com.lesspass.android&hl=en"
%}

<h3>Menções honrosas</h3>

<ul>
  <li>
    <a href="https://masterpassword.app">Master Password</a> - Master Password é baseado em um engenhoso algoritmo para geração de senhas que garante que suas senhas nunca serão perdidas. Suas senhas não são salvas: elas são geradas sobre demanda com base no seu nome, o site, e a sua senha mestre. Por esse motivo, sincronização, backup, ou acesso à Internet não são necessários.
  </li>

  <li>
    <a href="https://psono.com/">Psono</a> - Gerenciador de senhas gratuito e de código-fonte aberto para times, com encriptação no cliente e um compartilhamento seguro de senhas, arquivos, marcadores, emails, etc. Todos os segredos são protegidos por uma senha mestre. Ele usa <a href="https://nacl.cr.yp.to/">NACL Crypto</a>, uma combinação entre Curve25519, Salsa20 e Poly1305.
  </li>

  <li>
    <a href="https://pwsafe.org/">Password Safe</a> - Quer sua necessidade ser de uma ou centenas, Password Safe permite a você criar de maneira rápida e segura uma lista de usuário/senha criptografada. Com Password Safe tudo o que você tem que fazer é criar e se lembrar de uma única senha mestre de sua escolha para desbloquear e acessar a sua lista completa de usuário/senha.
  </li>
</ul>

<h3>Informações relacionadas</h3>

<ul>
  <li>
    <a href="https://peertube.mastodon.host/videos/watch/4cdedd90-a5b4-4022-b93d-828e85ed58cd">Edward Snowden sobre senhas no PeerTube</a>
  </li>
</ul>
