<h1 id="paste" class="anchor"><a href="#paste"><i class="fas fa-link anchor-icon"></i></a> Serviços de Pastebin</h1>

{% include cardv2.html
title="PrivateBin"
image="/assets/img/svg/3rd-party/privatebin.svg"
description="PrivateBin é um pastebin online minimalista e de código-fonte aberto em que o servidor não tem conhecimento do conteúdo postado. Os dados são criptografados/descriptografados no navegador usando AES de 256 bits. É a versão melhorada do ZeroBin."
website="https://privatebin.info/"
github="https://github.com/PrivateBin/PrivateBin"
%}


{% include cardv2.html
title="CryptPad"
image="/assets/img/svg/3rd-party/cryptpad.svg"
description="CryptPad é um editor de documentos colaborativo em tempo real de código-fonte aberto em que o servidor não tem conhecimento do conteúdo. Os dados são criptografados/descriptografados no navegador usando Salsa20 com Poly1305."
website="https://cryptpad.fr/pad/"
privacy-policy="https://cryptpad.fr/privacy.html"
github="https://github.com/xwiki-labs/cryptpad"
%}
