<h1 id="paste" class="anchor"><a href="#paste"><i class="fas fa-link anchor-icon"></i></a> Serviços Pastebin</h1>

{% include cardv2.html
title="PrivateBin"
image="/assets/img/tools/PrivateBin.png"
description="PrivateBin é um serviço pastebin online minimalista de código-fonte aberto e livre, sendo que o servidor do serviço tem zero conhecimento do conteúdo postado. Os dados são encriptados/desencriptados no navegador usando AES 256bits. É a versão melhorada do ZeroBin."
website="https://privatebin.info/"
github="https://github.com/PrivateBin/PrivateBin"
%}


{% include cardv2.html
title="CryptPad"
image="/assets/img/provider/CryptPad.png"
description="CryptPad é um editor com colaboração em tempo real, de código-fonte aberto. Dados são encriptados/desencriptados no navegador usando 256bit AES, 
de forma que o software tenha zero de conhecimento sobre o que está sendo criado."
website="https://cryptpad.fr/pad/"
github="https://github.com/xwiki-labs/cryptpad"
%}
