<h1 id="paste" class="anchor"><a href="#paste"><i class="fas fa-link anchor-icon"></i></a> Serviços Pastebin</h1>

{% include cardv2.html
title="PrivateBin"
image="/assets/img/tools/PrivateBin.png"
description="PrivateBin é um serviço pastebin de código livre online minimalista, sendo que o servidor tem zero conhecimento do
conteúdo postado. Os dados são encriptados/desencriptados no navegador usando AES 256bits. É a versão melhorada do
ZeroBin."
website="https://privatebin.net/"
github="https://github.com/PrivateBin/PrivateBin"
%}