<h1 id="recursos" class="anchor"><a href="#recursos"><i class="fas fa-link anchor-icon"></i></a> Mais Recursos sobre
  Privacidade</h1>

<h3>Guias</h3>

<ul>
  <li><a href="https://ssd.eff.org/pt-br"><strong>Autodefesa contra Vigilância, por EFF</strong></a> - Guia para se defender contra vigilância, usando tecnologias seguras e práticas cuidadosas.</li>
  <li><a href="https://emailselfdefense.fsf.org/pt-br/"><strong>Autodefesa no Email, por EFF</strong></a> - Guia para se proteger contra a vigilância usando criptografia GnuPG nos seus emails.</li>
  <li><a href="https://github.com/cryptoseb/CryptoPaper"><strong>The Crypto Paper (em Inglês)</strong></a> - Privacidade, Segurança e Anonimidade para todo usuário da Internet.</li>
  <li><a href="https://www.bestvpn.com/the-ultimate-privacy-guide/"><strong>The Ultimate Online Privacy Guide (em Inglês)</strong></a> - Excelente guia de privacidade escrito pelos criadores do site bestvpn.com.</li>
  <li><a href="https://www.ivpn.net/privacy-guides"><strong>IVPN Privacy Guides (em Inglês)</strong></a> - Esses guias de privacidade explicam como obter muito mais liberdade, privacidade e anonimidade através de compartimentalização e isolamento.</li>
  <li><a href="https://fried.com/privacy"><strong>Ninja Privacy Tips & Tools (em Inglês)</strong></a> - Vasto acervo de dicas valiosas de privacidade e ferramentas.</li>
</ul>

<h3>Informações (maioria em Inglês)</h3>

<ul>
  <li><a href="https://freedom.press/"><strong>Freedom of the Press Foundation</strong></a> - Supporting and defending journalism dedicated to transparency and accountability since 2012.</li>
  <li><a href="https://www.erfahrungen.com/mit/anonymisierung/t/"><strong>Erfahrungen.com</strong></a> - German review aggregator website of privacy-related services.</li>
  <li><a href="https://openwireless.org/"><strong>Open Wireless Movement</strong></a> - a coalition of Internet freedom advocates, companies, organizations, and technologists working to develop new wireless technologies and to inspire a movement of Internet openness.</li>
  <li><a href="https://privacy.net/us-government-surveillance-spying-data"><strong>privacy.net</strong></a> - What does the US government know about you?</li>
  <li><a href="https://www.reddit.com/r/privacytoolsIO/wiki/index"><strong>r/privacytoolsIO Wiki</strong></a> - Our Wiki on reddit.com.</li>
  <li><a href="https://www.grc.com/securitynow.htm"><strong>Security Now!</strong></a> - Weekly Internet Security Podcast by Steve Gibson and Leo Laporte.</li>
  <li><a href="https://www.jupiterbroadcasting.com/show/techsnap/"><strong>TechSNAP</strong></a> - Weekly Systems, Network, and Administration Podcast. Every week TechSNAP covers the stories that impact those of us in the tech industry.</li>
  <li><a href="https://tosdr.org/pt_BR/frontpage"><strong>Termos de Serviço; Não Li</strong></a> (do inglês, “Terms of Service; Didn't Read”) - “Eu li e concordo com os Termos” é a maior mentira na web. Queremos corrigir isso.</li>
</ul>

<h3>Podcasts</h3>
<ul>
  <li><a href="https://direitosnarede.org.br/podcasts/"><strong>Coalizão Direitos na Rede</strong></a> – Podcast da Coalizão Direitos na rede, que trata de temas como dados pessoais, privacidade e vigilância e liberdade de expressão.</li>
  <li><a href="https://dataprivacy.com.br/category/dadocracia/"><strong>Dadocracia</strong></a> – O podcast sobre tecnologia, sociedade e privacidade do Data Privacy Brasil.</li>
  <li><a href="https://www.b9.com.br/shows/mupoca/mupoca-121-data-detox-experience/"><strong>Mupoca #121 - Data detox experience</strong></a> – Guia completo de como se fazer para obter alguma privacidade em telefones celulares, em forma de podcast.</li>
  <li><a href="https://www.segurancalegal.com/"><strong>Segurança Legal</strong></a> – Podcast brasileiro que trata sobre temas que envolvem Direito da Tecnologia, Segurança da Informação, e tecnologia em geral.</li>
  <li><a href="https://www.spreaker.com/show/the-privacy-cast"><strong>The Privacy Cast</strong></a> – Tudo sobre LGPD e GDPR, o primeiro podcast no Brasil sobre a LGPD.</li>
  <li><a href="https://open.spotify.com/show/2dK6bnbumjpnsnX8JMCxEH"><strong>Tecnocracia</strong></a> – O Tecnocracia é uma coluna quinzenal sobre as consequências de se viver sob o governo das grandes empresas de tecnologia.</li>
  <li><a href="https://soundcloud.com/podcasttecnopolitica"><strong>Tecnopolítca</strong></a> – Podcast de Sérgio Amadeu sobre tecnologia sociedade e política.</li>
</ul>

<h3>Ferramentas (em Inglês)</h3>

<ul>
  <li><a href="https://ipleak.net/"><strong>ipleak.net</strong></a> - IP/DNS Detect - What is your IP, what is your DNS, what informations you send to websites.</li>
  <li><a href="https://www.ghacks.net/2015/12/28/the-ultimate-online-privacy-test-resource-list/"><strong>The ultimate Online Privacy Test Resource List</strong></a> - A collection of Internet sites that check whether your web browser leaks information.</li>
  <li><a href="https://prism-break.org/"><strong>PRISM Break</strong></a> - We all have a right to privacy, which you can exercise today by encrypting your communications and ending your reliance on proprietary services.</li>
  <li><a href="https://securityinabox.org/"><strong>Security in-a-Box</strong></a> - A guide to digital security for activists and human rights defenders throughout the world.</li>
  <li><a href="https://securedrop.org/"><strong>SecureDrop</strong></a> - An open-source whistleblower submission system that media organizations can use to securely accept documents from and communicate with anonymous sources. It was originally created
    by the late Aaron Swartz and is currently managed by Freedom of the Press Foundation.</li>
  <li><a href="https://secfirst.org/"><strong>Security First</strong></a> - Umbrella is an Android app that provides all the advice needed to operate safely in a hostile environment.</li>
  <li><a href="https://www.osalt.com/"><strong>Osalt</strong></a> - A directory to help you find open source alternatives to proprietary tools.</li>
  <li><a href="https://alternativeto.net/"><strong>AlternativeTo</strong></a> - A directory to help find alternatives to other software, with the option to only show open source software</li>
</ul>

<p>Nota: Nem todo software de código-fonte aberto é seguro! Sempre pesquise antes de confiar seus dados a qualquer programa de computador ou serviço.</p>