<h1 id="recursos" class="anchor"><a href="#recursos"><i class="fas fa-link anchor-icon"></i></a> Mais Recursos sobre
  Privacidade</h1>

<h3>Guias</h3>

<ul>
  <li><a href="https://ssd.eff.org/"><strong>Auto-Defesa contra Vigilância por EFF</strong></a> - Guia para se defender
    contra vigilância usando tecnologias seguras e práticas cuidadosas.</li>
  <li><a href="https://github.com/cryptoseb/CryptoPaper"><strong>The Crypto Paper</strong></a> - Privacidade, Segurança
    e
    Anonimidade para todo usuário da Internet.</li>
  <li><a href="https://emailselfdefense.fsf.org/en/"><strong>Auto-Defesa de Email por EFF</strong></a> - Guia para lutar
    contra a vigilância usando encriptação GnuPG.</li>
  <li><a href="https://www.bestvpn.com/the-ultimate-privacy-guide/"><strong>O Guia Definitivo de
        Privacidade</strong></a> -
    Excelente guia de privacidade escrito pelos criadores do site bestVPN.com.</li>
  <li><a href="https://www.ivpn.net/privacy-guides"><strong>Guias de Privacidade IVPN</strong></a> - Esses guias de
    privacidade explicam como obter muito mais liberdade, privacidade e anonimidade através de compartimentalização e
    isolamento.</li>
  <li><a href="https://fried.com/privacy"><strong>O Guia Definitivo de Privacidade Online</strong></a> -
    Compreensivo acervo de "dicas ninja de privacidade" e ferramentas.</li>
</ul>

<h3>Informações</h3>

<ul>
  <!-- Link da wiki de privacytools.io desabilitado -->
  <!--<li><a href="https://www.reddit.com/r/privacytoolsIO/wiki/index"><strong>r/privacytoolsIO Wiki</strong></a> - Our Wiki
    on reddit.com.</li>-->

  <li><a href="https://www.segurancalegal.com/"><strong>Segurança Legal</strong></a> - O podcast trata sobre temas que envolvem Direito da Tecnologia, Segurança da Informação, e tecnologia de forma geral.</li>
  <li><a href="https://www.grc.com/securitynow.htm"><strong>Segurança Já!</strong></a> - Podcast semanal sobre segurança
    na internet por Steve Gibson e Leo Laporte.</li>
  <li><a href="https://www.jupiterbroadcasting.com/show/techsnap/"><strong>TechSNAP</strong></a> - Podcast semanal sobre
    sistemas,
    rede, e administração. Toda semana na TechSNAP são compartilhadas relatos que impactam profissionais da indústria de
    TI.</li>
  <li><a href="https://keybase.io/"><strong>Keybase.io</strong></a> - Crie uma chave pública de forma segura,
    começando apenas a partir do nome de usuário da rede social de alguém.</li>
  <li><a href="https://freedom.press/"><strong>Freedom of the Press Foundation</strong></a> - Dando suporte e defendendo
    o jornalismo dedicado a transparência e prestação de contas desde 2012.</li>
  <li><a href="https://www.erfahrungen.com/mit/anonymisierung/t/"><strong>Erfahrungen.com</strong></a> - Agregador
    alemão de reviews de serviços relacionados à privacidade.</li>
  <li><a href="https://tosdr.org/"><strong>Terms of Service; Didn't Read</strong></a> - "Eu li e concordo com os termos
    e condições" é a maior mentira da internet. Nós queremos mudar isso.</li>
  <li><a href="https://privacy.net/us-government-surveillance-spying-data"><strong>privacy.net</strong></a> - O que o
    governo dos EUA sabe sobre você?</li>
</ul>

<h3>Ferramentas</h3>

<ul>
  <li><a href="https://ipleak.net/"><strong>ipleak.net</strong></a> - Detecção IP/DNS - Qual é o seu IP, qual seu DNS,
    e que informações você envia para os sites que visita.</li>
  <li><a href="https://www.ghacks.net/2015/12/28/the-ultimate-online-privacy-test-resource-list/"><strong>A lista
        definitiva de recursos de teste de privacidade online</strong></a> - Uma coleção de sites da internet que checam
    seu navegador por vazamento de informações.</li>
  <li><a href="https://prism-break.org/"><strong>PRISM Break</strong></a> - Todos nós temos o direito à privacidade, do
    qual você pode usufruir hoje ao encriptar suas comunicações e acabando com sua dependência a serviços proprietários.
  </li>
  <li><a href="https://securityinabox.org/"><strong>Security in-a-Box</strong></a> - Um guia a segurança digital para
    ativistas e defensores de direitos humanos mundo a fora.</li>
  <li><a href="https://securedrop.org/"><strong>SecureDrop</strong></a> - Um sistema de submissão de código aberto para
    denunciantes que organizações de notícias podem usar para aceitar documentos de forma segura de fontes anonimas.
    Foi originalmente criado pelo finado Aaron Swartz e atualmente é gerenciado pela Freedom of the Press Foundation.
  </li>
  <li><a href="https://pack.resetthenet.org/"><strong>Reset The Net - Privacy Pack</strong></a> - Ajude a lutar para
    acabar com a vigilância em massa. Pegue essas ferramentas para ajudar a proteger você e seus amigos.</li>
  <li><a href="https://secfirst.org/"><strong>Security First</strong></a> - Umbrella é um aplicativo de Android que
    fornece todos os conselhos necessários para operar de forma segura em ambientes hostis.</li>
  <li><a href="https://notabug.org/themusicgod1/cloudflare-tor"><strong>Block Cloudflare MiTM Attack</strong></a> -
    Extensão Firefox para detectar e bloquear ataques Cloudflare MITM.</li>
  <li><a href="https://www.osalt.com/"><strong>Osalt</strong></a> - Um diretório que ajuda a encontrar alternativas
    à ferramentas proprietárias.</li>
  <li><a href="https://alternativeto.net/"><strong>AlternativeTo</strong></a> - Um diretório que ajuda a encontrar
    alternativas à outros softwares, com a opção de mostrar somente software de código aberto.</li>
</ul>

<p>Nota: Nem todo software de código aberto é seguro!</p>