<h1 id="productivity" class="anchor"><a href="#productivity"><i class="fas fa-link anchor-icon"></i></a> Ferramentas de
  Produtividade</h1>

<div class="row mb-2">

  {% include card.html color="success"
    title="CryptPad"
    image="/assets/img/provider/CryptPad.png"

    description="CryptPad é uma alternativa a ferramentas office e serviços de nuvem, construída com privacidade em mente. Todo o conteúdo é encriptado com criptografia ponta a ponta. É grátis e de código aberto, habilitando qualquer pessoa a verificar sua segurança auditando seu código. O time responsável pelo desenvolvimento é mantido com doações e concessões. A criação de conta não é obrigatória, e pode ser usado anonimamente pelo navegador Tor."

    url="https://cryptpad.fr/"
    footer='SO: Linux, macOS, Windows, Web.'
  %}

  {% include card.html color="primary"
  title="Etherpad"
  image="/assets/img/tools/Etherpad.png"
  url="https://etherpad.org/"
  footer="SO: Windows, macOS, Linux."
  description="Etherpad é um editor online de código aberto e altamente customizável, fornecendo edição colaborativa em tempo real. Etherpad permite que você edite documentos de forma colaborativa em tempo real, algo como um editor ao vivo com diversos autores que roda no seu navegador. Escreva artigos, comunicados de imprensa, listas de tarefas, etc. <a href=https://github.com/ether/etherpad-lite/wiki/Sites-that-run-Etherpad>Sites que rodam Etherpad</a>"
  %}

  {% include card.html color="warning"
  title="Write.as"
  image="/assets/img/tools/WriteAs.png"
  url="https://write.as/"
  tor="http://writeas7pm7rcdqg.onion"
  footer="SO: Windows, macOS, Linux, Android, iOS, Chrome OS, Web."
  description="Write.as é uma plataforma de blog disponível em diversos SOs e focada em privacidade. É anônima por padrão, te deixando publicar sem que crie contas. Se você decidir criar uma conta, o sistema não precisa de nenhuma informação pessoal. Sem anúncios, livre de distrações, e construído com base num modelo de negócios sustentável."
  %}

</div>

<h3>Menções honrosas</h3>

<ul>
  <li><a href="https://crypt.ee/">Cryptee</a> - Serviço para armazenar documentos, arquivos e
    fotos. Também é bom para sua privacidade.
  </li>
  <li><a href="https://ethercalc.net/">EtherCalc</a> - EtherCalc é uma planilha de dados web. Dados são salvos na web,
    e pessoas podem modificar o mesmo documento ao mesmo tempo. Mudanças são instantaneamente refletidas em todas as
    telas. Trabalhe junto com outras pessoas em inventários, formulários de pesquisa, listas de gerenciamente, sessões
    de brainstorming, etc.</li>
  <li><a href="https://disroot.org/">disroot.org</a> - Serviço gratuito que oferece Etherpad, EtherCalc e
    PrivateBin.</li>
  <li><a href="https://dudle.inf.tu-dresden.de/anonymous/">dudle</a> - Uma aplicação online de agendamento, que é
    gratuita e de código aberto. Agende reuniões ou faça pequenas enquetes online. Não há coleta de emails ou a
    necessidade de registro.</li>
  <li><a href="https://www.libreoffice.org/">LibreOffice</a> - Suite office livre</li>
</ul>