<h1 id="produtividade" class="anchor"><a href="#produtividade"><i class="fas fa-link anchor-icon"></i></a> Ferramentas de Produtividade</h1>

{%
  include cardv2.html
  title="CryptPad"
  image="/assets/img/svg/3rd-party/cryptpad.svg"
  description="<strong>CryptPad</strong> é uma alternativa privativa por design para ferramentas de escritório populares e serviços em nuvem. Todo o conteúdo é criptografado de ponta-a-ponta. É gratuito e de código-fonte aberto, permitindo que qualquer pessoa verifique sua segurança auditando o código. A equipe de desenvolvimento é apoiada por doações e subsídios. Nenhum registro é necessário e pode ser usado anonimamente através do navegador Tor."
  website="https://cryptpad.fr/"
  privacy-policy="https://cryptpad.fr/privacy.html"
  github="https://github.com/xwiki-labs/cryptpad"
  web="https://cryptpad.fr/"
%}

{%
  include cardv2.html
  title="Etherpad"
  image="/assets/img/svg/3rd-party/etherpad.svg"
  description="<strong>Etherpad</strong> é um editor online de código-fonte aberto altamente personalizável que oferece edição colaborativa em tempo real. <a href=https://github.com/ether/etherpad-lite/wiki/Sites-that-run-Etherpad>Aqui está uma lista de sites que executam o Etherpad</a>."
  website="https://etherpad.org/"
  github="https://github.com/ether/etherpad-lite"
  web="https://github.com/ether/etherpad-lite/wiki/Sites-that-run-Etherpad"
  windows="https://github.com/ether/etherpad-lite#windows"
  linux="https://github.com/ether/etherpad-lite#installation"
  mac="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
  freebsd="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
  openbsd="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
  netbsd="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
%}

{%
  include cardv2.html
  title="Write.as"
  image="/assets/img/svg/3rd-party/writeas.svg"
  image-dark="/assets/img/svg/3rd-party/writeas-dark.svg"
  description="<strong>Write.as</strong> é uma plataforma de blog voltada para a privacidade e mutiplataforma. É anônimo por padrão, permitindo que você publique sem se inscrever. Se você criar uma conta, não requer nenhuma informação pessoal. Sem anúncios, sem distrações e baseado em um modelo de negócios sustentável."
  website="https://write.as/"
  privacy-policy="https://write.as/privacy"
  tor="http://writeas7pm7rcdqg.onion"
  git="https://code.as/writeas"
  web="https://write.as/pad"
  windows="https://github.com/writeas/writeas-cli"
  mac="https://github.com/writeas/writeas-cli"
  linux="https://write.as/apps"
  chrome="https://write.as/apps"
  googleplay="https://play.google.com/store/apps/details?id=com.abunchtell.writeas"
  ios="https://itunes.apple.com/app/apple-store/id1000755153"
%}

<h3>Menções Honrosas</h3>

<ul>
  <li><a href="https://crypt.ee/">Cryptee</a> - Serviço gratuito com foco em privacidade para armazenar documentos, arquivos e fotos.</li>
  <li><a href="https://ethercalc.net/">EtherCalc</a> - EtherCalc é uma planilha de dados web. Dados são salvos na web, e pessoas podem modificar o mesmo documento em tempo real. Modificações são instantaneamente refletidas em todas as telas. Trabalhe junto com outras pessoas em inventários, formulários de pesquisa, listas de gerenciamento, sessões de brainstorming, etc.</li>
  <li><a href="https://disroot.org/">Disroot</a> - Serviço gratuito que oferece Etherpad, EtherCalc e PrivateBin.</li>
  <li><a href="https://dudle.inf.tu-dresden.de/anonymous/">dudle</a> - Uma aplicação online de agendamento, que é gratuita e com código-fonte aberto. Agende reuniões ou faça pequenas enquetes online. Não há coleta de emails ou a necessidade de registro.</li>
  <li><a href="https://framadate.org/">Framadate</a> - Serviço gratuito, livre e com código-fonte aberto para planejar compromissos ou realizar decisões de forma rápida e fácil. Registrar-se no site não é necessário.</li>
  <li><a href="https://www.libreoffice.org/">LibreOffice</a> - Coleção de softwares de escritório livre de código-fonte aberto compatíveis com Word, PowerPoint, Excel, etc.</li>
  <li><a href="https://vscodium.com/">VSCodium</a> - Ramificação do editor Visual Studio Code sem o rastreamento da Microsoft.</li>
</ul>

<h1 id="ferramentas-remocao-metadados" class="anchor">
  <a href="#ferramentas-remocao-metadados"
    ><i class="fas fa-link anchor-icon"></i>
  </a> Ferramentas de Remoção de Metadados
</h1>

{%
  include cardv2.html
  title="MAT2"
  image="/assets/img/svg/3rd-party/mat2.svg"
  description="<strong>MAT2</strong> is free software, which allows the removal of metadata of image, audio, torrent, and document file types. Ele fornece uma ferramenta de linha de comando e uma interface gráfica por meio de uma extensão para o Nautilus, o gerenciador de arquivos padrão do GNOME."
  website="https://0xacab.org/jvoisin/mat2"
  gitlab="https://0xacab.org/jvoisin/mat2"
  windows="https://pypi.org/project/mat2/"
  mac="https://pypi.org/project/mat2/"
  linux="https://pypi.org/project/mat2/"
  freebsd="https://pypi.org/project/mat2/"
  openbsd="https://pypi.org/project/mat2/"
  netbsd="https://pypi.org/project/mat2/"
%}

{%
  include cardv2.html
  title="ExifCleaner"
  image="/assets/img/svg/3rd-party/exifcleaner.svg"
  description='<strong>ExifCleaner</strong> é um aplicativo gráfico livre e de código-fonte aberto que usa o <a href="https://exiftool.org/">ExifTool</a> para remover metadados <a href="https://pt.wikipedia.org/wiki/Exchangeable_image_file_format">exif</a> de imagens, vídeos e documentos PDF usando uma interface simples de arrastar e soltar. Suporta processamento em lote multi-core e modo escuro.'
  website="https://exifcleaner.com"
  github="https://github.com/szTheory/exifcleaner"
  windows="https://github.com/szTheory/exifcleaner/releases"
  mac="https://github.com/szTheory/exifcleaner/releases"
  linux="https://github.com/szTheory/exifcleaner/releases"
%}
