<div class="page-header">
  <h1>Privacidade? Eu não tenho nada a esconder.</h1>
</div>
<blockquote class="blockquote">
  <p><a href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters" title="Glenn Greenwald - Por que privacidade importa - TED Talk"><img src="/assets/img/png/layout/glenn_greenwald.png" width="170px" class="img-fluid float-right ml-2" alt="Glenn Greenwald: Por quê privacidade importa"></a>
  Ao longo dos últimos 16 meses, enquanto venho debatendo sobre esse problema ao redor do mundo, toda vez me deparo com o mesmo argumento: "Eu não me preocupo muito sobre invasões de privacidade porque eu não tenho nada a esconder." Minha reação também é sempre a mesma: ao pegar uma 
  caneta e escrever meu endereço de email num pedaço de papel, eu digo à pessoa "Aqui está meu endereço de email. Agora eu quero que você me mande um email com todas as suas senhas de todas as suas contas na Internet. E não estou pedindo só as senhas das suas contas bonitinhas e respeitáveis que você utiliza no trabalho, mas TODAS as contas, porque eu
  quero poder fazer o que eu quiser com elas e ver tudo o que você estiver fazendo online, ler o que eu quiser ler e publicar o que eu julgar interessante. Até porque você não é uma pessoa má e já que não está fazendo nada de errado, você não deve ter nada a esconder." <strong>Nenhuma dessas pessoas me mandou o email que pedi.</strong></p>
  <footer class="blockquote-footer">Glenn Greenwald em <cite title="Por quê privacidade importa - TED Talk"><a href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters">Por quê privacidade importa - TED Talk</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>O principal motivo de colocar cortinas em nossas casas é para evitar que pessoas bisbilhotem. E a razão pela
    qual nós não queremos que elas bisbilhotem é porque nós consideramos como privado muito do que fazemos dentro de
    nossas casas. Seja dar um jantar em nossas mesas, assistir um filme com nossos filhos, ou até mesmo se envolver
    em
    atividades íntimas ou sexuais com nossos parceiros(as). Nenhuma dessas coisas são ilegais de forma alguma, mas mesmo
    sabendo disso, nós ainda colocamos cortinas e persianas nas nossas janelas. Nós claramente temos um forte
    desejo por privacidade quando se trata de nossa vida pessoal.
  </p>
  <footer class="blockquote-footer">Joshua em <cite title="The Crypto Paper"><a target="_blank"  href="https://github.com/cryptoseb/CryptoPaper#let-me-explain-further">The Crypto Paper</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>[...] Mas falar que você não precisa ou não quer privacidade porque você não tem nada a esconder é assumir que ninguém deveria, ou poderia, esconder qualquer coisa -- incluindo seu status de imigrante, histório de desemprego, histórico financeiro, e histórico médico. Você estaria assumindo que ninguém, incluindo você mesmo, pode opor-se a revelar para qualquer pessoa informações sobre suas crenças religiosas, afiliações políticas, e atividades sexuais, como se revelar esse tipo de informação fosse a mesma coisa do que revelar seus gostos musicais, filmes e livros prediletos.</p>
  <footer class="blockquote-footer">Edward Snowden em <cite title="Permanent Record"><a href="https://en.wikipedia.org/wiki/Permanent_Record_(autobiography)">Permanent Record</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>Privacidade não é um luxo: é um direito – direito no qual nós devemos defender no âmbito digital tanto quanto no âmbito físico. Nós precisamos manter-nos vigilantes para manter acesso a esse direito, no entanto ... especialmente enquanto a tecnologia continua a evoluir...</p>
  <footer class="blockquote-footer">Chelsea Manning em <cite title="The Guardian"><a href="https://www.theguardian.com/commentisfree/2016/feb/22/privacy-is-a-right-not-a-luxury-and-its-increasingly-at-risk-for-lgbt-people">The Guardian</a></cite></footer>
</blockquote>

<h4>Leia Também (em Inglês):</h4>

<ul>
  <li><a target="_blank" href="https://en.wikipedia.org/wiki/Nothing_to_hide_argument">Nothing to hide argument</a></li>
  <li><a target="_blank" href="https://www.reddit.com/r/privacy/comments/3hynvp/how_do_you_counter_the_i_have_nothing_to_hide/">How do you counter the "I have nothing to hide?" argument?</a></li>
  <li><a target="_blank" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=998565">'I've Got Nothing to Hide' and Other Misunderstandings of Privacy</a></li>
</ul>

<h1 id="citacoes" class="anchor"><a href="#citacoes"><i class="fas fa-link anchor-icon"></i></a> Citações</h1>

<blockquote class="blockquote">
  <p>No fim das contas, dizer que você não liga para privacidade porque você não tem nada a esconder não é diferente de dizer que você não liga para a liberdade de expressão porque você não tem nada a dizer. Ou que você não se importa com liberdade de imprensa porque você não gosta de ler. Ou que você não liga para liberdade de religião porque você não acredita em Deus. Ou que você não se importa com liberdade para se reunir pacificamente porque você é um preguiçoso, agorafóbico antisocial. </p>
  <footer class="blockquote-footer">Edward Snowden em <cite title="Permanent Record"><a href="https://en.wikipedia.org/wiki/Permanent_Record_(autobiography)">Permanent Record</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>A NSA construiu uma infraestrutura que os permite interceptar quase tudo. Com essa capacidade, a vasta maioria das
    comunicações humanas são automaticamente processadas sem distinção. Se eu quisesse ver seus emails ou bisbilhotar o
    celular de
    sua esposa, tudo que eu tinha que fazer era usar interceptores. Eu conseguia acesso aos seus emails, senhas,
    registros
    de chamadas, cartões de crédito, etc. Eu não quero viver numa sociedade que faz esse tipo de coisa... eu não quero
    viver
    num mundo onde tudo que eu faço e digo é gravado. Isso não é algo que eu estou disposto a sustentar ou me submeter.
  </p>
  <footer class="blockquote-footer">Edward Snowden em <cite
      title="Edward Snowden, NSA files source: 'If they want to get you, in time they will (em Inglês)"><a target="_blank" href="https://www.theguardian.com/world/2013/jun/09/nsa-whistleblower-edward-snowden-why">The Guardian</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>Todos nós precisamos de lugares onde podemos explorar sem o julgamento de outras pessoas sendo lançado sobre
    nós. Somente num espaço onde nós não estamos sendo vigiados é que podemos realmente testar os limites de quem nós
    queremos ser. É somente em espaços privados onde a dissidência, criatividade e exploração pessoal residem.</p>
  <footer class="blockquote-footer">Glenn Greenwald em <cite
      title="Glenn Greenwald On Why Privacy Is Vital, Even If You 'Have Nothing To Hide (em Inglês)"><a target="_blank" href="https://www.huffingtonpost.com/2014/06/20/glenn-greenwald-privacy_n_5509704.html">Huffington Post</a></cite></footer>
</blockquote>