<div class="page-header">
  <h1>Privacidade? Eu não tenho nada a esconder.</h1>
</div>
<blockquote class="blockquote">
  <p><a target="_blank" href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters"
      title="Glenn Greenwald - Por que privacidade importa - TED Talk"><img
        src="/assets/img/layout/Glenn-Greenwald-Why-privacy-matters.jpg" width="177" height="200"
        class="img-fluid float-right ml-2" alt="Glenn Greenwald: Por quê privacidade importa"></a>
    Ao longo dos últimos 16 meses, enquanto venho debatendo sobre esse problema ao redor do mundo, toda vez alguém
    me diz, "Eu não me preocupo muito sobre invasões de privacidade porque eu não tenho nada a esconder." Eu
    sempre falo a mesma coisa pra essas pessoas, ao tirar uma caneta e escrever meu endereço de email num pedaço de
    papel. Eu falo, "Aqui está
    meu endereço de email. O que eu quero que você faça quando chegar em casa é me mandar um email com todas as senhas
    de todos os seus endereços de email, não só as contas bonitinhas e respeitáveis que você tem no trabalho em seu
    nome, mas todas elas, porque eu quero poder fazer o que eu quiser com elas e ver tudo o que você
    estiver fazendo online, ler o que eu quiser ler e publicar o que eu julgar interessante. Até porque, você não é uma
    pessoa má e já que não está fazendo nada de errado, você não deve ter nada a esconder." <strong>Nenhuma dessas
      pessoas
      me mandou o email que pedi.</strong></p>
  <footer class="blockquote-footer">Glenn Greenwald em <cite title="Por quê privacidade importa - TED Talk"><a target="_blank" href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters">Por quê privacidade importa - TED
        Talk</a></cite>
  </footer>
</blockquote>

<blockquote class="blockquote">
  <p>O principal motivo de colocar cortinas em nossas casas é para evitar que pessoas bisbilhotem. E a razão pela
    qual nós não queremos que elas bisbilhotem é porque nós consideramos como privado muito do que fazemos dentro de
    nossas casas. Seja dar um jantar em nossas mesas, assistir um filme com nossos filhos, ou até mesmo se envolver
    em
    atividades íntimas ou sexuais com nossos parceiros(as). Nenhuma dessas coisas são ilegais de forma alguma, mas mesmo
    sabendo disso, nós ainda deixamos nossas cortinas e persianas nas nossas janelas. Nós claramente temos um forte
    desejo por privacidade quando se trata de nossa vida pessoal e o público.
  </p>
  <footer class="blockquote-footer">Joshua em <cite title="The Crypto Paper"><a target="_blank"  href="https://github.com/cryptoseb/CryptoPaper#let-me-explain-further">The Crypto Paper</a></cite></footer>
</blockquote>

<h4>Leia também:</h4>

<ul>
  <li><a target="_blank" href="https://en.wikipedia.org/wiki/Nothing_to_hide_argument">O argumento "Não tenho nada a esconder" na
      Wikipédia (em inglês)</a></li>
  <li><a target="_blank" href="https://www.reddit.com/r/privacy/comments/3hynvp/how_do_you_counter_the_i_have_nothing_to_hide/">Como
      contra argumentar "Não tenho nada a esconder"? (em inglês)</a></li>
  <li><a target="_blank" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=998565">'Não tenho nada a esconder' e Outros
      Equívocos acerca de Privacidade (papel científico em inglês por Daniel J. Solove - San Diego Law Review)</a></li>
</ul>

<h1 id="citacoes" class="anchor"><a href="#citacoes"><i class="fas fa-link anchor-icon"></i></a> Citações</h1>

<blockquote class="blockquote">
  <p>Argumentar que você não liga sobre o direito à privacidade porque você não tem nada a esconder não é diferente de
    dizer que você não liga sobre o direito à liberdade de expressão porque você não tem nada pra falar.</p>
  <footer class="blockquote-footer">Edward Snowden em <cite
      title="Just days left to kill mass surveillance under Section 215 of the Patriot Act. We are Edward Snowden and the ACLU's Jameel Jaffer. AUA."><a target="_blank" href="https://www.reddit.com/r/IAmA/comments/36ru89/just_days_left_to_kill_mass_surveillance_under/crglgh2">Reddit</a></cite>
  </footer>
</blockquote>

<blockquote class="blockquote">
  <p>A NSA construiu uma infraestrutura que os permite interceptar quase tudo. Com essa capacidade, a vasta maioria das
    comunicações humanas são automaticamente processadas sem distinção. Se eu quisesse ver seus emails ou bisbilhotar o
    celular de
    sua esposa, tudo que eu tinha que fazer era usar interceptores. Eu conseguia acesso aos seus emails, senhas,
    registros
    de chamadas, cartões de crédito, etc. Eu não quero viver numa sociedade que faz esse tipo de coisa... eu não quero
    viver
    num mundo onde tudo que eu faço e digo é gravado. Isso não é algo que eu estou disposto a sustentar ou me submeter.
  </p>
  <footer class="blockquote-footer">Edward Snowden em <cite
      title="Edward Snowden, NSA files source: 'If they want to get you, in time they will"><a target="_blank" href="https://www.theguardian.com/world/2013/jun/09/nsa-whistleblower-edward-snowden-why">The Guardian</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>Todos nós precisamos de lugares onde podemos ir e explorar sem o julgamento de outras pessoas sendo lançado sobre
    nós, somente num espaço onde nós não estamos sendo vigiados que podemos realmente testar os limites de quem nós
    queremos ser. É somente em espaços privados que a dissidência, criatividade e exploração pessoal residem.</p>
  <footer class="blockquote-footer">Glenn Greenwald em <cite
      title="Glenn Greenwald On Why Privacy Is Vital, Even If You 'Have Nothing To Hide"><a target="_blank" href="https://www.huffingtonpost.com/2014/06/20/glenn-greenwald-privacy_n_5509704.html">Huffington Post</a></cite></footer>
</blockquote>