<div class="page-header">
  <h1>Privacidade? Eu não tenho nada a esconder.</h1>
</div>
<blockquote class="blockquote">
  <p><a href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters"
      title="Glenn Greenwald - Why privacy matters - TED Talk"><img
        src="/assets/img/layout/Glenn-Greenwald-Why-privacy-matters.jpg" width="177" height="200"
        class="img-fluid float-right ml-2" alt="Glenn Greenwald: Why privacy matters"></a>
    Ao longo dos últimos 16 meses, enquanto venho debatendo sobre esse problema ao redor do mundo, toda vez tem alguém
    que diz pra mim, "Eu não me preocupo muito sobre invasões de privacidade porque eu não tenho nada a esconder." Eu
    sempre falo a mesma coisa pra essas pessoas. Tiro uma caneta e escrevo meu endereço de email. Eu falo, "Aqui está
    meu endereço de email. O que eu quero que você faça quando chegar em casa é me mandar um email com todas as senhas
    de todos os seus endereços de email, não só as bonitinhas e respeitáveis contas que você tem no trabalho em seu
    nome, mas todas elas, porque eu quero simplesmente poder fazer o que eu quiser com elas e ver seja lá o que for que
    estiver fazendo online, ler o que eu quiser ler e publicar o que eu julgar interessante. Até porque, você não é uma
    pessoa má, se você não está fazendo nada de errado, você não deve ter nada a esconder." <strong>Nenhuma dessas
      pessoas
      me mandou o email.</strong></p>
  <footer class="blockquote-footer">Glenn Greenwald em <cite title="Why privacy matters - TED Talk"><a
        href="https://www.ted.com/talks/glenn_greenwald_why_privacy_matters">Why privacy matters - TED Talk</a></cite>
  </footer>
</blockquote>

<blockquote class="blockquote">
  <p>O principal motivo para colocar cortinas em nossas casas, é para evitar que pessoas bisbilhotem. E a razão pela
    qual nós não queremos que elas bisbilhotem é porque nós consideramos muito do que fazemos dentro de nossas casas
    como privado. Seja dar um jantar em nossas mesas, assistir um filme com nossos filhos, ou até mesmo se envolver em
    atividades íntimas ou sexuais com nossos parceiros(as). Nenhuma dessas coisas são ilegais de jeito nenhum, mas mesmo
    sabendo disso, nós ainda deixamos nossas cortinas e persianas nas nossas janelas. Nós claramente temos um forte
    desejo por privacidade quando se trata de nossa vida pessoal e o público.
  </p>
  <footer class="blockquote-footer">Joshua em <cite title="The Crypto Paper"><a
        href="https://github.com/cryptoseb/CryptoPaper#let-me-explain-further">The Crypto Paper</a></cite></footer>
</blockquote>

<h4>Leia também:</h4>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Nothing_to_hide_argument">Nothing to hide argument (Wikipedia)</a></li>
  <li><a href="https://www.reddit.com/r/privacy/comments/3hynvp/how_do_you_counter_the_i_have_nothing_to_hide/">How do
      you counter the "I have nothing to hide?" argument? (reddit.com)</a></li>
  <li><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=998565">'I've Got Nothing to Hide' and Other
      Misunderstandings of Privacy (Daniel J. Solove - San Diego Law Review)</a></li>
</ul>

<h1 id="quotes" class="anchor"><a href="#quotes"><i class="fas fa-link anchor-icon"></i></a> Citações</h1>

<blockquote class="blockquote">
  <p>Argumentar que você não liga sobre o direito à privacidade porque você não tem nada a esconder não é diferente de
    dizer que você não liga sobre o direito à liberdade de expressão porque você não tem nada pra falar.</p>
  <footer class="blockquote-footer">Edward Snowden em <cite
      title="Just days left to kill mass surveillance under Section 215 of the Patriot Act. We are Edward Snowden and the ACLU's Jameel Jaffer. AUA."><a
        href="https://www.reddit.com/r/IAmA/comments/36ru89/just_days_left_to_kill_mass_surveillance_under/crglgh2">Reddit</a></cite>
  </footer>
</blockquote>

<blockquote class="blockquote">
  <p>A NSA construíu uma infraestrutura que os permite interceptar quase tudo. Com essa capacidade, a vasta maioria das
    comunicações humanas são automaticamente processadas sem distinção. Se eu quisesse ver seus emails ou o celular da
    sua esposa, tudo que eu tenho que fazer é usar interceptadores. Eu consigo acesso aos seus emails, senhas, registros
    de chamadas, cartões de crédito. Eu não quero viver numa sociedade que faz esse tipo de coisa... eu não quero viver
    num mundo onde tudo que eu faço e digo é gravado. Isso não é algo que eu estou disposto a sustentar ou me submeter.
  </p>
  <footer class="blockquote-footer">Edward Snowden em <cite
      title="Edward Snowden, NSA files source: 'If they want to get you, in time they will"><a
        href="https://www.theguardian.com/world/2013/jun/09/nsa-whistleblower-edward-snowden-why">The
        Guardian</a></cite></footer>
</blockquote>

<blockquote class="blockquote">
  <p>Todos nós precisamos de lugares onde podemos ir e explorar sem o julgamento de outras pessoas sendo lançado sobre
    nós, somente numa região onde nós não estamos sendo vigiados que podemos realmente testar os limites de quem nós
    queremos ser. É somente em regiões privadas que a dissidência, criatividade e exploração pessoal residem.</p>
  <footer class="blockquote-footer">Glenn Greenwald em <cite
      title="Glenn Greenwald On Why Privacy Is Vital, Even If You 'Have Nothing To Hide"><a
        href="https://www.huffingtonpost.com/2014/06/20/glenn-greenwald-privacy_n_5509704.html">Huffington
        Post</a></cite></footer>
</blockquote>