<h1 id="os" class="anchor">Ferramentas para Privacidade</h1>

<div class="row">

  {% include card.html color="success"
  title="Provedores"
  icon="fas fa-server"
  iconcolor="dark"
  page="/providers/"
  description="Conheça serviços online focados em privacidade, incluindo provedores de email, operadoras de VPN, admnistradoras de DNS, e mais!"
  %}

  {% include card.html color="primary"
  title="Navegadores"
  icon="far fa-compass"
  iconcolor="dark"
  page="/browsers/"
  description="Encontre um navegador de internet que respeita sua privacidade, e descubra como enrijecer seu navegador contra rastreamento e vazamentos."
  %}

  {% include card.html color="warning"
  title="Software"
  icon="far fa-window-restore"
  iconcolor="dark"
  page="/software/"
  description="Conheça uma varidade de softwares de código aberto criados para proteger sua privacidade e manter seus dados digitais seguros."
  %}

  {% include card.html color="info"
  title="Sistemas Operacionais"
  icon="fas fa-desktop"
  iconcolor="dark"
  page="/operating-systems/"
  description="Descubra como seu sistema operacional está botando sua privacidade em risco, e quais são as simples alternativas que existem."
  %}

  <!--{% include card.html color="secondary"
  title="privacytoolsIO Services"
  icon="far fa-eye-slash"
  iconcolor="dark"
  page="/services/"
  description="The privacytools.io team is proud to launch a variety of privacy-centric online services, including a Mastodon instance, search engine, and more!"
  %}-->

  <!--{% include card.html color="danger"
  title="Doe"
  icon="fas fa-donate"
  iconcolor="dark"
  page="/donate/"
  description="Nós não podemos operar este site sem as generosas contribuições que recebemos dos nossos visitantes. Se você ama privacidade e nosso site, por favor considere uma doação."
  %}-->

</div>
<p><a href="/classic/"><i class="fas fa-info-circle"></i> Prefere o site clássico? Ele ainda existe!</a></p>