<h1 id="firmware" class="anchor"><a href="#firmware"><i class="fas fa-link anchor-icon"></i></a> Firmware de Código
  Aberto para Roteadores</h1>

<div class="row mb-2">

  {% include card.html color="success"
  title="OpenWrt"
  image="/assets/img/tools/OpenWrt.png"
  url="https://openwrt.org/"
  description="OpenWrt é um sistema operacional (em particular, um sistema operacional embarcado) baseado no kernel Linux, usado principalmente com sistemas embarcados para rotear o tráfego de redes. Os principais componentes são o kernel Linux, util-linux, uClibc e BusyBox. Todos os componentes são otimizados para seu tamanho, para que o SO seja pequeno o suficiente para caber num armazenamento limitado e memória comumente disponível em roteadores caseiros."
  %}

  <!-- Tradução pode melhorar -->
  {% include card.html color="primary"
  title="pfSense"
  image="/assets/img/tools/pfSense.png"
  url="https://pfsense.org/"
  description="pfSense é um software firewall/roteador de código aberto baseado no FreeBSD. É instalado num computador para criar um firewall/roteador dedicado para uma rede e é distinto por sua confiabilidade e recursos que costumam estar disponíveis somente para alguns poucos firewalls comerciais caros. pfSense é comumente implantado como um firewall de perímetro, roteador, ponto de acesso wireless, servidor DHCP, servidor DNS, e ponto de saída VPN."
  %}

  {% include card.html color="warning"
  title="LibreCMC"
  image="/assets/img/tools/LibreCMC.png"
  url="https://librecmc.org"
  description="LibreCMC é uma distribuição GNU/Linux-libre para computadores com recursos mínimos, como o Ben Nanonote, roteadores Wi-FI baseados em ath9k, e outros hardwares com ênfase em software livre. O objetivo atual do projeto é conseguir estar em confirmade com o GNU Free System Distribution Guidelines (GNU FSDG) e assegurar que o projeto continue a cumprir as exigências colocadas pelas Free Software Foundation (FSF).."
  %}

</div>

<h3>Menções honrosas</h3>

<ul>
  <li><a href="https://www.openbsd.org/">OpenBSD</a> - Projeto que produz um sistema operacional gratuito,
    multi-plataforma, do tipo UNIX baseado no 4.4BSD. Enfatiza a portabilidade, padronização, exatidão, segurança por
    proatividade e criptografia integrada</li>
  <li><a href="https://dd-wrt.com/">DD-WRT</a> - Um firmware baseado em Linux para roteadores de ponto de acesso
    wireless. É compatível com diversos modelos de roteadores e pontos de acesso.</li>
</ul>