<h1 id="firmware" class="anchor"><a href="#firmware"><i class="fas fa-link anchor-icon"></i></a> Firmware para Roteadores</h1>

{% include cardv2.html
title="OpenWrt"
image="/assets/img/tools/OpenWrt.png"
description="OpenWrt é um sistema operacional baseado em Linux, usado principalmente em sistemas embarcados para rotear o tráfego de redes. Os principais componentes são o kernel Linux, util-linux, uClibc e BusyBox. Todos os componentes são otimizados para seu tamanho, para que o SO seja pequeno o suficiente para caber num armazenamento e memória limitados, o que é comum em roteadores caseiros."
badges="info:Linux"
labels="warning:contrib:Este SO pode depender ou recomendar software não-livre."
website="https://openwrt.org/"
git="https://git.openwrt.org/"
github="https://github.com/openwrt"
%}

{% include cardv2.html
title="pfSense"
image="/assets/img/tools/pfSense.png"
description="pfSense é uma distribuição FreeBSD de firewall e roteador. É instalado num computador para criar um firewall/roteador dedicado para uma rede. Se destaca por sua confiabilidade e recursos que costumam estar disponíveis somente para alguns poucos firewalls comerciais caros. pfSense é comumente implantado como um firewall de perímetro, roteador, ponto de acesso wireless, servidor DHCP, servidor DNS, e ponto de saída VPN."
badges="info:BSD"
labels="warning:contrib:Este SO pode depender ou recomendar software não-livre."
website="https://www.pfsense.org/"
github="https://github.com/pfsense/"
%}

{% include cardv2.html
title="LibreCMC"
image="/assets/img/tools/LibreCMC.png"
description="LibreCMC é uma distribuição GNU/Linux-libre para computadores com recursos mínimos, como o Ben Nanonote, roteadores Wi-FI baseados em ath9k, e outros hardwares com ênfase em software livre. O objetivo atual do projeto é conseguir estar em conformidade com o GNU Free System Distribution Guidelines (GNU FSDG) e assegurar que o projeto continue a cumprir as exigências colocadas pela Free Software Foundation (FSF)."
badges="info:GNU/Linux"
website="https://librecmc.org"
git="https://gogs.librecmc.org/libreCMC/libreCMC"
%}

<h3>Menções honrosas</h3>

<ul>
  <li><a href="https://www.openbsd.org/">OpenBSD</a> - Um projeto que mantém um sistema operacional tipo Unix, grátis, multiplataforma e baseado no 4.4BSD.
  Com ênfase em portabilidade, padronização, exatidão e segurança proativa com criptografia integrada.</li>
  <li><a href="https://dd-wrt.com/">DD-WRT</a> - Um firmware baseado em Linux para roteadores de ponto de acesso
    wireless. É compatível com diversos modelos de roteadores e pontos de acesso.</li>
</ul>
