<h1 id="firmware" class="anchor"><a href="#firmware"><i class="fas fa-link anchor-icon"></i></a> Firmware para Roteadores</h1>

{% include cardv2.html
  title="OpenWrt"
  image="/assets/img/svg/3rd-party/openwrt.svg"
  image-dark="/assets/img/svg/3rd-party/openwrt-dark.svg"
  description="OpenWrt é um sistema operacional baseado no kernel Linux, usado principalmente em sistemas embarcados para rotear o tráfego de redes. Além do Linux, seus principais componentes incluem util-linux, uClibc e BusyBox. Todos os componentes são otimizados para seu tamanho, para que o SO seja pequeno o suficiente para caber num armazenamento e memória limitados, o que é comum em roteadores caseiros."
  badges="info:Linux"
  website="https://openwrt.org/"
  git="https://git.openwrt.org/"
%}

{% include cardv2.html
  title="pfSense"
  image="/assets/img/svg/3rd-party/pfsense.svg"
  image-dark="/assets/img/svg/3rd-party/pfsense-dark.svg"
  description="pfSense é uma distribuição FreeBSD de firewall e roteador. É instalado num computador para criar um firewall/roteador dedicado para uma rede. Se destaca por sua confiabilidade e recursos que costumam estar disponíveis somente para alguns poucos firewalls comerciais caros. pfSense é comumente implantado como um firewall de perímetro, roteador, ponto de acesso wireless, servidor DHCP, servidor DNS, e ponto de saída VPN."
  badges="info:BSD"
  website="https://www.pfsense.org/"
  privacy-policy="https://www.pfsense.org/privacy.html"
  github="https://github.com/pfsense/"
%}
