<h1 id="busca" class="anchor"><a href="#busca"><i class="fas fa-link anchor-icon"></i></a> Motores de Busca que Respeitam sua Privacidade</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você utiliza motores de busca como Google, Bing, Yahoo ou similares para realizar suas buscas, recomendamos que escolha uma alternativa daqui.</strong>
</div>

{%
  include cardv2.html
  title="Searx"
  image="/assets/img/svg/3rd-party/searx.svg"
  description='Searx é um metabuscador de <a href="https://github.com/asciimoo/searx">código-fonte aberto</a> e auto-hospedável que agrega resultados de outros motores de busca ao mesmo tempo em que não armazena informações de seus usuários. Veja a <a href="https://searx.space/">lista de instâncias públicas</a> ou experimente a <a href="https://search.privacytools.io/">instância do PrivacyTools</a>.'
  website="https://searx.me/"
  tor="http://ulrn6sryqaifefld.onion"
  github="https://github.com/asciimoo/searx"
%}

{%
  include cardv2.html
  title="DuckDuckGo"
  image="/assets/img/svg/3rd-party/duckduckgo.svg"
  description='DuckDuckGo é um "motor de busca que não te rastreia." Parte do código-fonte do DuckDuckGo é livre e hospedado no GitHub, mas seu núcleo é proprietário. <span class="flag-icon flag-icon-us"></span> <a href="../../providers/#ukusa">A empresa é sediada nos EUA.</a>'
  website="https://duckduckgo.com/"
  privacy-policy="https://duckduckgo.com/privacy"
  tor="http://3g2upl4pq6kufc4m.onion"
  github="https://github.com/duckduckgo"
%}

{%
  include cardv2.html
  title="Qwant"
  image="/assets/img/svg/3rd-party/qwant.svg"
  description='Qwant é um motor de busca cuja filosofia é baseada em dois princípios: sem rastreamento de usuários e sem bolha de filtros. <span class="flag-icon flag-icon-fr"></span> <a href="../../providers/#ukusa">A empresa é sediada na França.</a>'
  website="https://www.qwant.com/"
  privacy-policy="https://about.qwant.com/legal/privacy/"
  github="https://github.com/Qwant/"
%}

{% include cardv2.html
  title="Startpage.com"
  image="/assets/img/svg/3rd-party/startpage.svg"
  description='Startpage.com é um motor de busca que fornece resultados do buscador Google com completa proteção de privacidade. <span class="flag-icon flag-icon-nl"></span> Startpage BV é uma empresa sediada nos Países Baixos que têm se dedicado à busca com respeito a privacidade desde 2006.'
  labels="color==warning::link==https://support.startpage.com/index.php?/Knowledgebase/Article/View/1277/0/startpage-ceo-robert-beens-discusses-the-investment-from-privacy-one--system1::text==Aviso::tooltip==Startpage.com foi recentemente adquirida pela System1, sediada nos EUA."
  website="https://www.startpage.com/"
  privacy-policy="https://www.startpage.com/en/privacy-policy/"
%}

<h3>Menções honrosas</h3>

<ul>
  <li><a href="https://metager.org/">MetaGer</a> - Um metabuscador de <a href="https://gitlab.metager.de/open-source/MetaGer">código-fonte aberto</a> operado como uma organização sme fins lucrativos sediada na Alemanha. (<a href="https://metager.org/datenschutz">Política de Privacidade</a>)</li>
  <li><a href="https://www.mojeek.com/">Mojeek</a> - Um motor de busca independente sediado no Reino Unido e o <a href="https://blog.mojeek.com/2018/10/search-that-does-not-follow-you-around.html">primeiro motor de busca a ter uma política de não rastrear seus usuários.</a> (<a href="https://www.mojeek.com/about/privacy/">Política de Privacidade</a>)</li>
  <li><a href="https://yacy.net/">YaCy</a> - Um motor de busca de <a href="https://github.com/yacy/yacy_search_server">código-fonte aberto</a>, peer-to-peer e que é mantido por seus usuários.</li>
</ul>
