<h1 id="darknets" class="anchor"><a href="#darknets"><i class="fas fa-link anchor-icon"></i></a> Redes Independentes</h1>

<div class="alert alert-warning" role="alert">
  <strong>
    Se você está navegando pela <a href="https://pt.wikipedia.org/wiki/Deep_web_e_surface_web">surface web</a> e deseja acessar a 
    <a href="https://pt.wikipedia.org/wiki/Dark_web">dark web</a>, esta seção é pra você.</strong>
</div>

{% include cardv2.html
title="Tor"
image="/assets/img/tools/Tor-Project.png"
description="A rede Tor é um grupo de servidores operados por voluntários, que permite aos usuários melhorarem sua privacidade e segurança na Internet. Os usuários do Tor utilizam essa rede conectando-se através de uma série de túneis virtuais ao invés de fazer uma conexão direta, permitindo assim que organizações e indivíduos compartilhem informações através de redes públicas, sem comprometer a privacidade. Tor também é uma ferramenta eficaz para contornar a censura."
website="https://www.torproject.org/"
tor="http://expyuzz4wqqyqhjn.onion"
windows="https://www.torproject.org/download/"
mac="https://www.torproject.org/download/"
linux="https://www.torproject.org/download/"
freebsd="https://www.freshports.org/security/tor"
openbsd="http://openports.se/net/tor"
netbsd="http://pkgsrc.se/net/tor"
fdroid="https://support.torproject.org/tormobile/tormobile-7/"
googleplay="https://play.google.com/store/apps/details?id=org.torproject.torbrowser"
android="https://www.torproject.org/download/#android"
git="https://gitweb.torproject.org/tor.git"
%}

{% include cardv2.html
title="I2P Anonymous Network"
image="/assets/img/tools/I2P.png"
image-dark="/assets/img/tools/I2P-dark.png"
description="O Invisible Internet Project (I2P) é uma camada da rede de computadores que permite que os aplicativos enviem mensagens entre si de forma pseudônima e segura. Os usos incluem navegação anônima na Web, bate-papo, blogs e transferências de arquivos. O software que implementa essa camada é chamado de roteador I2P e um computador rodando I2P é chamado de nó I2P. O software é livre e com código-fonte aberto; é publicado sob várias licenças."
website="https://geti2p.net/"
i2p="http://i2p-projekt.i2p/"
windows="https://geti2p.net/en/download#windows"
mac="https://geti2p.net/en/download#mac"
linux="https://geti2p.net/en/download#unix"
freebsd="https://www.freshports.org/security/i2p/"
openbsd="http://openports.se/net/i2pd"
netbsd="http://pkgsrc.se/wip/i2pd"
fdroid="https://f-droid.org/app/net.i2p.android.router"
googleplay="https://play.google.com/store/apps/details?id=net.i2p.android"
android="https://download.i2p2.de/android/current/"
source="https://geti2p.net/en/get-involved/guides/new-developers#getting-the-i2p-code"
%}

{% include cardv2.html
title="The Freenet Project"
image="/assets/img/tools/Freenet.png"
description="A Freenet é uma plataforma P2P para comunicação resistente à censura. Ela usa um armazenamento de dados distribuído e descentralizado para manter e entregar informações, e tem um conjunto de software livre, que serve para a publicação e comunicação na web sem a possibilidade de censura. Tanto a Freenet quanto algumas de suas ferramentas associadas foram originalmente projetadas por Ian Clarke, que definiu os objetivos da Freenet, como por exemplo fornecer mais liberdade de expressão na Internet, e uma grande proteção ao anonimato."
website="https://freenetproject.org/"
windows="https://freenetproject.org/pages/download.html#windows"
mac="https://freenetproject.org/pages/download.html#os-x"
linux="https://freenetproject.org/pages/download.html#gnulinux-posix"
freebsd="https://freenetproject.org/pages/download.html#gnulinux-posix"
openbsd="https://freenetproject.org/pages/download.html#gnulinux-posix"
netbsd="https://freenetproject.org/pages/download.html#gnulinux-posix"
github="https://github.com/freenet/"
%}

<h3>Informações Relacionadas</h3>

<ul>
  <li><a href="https://darknetdiaries.com/">darknetdiaries.com</a> - Histórias verídicas sobre o lado obscuro da Internet.</li>
</ul>

<h3>Menções Honrosas</h3>

<ul>
  <li><a href="https://zeronet.io/">ZeroNet</a> - Websites abertos, livres e sem censura, usando a criptografia do Bitcoin e a rede BitTorrent.</li>
  <li><a href="https://retroshare.cc/">RetroShare</a> - Uma plataforma de comunicação descentralizada e com código-fonte aberto. Também é Friend-2-Friend e bastante segura.</li>
  <li><a href="https://gnunet.org/">GNUnet</a> - GNUnet fornece uma grande base de software livre para uma rede global e distribuída que fornece segurança e privacidade.</li>
  <li><a href="https://ipfs.io/">IPFS</a> <em>e</em> <a href="https://github.com/ipfs-shipyard/ipfs-companion">IPFS Companion</a>- Um protocolo de hipermídia P2P para tornar a web mais rápida, segura e aberta. IPFS Companion é uma extensão de navegador cujo objetivo é redirecionar requisições para uma porta da sua escolha (geralmente local). <a href="https://github.com/privacytoolsIO/privacytools.io/pull/361#issuecomment-344414022">
    <span class="badge badge-danger" data-toggle="tooltip" title="">
    <span class="fas fa-exclamation-triangle"></span>
        Aviso importante sobre privacidade
      </span>
          </a></li>
  <li><a href="https://yggdrasil-network.github.io/">Yggdrasil</a> - Uma implementação em estágio inicial de uma rede IPv6 completamente encriptada com criptografia de ponta-a-ponta. É leve, auto-organizada e suporta múltiplas plataformas, permitindo que praticamente qualquer aplicação IPv6 se comunique de forma segura com outros nós Yggdrasil. Yggdrasil não requer que você tenha acesso a uma conexão IPv6 à Internet, pois também funciona por IPv4. <span class="badge badge-warning" data-toggle="tooltip" title="Esse projeto, apesar de ativo, atualmente se encontra em estágio inicial de desenvolvimento.">experimental <i class=\"far fa-question-circle\"></i></span> <span class="badge badge-danger" data-toggle="tooltip" title="Yggdrasil não tem por objetivo fornecer anonimidade e os usuários conectados a você na rede P2P sabem seu endereço IP, a menos que você utilize apenas peers Tor/I2P.">aviso de privacidade <i class="far fa-question-circle"></i></span></li>
</ul>
