<h1 id="darknets" class="anchor"><a href="#darknets"><i class="fas fa-link anchor-icon"></i></a> Redes Independentes</h1>

<div class="alert alert-warning" role="alert">
  <strong>
    Se você está navegando pela <a href="https://pt.wikipedia.org/wiki/Deep_web_e_surface_web">surface web</a> e deseja acessar a 
    <a href="https://pt.wikipedia.org/wiki/Dark_web">dark web</a>, esta seção é pra você.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Tor Browser"
  image="/assets/img/tools/Tor-Project.png"
  url="https://www.torproject.org/"
  tor="http://expyuzz4wqqyqhjn.onion"
  footer='SO: Windows, macOS, Linux, <a href="https://mike.tig.as/onionbrowser/">iOS</a>, <a href="https://www.torproject.org/docs/android.html.en">Android</a>, <a href="https://github.com/torbsd/openbsd-ports">OpenBSD.</a>'
  description="A rede Tor é um grupo de servidores operados por voluntários, que permite às pessoas melhorar a sua privacidade e segurança na Internet. 
  Os usuários do Tor utilizam esta rede conectando-se através de uma série de túneis virtuais ao invés de fazer uma conexão direta, 
  permitindo assim que organizações e indivíduos compartilhem informações através de redes públicas, sem comprometer sua privacidade. 
  Tor também é uma ferramenta eficaz para contornar a censura."
  %}

  {% include card.html color="primary"
  title="I2P Anonymous Network"
  image="/assets/img/tools/I2P.png"
  url="https://geti2p.net/"
  footer="SO: Windows, macOS, Linux, Android, BSD / Solaris."
  description="O Invisible Internet Project (I2P) é uma camada da rede de computadores que permite que os aplicativos enviem mensagens entre si 
  de forma pseudônima e segura. Os usos incluem navegação anônima na Web, bate-papo, blogs e transferências de arquivos. 
  O software que implementa esta camada é chamado de roteador I2P e um computador rodando I2P é chamado de nó I2P. 
  O software é livre e de código-fonte aberto; é publicado sob várias licenças."
  %}

  {% include card.html color="warning"
  title="The Freenet Project"
  image="/assets/img/tools/Freenet.png"
  url="https://freenetproject.org/"
  footer="SO: Windows, macOS, Linux."
  description="A Freenet é uma plataforma peer-to-peer para comunicação resistente à censura. Ela usa um armazenamento de dados distribuído e descentralizado 
  para manter e entregar informações, e tem um conjunto de softwares livres, que serve para a publicação e comunicação na web sem a possibilidade de censura. 
  Tanto a Freenet quanto algumas de suas ferramentas associadas foram originalmente projetadas por Ian Clarke, que definiu o objetivo da Freenet como 
  fornecer mais liberdade de expressão na Internet, com uma grande proteção ao anonimato."
  %}

</div>

<h3>Menções honrosas</h3>

<ul>
  <li>
    <a href="https://zeronet.io/">ZeroNet</a> - Websites abertos, livres e sem censura, usando criptografia Bitcoin e rede BitTorrent.
  </li>
  <li>
    <a href="https://retroshare.cc/">RetroShare</a> - Uma plataforma de comunicação descentralizada de código-fonte aberto, Friend-2-Friend e segura. 
    Disponível para Windows, Linux e MacOSX.
  </li>
  <li>
    <a href="https://gnunet.org/">GNUnet</a> - GNUnet fornece uma grande base de software livre para uma rede global e distribuída, que fornece segurança e privacidade.
  </li>
  <li>
    <a href="https://ipfs.io/">IPFS</a> - Um protocolo de hipermídia ponto-a-ponto para tornar a web mais rápida, segura e aberta
    (<a href="https://github.com/privacytoolsIO/privacytools.io/pull/361#issuecomment-344414022">importante aviso sobre privacidade</a>).
  </li>
</ul>

<h3>Informações relacionadas</h3>

<ul>
  <li>
    <a href="https://darknetdiaries.com/">darknetdiaries.com</a> - Histórias verídicas sobre o lado obscuro da Internet.
  </li>
</ul>