<h1 id="minha-nuvem" class="anchor"><a href="#minha-nuvem"><i class="fas fa-link anchor-icon"></i></a> Software de Servidores Auto-Hospedados na Nuvem</h1>

<div class="alert alert-warning" role="alert">
  <strong>
    Se você utiliza serviços de armazenamento na nuvem como Dropbox, Google Drive, Microsoft OneDrive ou Apple iCloud, 
    recomendamos que você considere hospedar sua própria núvem.</strong>
</div>

{% include cardv2.html
  title="Nextcloud"
  image="/assets/img/svg/3rd-party/nextcloud.svg"
  description="<strong>Nextcloud</strong> é um conjunto de softwares clientes-servidor livres e com códigos-fonte abertos feitos para criar seus próprios serviços de hospedagem de arquivos num servidor privado que você controla. Os únicos limites de armazenamento e velocidade são os limites do seu <a href=\"/provedores/hospedagem\">provedor de hospedagem</a> que você escolher."
  labels="color==warning::link==https://github.com/nextcloud/end_to_end_encryption/issues/111::text==Criptografia de ponta-a-ponta experimental::tooltip==Em relação a criptografia de ponta-a-ponta, a descrição do software diz 'Criptografia de ponta-a-ponta ainda está em estágio alpha de desenvolvimento, não a utilize em ambientes de produção e utilize somente com dados de teste!'."
  website="https://nextcloud.com/"
  privacy-policy="https://nextcloud.com/privacy/"
  windows="https://nextcloud.com/install/#install-clients"
  mac="https://nextcloud.com/install/#install-clients"
  linux="https://nextcloud.com/install/#install-clients"
  freebsd="https://www.freshports.org/www/nextcloud/"
  openbsd="http://openports.se/www/nextcloud"
  netbsd="http://pkgsrc.se/www/php-nextcloud"
  fdroid="https://f-droid.org/packages/com.nextcloud.client/"
  googleplay="https://play.google.com/store/apps/details?id=com.nextcloud.client"
  ios="https://itunes.apple.com/us/app/nextcloud/id1125420102"
  github="https://github.com/nextcloud"
%}

{% include cardv2.html
  title="Tahoe-LAFS"
  image="/assets/img/svg/3rd-party/tahoe-lafs.svg"
  image-dark="/assets/img/svg/3rd-party/tahoe-lafs-dark.svg"
  website="https://www.tahoe-lafs.org/"
  description="Tahoe-LAFS é um sistema de armazenamento grátis na nuvem, descentralizado, e com código-fonte aberto e descentralizado. Ele distribui seus dados através de vários servidores. Mesmo que alguns servidores falhem ou sejam controlados por um hacker, o armazenamento de arquivos continua a funcionar corretamente, preservando sua privacidade e segurança."
  windows="https://github.com/tahoe-lafs/tahoe-lafs#via-pip"
  mac="https://github.com/tahoe-lafs/tahoe-lafs#via-pip"
  linux="https://github.com/tahoe-lafs/tahoe-lafs#using-os-packages"
  netbsd="http://pkgsrc.se/filesystems/tahoe-lafs"
  git="https://www.tahoe-lafs.org/trac/tahoe-lafs/browser"
%}

<h3>Menção Honrosa</h3>
<ul>
  <li><a href="https://github.com/xwiki-labs/cryptpad/">CryptPad</a> - Editor colaborativo com criptografia de ponta-a-ponta em tempo real para pastas, arquivos de mídia e documentos; seu código-fonte é aberto.</li>
</ul>
