<h1 id="minha-nuvem" class="anchor"><a href="#minha-nuvem"><i class="fas fa-link anchor-icon"></i></a> Software de Servidores Auto-Hospedados na Nuvem</h1>

<div class="alert alert-warning" role="alert">
  <strong>
    Se você utiliza serviços de armazenamento na nuvem como Dropbox, Google Drive, Microsoft OneDrive ou Apple iCloud, 
    recomendamos que você considere hospedar seu próprio.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Pydio"
  image="/assets/img/tools/Pydio.png"
  url="https://pydio.com/"
  footer="SO: Windows, macOS, Linux, iOS, Android."
  description="Pydio é um software de código aberto que torna qualquer servidor (físico, NAS, nuvem IaaS ou PaaS) instantaneamente numa 
  plataforma de compartilhamento de arquivos para sua empresa.  É uma alternativa a SaaS Boxes e Drives, com mais controle, segurança, privacidade, e TCOs favoráveis."
  %}

  {% include card.html color="primary"
  title="Tahoe-LAFS"
  image="/assets/img/tools/Tahoe-LAFS.png"
  url="https://www.tahoe-lafs.org/"
  footer="SO: Windows, macOS, Linux."
  description="Tahoe-LAFS é um sistema de armazenamento na nuvem grátis, de código aberto e descentralizado. Ele distribui seus dados através de vários servidores. 
  Mesmo que alguns servidores falhem ou sejam controlados por um hacker, o armazenamento de arquivos continua a funcionar corretamente, preservando sua privacidade e segurança."
  %}

  {% include card.html color="warning"
  title="Nextcloud"
  image="/assets/img/provider/Nextcloud.png"
  url="https://nextcloud.com/"
  footer="SO do Cliente: Windows, macOS, Linux, BSD, Unix, iOS, Android, Fire OS. Servidor: Linux."
  description="Funcionalidades similares ao popular e altamente usado Dropbox, com a diferença que Nextcloud é grátis e de código aberto, 
  portanto permitindo a qualquer um instalá-lo e operá-lo num servidor privado, sem limites de armazenamento ou de número de clientes conectados."
  %}

</div>

<h3>Menção honrosa</h3>
<ul>
  <li>
    <a href="https://github.com/xwiki-labs/cryptpad/">CryptPad</a> - 
    Encriptação de ponta a ponta em tempo real para pastas, arquivos de mídia e documentos compartilhados.
  </li>
</ul>