<h1 id="social" class="anchor"><a href="#social"><i class="fas fa-link anchor-icon"></i></a> Redes Sociais Descentralizadas</h1>

<div class="alert alert-warning" role="alert">
  <strong> 
    Se você usa redes sociais como Facebook, Twitter, Instagram ou similares, recomendamos que escolha uma alternativa daqui.
  </strong>
</div>

{% include cardv2.html
title="Mastodon: Alternativa ao Twitter"
image="/assets/img/tools/Mastodon.png"
description='Mastodon é uma rede social baseada em protocolos open web e é gratuita, de código aberto. É descentralizada, como o email. 
Também é a que tem mais usuários, e a mais diversa em termos de interesses. Ela tem um bom design e é fácil de configurar.'
website="https://joinmastodon.org/"
github="https://github.com/tootsuite/mastodon"
android=""
ios=""
web=""
%}

{% include cardv2.html
title="diaspora*: Similar ao Google+"
image="/assets/img/tools/diaspora.png"
description="diaspora* é baseada em três filosofias chave: Descentralização, Liberdade e Privacidade. Tem por objetivo tratar
problemas de privacidade relacionados a redes sociais centralizadas, permitindo que seus usuários monte seu pŕoprio servidor (ou \"pod\") para hospedar conteúdo; 
pods podem interagir entre si para compartilhar atualizações de status, fotos, e outros dados sociais."
website="https://diasporafoundation.org/"
github="https://github.com/diaspora/diaspora"
android=""
web=""
%}

{% include cardv2.html
title="Friendica: Alternativa ao Facebook"
image="/assets/img/tools/Friendica.png"
description="Friendica tem ênfase em configurações extensivas de privacidade e fácil instalação do servidor. Tem por objetivo se integrar com o máximo de redes sociais existentes. 
Atualmente, usuários do Friendica podem integrar contatos do Facebook, Twitter, Diaspora, GNU social, App.net, Pump.io e outros serviços para suas streams sociais."
website="https://friendi.ca/"
github="https://github.com/friendica/friendica"
windows=""
linux=""
android=""
web=""
%}

{% include cardv2.html
title="PixelFed: Alternativa ao Instagram"
image="/assets/img/provider/pixelfed.png"
description='Uma plataforma de compartilhamento de fotos gratuita e ética, mantida pela federação ActivityPub. Pixelfed tem código aberto e é descentralizada. 
Você pode rodar sua própria instância ou <a href="https://fediverse.party/en/pixelfed/">se juntar a uma</a>.'
website="https://pixelfed.social/"
github="https://github.com/pixelfed"
web=""
%}

{% include cardv2.html
title="GNU social: Alternativa ao Twitter"
image="/assets/img/provider/gnu-social.png"
description="Um software de comunicação social para comunicação pública e privada. É bem mantido e usado por muitos usuários. Já é utilizado pela Free Software Foundation."
website="https://gnu.io/social/"
github="https://github.com/foocorp/gnu-social"
android=""
ios=""
linux=""
windows=""
web=""
%}

<h3>Menções honrosas</h3>
<ul>
  <li>
    <a href="https://www.minds.com/">Minds</a> - Um serviço distribuído de rede social com <a href="https://gitlab.com/minds">código aberto</a>, 
    integrando uma blockchain para recompensar seus usuários.
  </li>
  <li>
    <a href="https://movim.eu/">Movim</a> - Plataforma social descentralizada que depende do protocolo XMPP, portanto te permite que mude o cliente em vários dispositivos.
  </li>
</ul>

<h3>Informações relacionadas</h3>

<ul>
  <li>
    <a href="https://addons.mozilla.org/firefox/addon/mastodon-simplified-federation/">Mastodon: Federação Simplificada</a> - 
    Extensão de Firefox para melhorar a usabilidade de instâncias remotas de Mastodon.
  </li>
  <li>
    <a href="https://justdeleteme.xyz/">JustDeleteMe</a> - Um diretório de links diretos para deletar sua conta em serviços da web.
  </li>
  <li>
    <a href="https://forget.codl.fr/">Forget</a> - Um serviço que automaticamente deleta seus posts antigos do Twitter e Mastodon.
  </li>
  <li>
    <a href="https://addons.mozilla.org/firefox/addon/facebook-container/">Facebook Container, por Mozilla</a> - Previne que o Facebook te rastreie através da web.
  </li>
  <li>
    <a href="https://www.facebook.com/help/delete_account">Delete your Facebook account</a> - Link direto para deletar sua conta do Facebook sem poder reativá-la novamente.
  </li>
  <li>
    <a href="https://deletefacebook.com/">Como deletar sua conta do Facebook de forma permanente</a> - Esse guia irá te ensinar a deletar sua conta do Facebook de forma fácil.
  </li>
  <li>
    <a href="https://www.stopusingfacebook.co/">Para de usar o Facebook</a> - Uma boa lista de razões para parar de usar o Facebook e como fazê-lo.
  </li>
</ul>
