<h1 id="social" class="anchor"><a href="#social"><i class="fas fa-link anchor-icon"></i></a> Redes Sociais
  Descentralizadas</h1>

<div class="alert alert-warning" role="alert">
  <strong> Se você atualmente usa redes sociais como Facebook ou Twitter, você deve escolher uma alternativa daqui.
  </strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Mastodon"
  image="/assets/img/tools/Mastodon.png"
  url="https://joinmastodon.org/"
  website="joinmastodon.org"
  description='Mastodon é uma rede social baseada em protocolos open web e é gratuita, de código aberto. É descentralizada, como o email. Também é a que tem mais usuários, e a mais diversa em termos de interesses. Ela tem um bom design e é fácil de configurar. <!--Desativar link da instância privacytools.io Feel welcome to join our hosted instance: <a href="https://social.privacytools.io/">social.privacytools.io</a>-->'
  %}

  {% include card.html color="primary"
  title="diaspora*"
  image="/assets/img/tools/diaspora.png"
  url="https://diasporafoundation.org/"
  description="diaspora* é baseada em três filosofias chave: Descentralização, liberdade e privacidade. Tem por objetivo tratar problemas de privacidade relacionados a redes sociais centralizadas, permitindo que seus usuários montem seus pŕoprio servidor (ou \"pod\") para hospedar conteúdo; pods podem então interatgir entre si para compartilhar atualizações de status, fotos, e outros dados sociais."
  %}

  <!-- Tradução pode melhorar -->
  {% include card.html color="warning"
  title="Friendica"
  image="/assets/img/tools/Friendica.png"
  url="https://friendi.ca/"
  description="Friendica tem ênfase em configurações extensivas de privacidade e fácil instalação do servidor. Tem por objetivo se integrar com o máximo de redes sociais possível. Atualmente,
  usuários do Friendica podem integrar contatos do Facebook, Twitter, Diaspora, GNU social, App.net, Pump.io e outros serviços em suas streams sociais."
  %}

</div>

<h3>Menção honrosa</h3>

<ul>
  <li><a href="https://gnu.io/social/">GNU Social</a> - Uma rede social descentralizada, grátis e de código aberto
    compatível com Mastodon e Friendica.</li>
</ul>

<h3>Informações relacionadas</h3>

<ul>
  <li><a href="https://justdeleteme.xyz/pt_br">JustDeleteMe</a> - Um diretório de links diretos para deletar sua conta
    em
    serviços da web.</li>
  <li><a href="https://forget.codl.fr/">Forget</a> - Um serviço que automaticamente deleta os seus posts antigos que
    todos já esqueceram do Twitter e Mastodon.</li>
  <li><a href="https://addons.mozilla.org/firefox/addon/facebook-container/">Facebook Container by Mozilla</a> - Previne
    que o Facebook te rastreie através da web.</li>
  <li><a href="https://www.facebook.com/help/delete_account">Deletar sua conta do Facebook</a> - Link direto para
    deletar sua conta do Facebook sem poder reativá-la novamente.</li>
  <!-- Desabilitar link pois não está disponível em Português -->
  <!-- <li><a href="https://deletefacebook.com/">How To Permanently Delete A Facebook Account</a> - This guide will take you
    through a smooth and successful Facebook account deletion.</li>-->
</ul>