<h1 id="social" class="anchor"><a href="#social"><i class="fas fa-link anchor-icon"></i></a> Redes Sociais Descentralizadas</h1>

<div class="alert alert-warning" role="alert">
  <strong> Se você utiliza redes sociais como Facebook ou Twitter, recomendamos que escolha uma alternativa daqui. </strong>
</div>

{% include cardv2.html
  title="Mastodon: Alternativa ao Twitter"
  image="/assets/img/svg/3rd-party/mastodon.svg"
  description='Mastodon é uma rede social baseada em protocolos abertos da web e software de código-fonte aberto, livre e gratuito. É descentralizado como o email, os usuários podem existir em diferentes servidores ou até em diferentes plataformas, mas ainda assim se comunicarem. Ele também tem o maior e mais diverso número de usuários (em termos de interesses), tem uma boa aparência e é fácil de configurar. Se você está procurando um servidor para ingressar, é bem-vindo para ingressar na instância do PrivacyTools: <a href="https://social.privacytools.io/">social.privacytools.io</a>.'
  website="https://joinmastodon.org/"
  github="https://github.com/tootsuite/mastodon"
  windows="https://joinmastodon.org/apps"
  mac="https://joinmastodon.org/apps"
  linux="https://joinmastodon.org/apps"
  freebsd="https://joinmastodon.org/apps"
  openbsd="https://joinmastodon.org/apps"
  netbsd="https://joinmastodon.org/apps"
  android="https://joinmastodon.org/apps"
  sailfish="https://joinmastodon.org/apps"
  ios="https://joinmastodon.org/apps"
  web="https://joinmastodon.org/#getting-started"
%}

{% include cardv2.html
  title="diaspora*: Alternativa ao Google+"
  image="/assets/img/svg/3rd-party/diaspora.svg"
  description="diáspora* é baseada em três filosofias principais: Descentralização, Liberdade e Privacidade. A intenção é resolver questões de privacidade relacionadas às redes sociais centralizadas, permitindo que os usuários configurem seu próprio servidor (ou \"pod\") para hospedar conteúdo. Os pods podem interagir para compartilhar atualizações de status, fotografias e outros dados sociais."
  website="https://diasporafoundation.org/"
  github="https://github.com/diaspora/diaspora"
  android="https://wiki.diasporafoundation.org/Tools_to_use_with_Diaspora#Android"
  web="https://diasporafoundation.org/"
%}

{% include cardv2.html
  title="Friendica: Alternativa ao Facebook"
  image="/assets/img/svg/3rd-party/friendica.svg"
  description="A Friendica têm ênfaze em amplas configurações de privacidade e fácil instalação de servidor. Seu objetivo é federar com tantas outras redes sociais quanto possível. Atualmente, os usuários do Friendica podem integrar contatos do Facebook, Twitter, Diaspora, GNU social, App.net, Pump.io e outros serviços em seus fluxos sociais."
  website="https://friendi.ca/"
  github="https://github.com/friendica/friendica"
  windows="https://friendi.ca/resources/mobile-clients/"
  linux="https://friendi.ca/resources/mobile-clients/"
  android="https://friendi.ca/resources/mobile-clients/"
  sailfish="https://friendi.ca/resources/mobile-clients/"
  web="https://friendi.ca/"
%}

{% include cardv2.html
  title="PixelFed: Alternativa ao Instagram"
  image="/assets/img/svg/3rd-party/pixelfed.svg"
  description='PixelFed é uma plataforma gratuita e ética de compartilhamento de fotos desenvolvida pela Federação ActivityPub. O Pixelfed é uma plataforma federada com código-fonte aberto. Você pode rodar sua própria instância ou <a href="https://fediverse.party/en/pixelfed/">ingressar em uma existente.</a>'
  website="https://pixelfed.org/"
  github="https://github.com/pixelfed"
  web="https://pixelfed.org/"
%}

{% include cardv2.html
  title="Pleroma: Alternativa ao Twitter"
  image="/assets/img/svg/3rd-party/pleroma.svg"
  description="O Pleroma é um servidor de rede social federado gratuito desenvolvido em protocolos abertos. É compatível com Mastodon e muitas outras implementações dos protocolos ActivityPub e OStatus."
  website="https://pleroma.social"
  gitlab="https://git.pleroma.social/pleroma/pleroma/"
  windows="https://docs-develop.pleroma.social/backend/clients/#desktop"
  mac="https://docs-develop.pleroma.social/backend/clients/#desktop"
  linux="https://docs-develop.pleroma.social/backend/clients/#desktop"
  android="https://docs-develop.pleroma.social/backend/clients/#handheld"
  fdroid="https://docs-develop.pleroma.social/backend/clients/#handheld"
  googleplay="https://docs-develop.pleroma.social/backend/clients/#handheld"
  ios="https://docs-develop.pleroma.social/backend/clients/#handheld"
  web="https://docs-develop.pleroma.social/backend/clients/#alternative-web-interfaces"
%}

<h3>Menções Honrosas</h3>
<ul>
  <li><a href="https://movim.eu/">Movim</a> - Uma plataforma social federada que se baseia no padrão XMPP e, portanto, permite o intercâmbio entre muitos outros software clientes em todos os dispositivos.</li>
</ul>
