<h1 id="teamchat" class="anchor"><a href="#chat-equipe"><i class="fas fa-link anchor-icon"></i></a> Plataformas de Chat em Equipe</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se seu projeto ou organização utiliza plataformas como <a href="https://tosdr.org/#discord">Discord</a> ou <a href="https://drewdevault.com/2015/11/01/Please-stop-using-slack.html">Slack</a>, recomendamos que utilize uma alternativa daqui.</strong>
</div>

{%
  include cardv2.html
  title="Element"
  image="/assets/img/svg/3rd-party/element.svg"
  description='<a href="https://element.io">Element</a> (anteriormente <a href="https://element.io/blog/welcome-to-element/">Riot</a>) é o cliente de referência para a rede <a href="https://matrix.org/docs/guides/introduction">Matrix</a>. O <a href="https://matrix.org/docs/spec">padrão aberto Matrix</a> é um padrão de código-fonte aberto para comunicação segura, descentralizada e em tempo real.'
  labels="text==VoIP"
  website="https://element.io"
  privacy-policy="https://element.io/privacy"
  github="https://github.com/vector-im/element-web"
  windows="https://element.io/get-started"
  mac="https://element.io/get-started"
  linux="https://element.io/get-started"
  fdroid="https://f-droid.org/packages/im.vector.app/"
  googleplay="https://play.google.com/store/apps/details?id=im.vector.app"
  ios="https://apps.apple.com/app/vector/id1083446067"
  web="https://app.element.io"
%}

{%
  include cardv2.html
  title="Rocket.chat"
  image="/assets/img/svg/3rd-party/rocketchat.svg"
  description="Rocket.chat é uma plataforma auto-hospedável de código-fonte aberto para comunicação em equipe. Possui federação opcional e criptografia de ponta-a-ponta experimental."
  labels="color==warning::link==https://rocket.chat/docs/user-guides/end-to-end-encryption/::text==E2EE Experimental ::tooltip==Com relação a criptografia de ponta-a-ponta, sua documentação diz: 'Esta característica está atualmente em alfa. Também ainda não é suportada no celular'. Não há sigilo encaminhado, portanto, uma senha de descriptografia comprometida vazaria todas as mensagens. A Federação também foi adicionada posteriormente, dando espaço para erros.|text==VoIP"
  website="https://rocket.chat/"
  privacy-policy="https://rocket.chat/privacy"
  github="https://github.com/rocketchat/"
  windows="https://rocket.chat/install"
  mac="https://itunes.apple.com/us/app/rocket-chat/id1086818840"
  linux="https://rocket.chat/install"
  fdroid="https://f-droid.org/packages/chat.rocket.android"
  googleplay="https://play.google.com/store/apps/details?id=chat.rocket.android"
  ios="https://itunes.apple.com/app/rocket-chat/id1148741252"
%}
