<h1 id="so_tor" class="anchor"><a href="#so_tor"><i class="fas fa-link anchor-icon"></i></a> Distribuições com Foco em Tor</h1>

<div class="alert alert-info" role="alert">
  <strong>Essas distribuições GNU/Linux foram criadas com o propósito de direcionar todo o tráfego da rede pelo Tor.</strong>
</div>

{% include cardv2.html
  title="Tails"
  image="/assets/img/svg/3rd-party/tails.svg"
  description='Tails é um sistema operacional "Live CD" que pode ser inicializado em praticamente todo computador através de um DVD, dispositivo USB, ou cartão SD. Tem por objetivos preservar a privacidade e anonimidade de seus usuários, além de contornar a censura ao forçar todas as conexões de Internet a passar pela rede Tor; não deixar rastros digitais no computador; e usar ferramentas de criptografia modernas para criptografar arquivos, emails, e mensagens instantâneas.'
  badges="info:Linux"
  website="https://tails.boum.org/"
  git="https://git-tails.immerda.ch/tails/"
  %}

{% include cardv2.html
  title="Whonix"
  image="/assets/img/svg/3rd-party/whonix.svg"
  description='Whonix é uma distribuição GNU/Linux baseada em Debian e focada em segurança. Tem por objetivo fornecer privacidade, segurança e anonimidade na Internet. O sistema operacional é constituído por duas máquinas virtuais, a chamada "Workstation" e o Tor "Gateway". Todas as comunicações são forçadas a passar pela rede Tor para que o objetivo do SO seja cumprido. <a href="https://www.whonix.org/wiki/Qubes/Why_use_Qubes_over_other_Virtualizers">Whonix é melhor utilizado com Qubes.</a>'
  badges="info:Linux"
  website="https://www.whonix.org/"
  tor="http://www.dds6qkxpwdeubwucdiaord2xgbbeyds25rbsgr73tbfpqpt4a6vjwsyd.onion/"
  github="https://github.com/Whonix"
%}
