<h1 id="proxies" class="anchor"><a href="#proxies"><i class="fas fa-link anchor-icon"></i></a> Frontends e Proxies</h1>

<div class="alert alert-warning" role="alert">
  <strong> Se você utiliza plataformas como o YouTube, você pode continuar assistindo vídeos sem compartilhar seu IP.</strong>
</div>

{% include cardv2.html
  title="Invidious"
  image="/assets/img/svg/3rd-party/invidious.svg"
  description='Invidious é uma interface alternativa ao YouTube. É um software gratuito & livre, sem publicidade ou dependência de Javascript para reproduzir vídeos, com muitas outras características que permitem que você tenha uma experiência completa no YouTube, sem o Google.'
  website="https://invidio.us"
  github="https://github.com/omarroth/invidious"
  web="https://instances.invidio.us"
%}
