<h1 id="voip" class="anchor"><a href="#voip"><i class="fas fa-link anchor-icon"></i></a> Chamadas de Vídeo/Voz</h1>

<div class="alert alert-warning" role="alert">
  <strong>Se você estiver utilizando apps de chamadas de vídeo/voz como Skype, Viber ou Google Hangouts, recomendamos que escolha uma alternativa daqui.</strong> 
  Note que muitos dos apps mencionados acima também suportam <span class="badge badge-success">VoIP</span>. Os softwares listados abaixo são <em>principalmente</em> focados em chamadas de Vídeo/Voz.
</div>

{% include cardv2.html
title="Linphone"
image="/assets/img/tools/Linphone.png"
website="https://www.linphone.org/"
description="Linphone é um serviço de ligações SIP gratuito e de código-fonte aberto, com chamadas gratuitas através de IP. Disponível para celulares, Desktops 
e navegadores. Ele suporta ZRTP para chamadas de vídeo e voz criptografadas ponta-a-ponta."
github="https://github.com/BelledonneCommunications"
ios=""
android=""
windows=""
linux=""
mac=""
web=""
%}

{% include cardv2.html
title="Mumble"
image="/assets/img/tools/Mumble.png"
website="https://mumble.info/"
description="Mumble é um chat de voz de baixa latência e alta qualidade, com código-fonte aberto e criado principalmente para utilizar ao jogar. Note que, mesmo que o Mumble não mantenha registros de mensagens por padrão, <a href=\"https://github.com/mumble-voip/mumble/issues/1813\">não há criptografia de ponta-a-ponta</a>, por isso auto-hospedagem é recomendado."
github="https://github.com/mumble-voip/"
windows=""
linux=""
mac=""
%}

<h3>Menção honrosa</h3>

<ul>
  <li><a href="https://jitsi.org/">Jitsi Meet</a> - Jitsi Meet é um aplicativo multi-plataforma gratuito e de código-fonte aberto para chamadas de voz (VoIP), videoconferências e mensagens instantâneas. <span class="badge badge-warning" data-toggle="tooltip" title="Nós recomendamos desabilitar WebRTC do Firefox, pois essa tecnologia pode ser usada para vazar seu endereço IP ainda que use VPN. Por isso que o navegador Tor desabilita WebRTC por padrão.">Precisa de WebRTC</span></li>
</ul>

<h3>Informações relacionadas</h3>

<ul>
  <li>Mais informações sobre o Mumble:</li>
  <ul>
  <li><a href="https://wiki.mumble.info/wiki/Running_Murmur">Rodando um servidor Mumble</a> e <a href="https://wiki.mumble.info/wiki/Murmur.ini">seu arquivo de configurações</a>, <a href="https://wiki.mumble.info/wiki/Murmur.ini#obfuscate">obfuscando endereços IPv4</a> e <a href="https://wiki.mumble.info/wiki/Murmur.ini#Process_Administrivia">logging</a></li>
  <li><a href="https://trac.torproject.org/projects/tor/wiki/doc/TorifyHOWTO/Mumble">Usando Mumble com Tor</a>
  </ul>
</ul>
