<h1 id="voip" class="anchor"><a href="#voip"><i class="fas fa-link anchor-icon"></i></a> Chamadas Encriptadas de Vídeo & Voz</h1>

<div class="alert alert-warning" role="alert">
  <strong>
    Se você estiver utilizando algum serviço de chamadas de vídeo & voz como Skype, Viber ou Google Hangouts, recomendamos que escolha uma alternativa daqui.
  </strong>
</div>

{% include cardv2.html
title="Signal: Móvel"
image="/assets/img/tools/Signal.png"
website="https://signal.org"
description="Signal é um aplicativo desenvolvido pela Open Whisper Systems. O app tem recursos de mensagens instantâneas, assim como chamadas de vídeo e voz.
Todas as comunicações são encriptadas de ponta a ponta e é gratuito e de código-fonte aberto, permitindo que a comunidade e especialistas de segurança de todo o mundo
possam atestar sua segurança ao auditar o código. O time de desenvolvimento é apoiado por doações da comunidade e concessões: não possui anúncios."
github="https://github.com/signalapp"
android=""
ios=""
mac=""
windows=""
linux=""
%}

{% include cardv2.html
title="Wire"
image="/assets/img/tools/wire.png"
website="https://wire.com/download/"
description="Wire é um aplicativo desenvolvido pela Wire Swiss GmbH. Wire permite que seus usuários troquem mensagens instantâneas com criptografia ponta-a-ponta. 
Wire também permite realizar chamadas de vídeo e voz criptografadas. Wire é gratuito e de código-fonte aberto, permitindo que membros da comunidade e especialistas 
verifiquem sua segurança, realizando uma auditoria no código. 
<span 
  class=\"badge badge-warning\" 
  data-toggle=\"tooltip\" 
  title=\"A empresa mantém uma lista de todos os usuários com quem você se comunicou até que você delete a sua conta.\">
    Cuidado <i class=\"far fa-question-circle\"></i>
</span>"
github="https://github.com/wireapp"
android=""
ios=""
mac=""
windows=""
linux=""
web=""
%}

{% include cardv2.html
title="Linphone"
image="/assets/img/tools/Linphone.png"
website="https://www.linphone.org/"
description="Linphone é um serviço de ligações SIP gratuito e de código-fonte aberto, com chamadas gratuitas através de IP. Disponível para celulares, Desktops 
e navegadores. Ele suporta ZRTP para chamadas de vídeo e voz criptografadas ponta-a-ponta."
github="https://github.com/BelledonneCommunications"
ios=""
android=""
windows=""
linux=""
mac=""
web=""
%}

<h3>Menções honrosas</h3>

<ul>
  <li>
    <a href="https://jitsi.org/">Jitsi</a> - 
    Jitsi é um aplicativo multiplataforma gratuito e de código-fonte aberto para chamadas de voz (VoIP), videoconferências e mensagens instantâneas.
  </li>
  <li>
    <a href="https://tox.chat/">Tox</a> - <span class="badge badge-warning">Experimental</span> 
    Um software gratuito, peer-to-peer e de código-fonte aberto. Criado para mensagens instantâneas e chamadas encriptadas de vídeo e voz.
  </li>
  <li>
    <a href="https://jami.net/">Jami (antigo Ring/SFLphone)</a> - Jami dá a você controle total das suas comunicações e um nível de privacidade sem igual.
  </li>
</ul>

<h3>Informações relacionadas</h3>

<ul>
  <li>
    <a href="https://signal.org/android/apk/">
      Usuários avançados podem fazer o download da APK do Signal diretamente. A maioria dos usuários não deve fazer isto em situações normais.
    </a>
  </li>
  <li>
    <a href="https://www.vice.com/en_us/article/gvzw5x/secure-messaging-app-wire-stores-everyone-youve-ever-contacted-in-plain-text">
      Aplicativo Seguro de Troca de Mensagens Armazena Lista de Todas as Pessoas com Quem Você Conversou de Forma Não Encriptada | Motherboard
    </a>
  </li>
</ul>
