<h1 id="vpn" class="anchor"><a href="#vpn"><i class="fas fa-link anchor-icon"></i></a> Serviços de VPN focados em
  Privacidade</h1>

<div class="alert alert-success" role="alert">
  <strong>Todos os provedores aqui listados são de fora dos EUA, usam encriptação, aceitam Bitcoin, aderem ao software
    OpenVPN e possuem uma política de não manter registros do seu tráfego e outras informações.</strong>
</div>

{% assign eur_to_usd = 1.14 %}
<div class="table-responsive">
  <table class="table sortable-theme-bootstrap" data-sortable>
    <thead>
      <tr>
        <th data-sortable="true">Tabela ordenável de provedores VPN</th>
        <th data-sortable="true">Preço Anual</th>
        <th data-sortable="true">Teste Grátis</th>
        <th data-sortable="true" title="Número de Servidores"># Servidores</th>
        <th data-sortable="true">Jurisdição</th>
        <th data-sortable="false">Site</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-value="AirVPN">
          <a href="https://airvpn.org/"><img alt="AirVPN" src="/assets/img/provider/AirVPN.png" width="200"
              height="70"></a></td>
        <td data-value="{{ 54 | times: eur_to_usd }}">54 €</td>
        <td><span class="label label-success">Sim</span></td>
        <td>162</td>
        <td><span class="flag-icon flag-icon-it"></span> Itália</td>
        <td><a href="https://airvpn.org/">AirVPN.org</a></td>
      </tr>

      <tr>
        <td data-value="AzireVPN">
          <a href="https://www.azirevpn.com/"><img alt="AzireVPN" src="/assets/img/provider/AzireVPN.png" width="200"
              height="70"></a>
        </td>
        <td data-value="{{ 45 | times: eur_to_usd }}">45 €</td>
        <td><span class="label label-success">Sim</span></td>
        <td>22</td>
        <td><span class="flag-icon flag-icon-se"></span> Suécia</td>
        <td><a href="https://www.azirevpn.com/">AzireVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="blackVPN">
          <a href="https://www.blackvpn.com/"><img alt="blackVPN" src="/assets/img/provider/blackVPN.png" width="200"
              height="70"></a>
        </td>
        <td data-value="{{ 49 | times: eur_to_usd }}">49 €</td>
        <td><span class="label label-success">Sim</span></td>
        <td>31</td>
        <td><span class="flag-icon flag-icon-hk"></span> Hong Kong</td>
        <td><a href="https://www.blackvpn.com/">blackVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="Cryptostorm">
          <a href="https://cryptostorm.is/"><img alt="Cryptostorm" src="/assets/img/provider/Cryptostorm.png"
              width="200" height="70"></a>
        </td>
        <td data-value="52">$ 52</td>
        <td><span class="label label-success">Sim</span></td>
        <td>28</td>
        <td><span class="flag-icon flag-icon-is"></span> Islândia</td>
        <td><a href="https://cryptostorm.is/">Cryptostorm.is</a></td>
      </tr>

      <tr>
        <td data-value="ExpressVPN">
          <a href="https://www.expressvpn.com/"><img alt="ExpressVPN" src="/assets/img/provider/ExpressVPN.png"
              width="200" height="70"></a>
        </td>
        <td data-value="100">$ 99.95</td> <!-- USD on December 28, 2018 -->
        <td><span class="label label-success">Sim</span></td>
        <td>148</td>
        <td><span class="flag-icon flag-icon-vg"></span> Ilhas Virgens Britânicas</td>
        <td><a href="https://www.expressvpn.com/">ExpressVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="FrootVPN">
          <a href="https://www.frootvpn.com/"><img alt="FrootVPN" src="/assets/img/provider/FrootVPN.png" width="200"
              height="70"></a>
        </td>
        <td data-value="36">$ 35.88</td>
        <td><span class="label label-warning">Não</span></td>
        <td>27</td>
        <td><span class="flag-icon flag-icon-se"></span> Suécia</td>
        <td><a href="https://www.frootvpn.com/">FrootVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="hide.me">
          <a href="https://hide.me/"><img alt="hide.me" src="/assets/img/provider/hide.me.png" width="200"
              height="70"></a>
        </td>
        <td data-value="0"><a data-toggle="tooltip" data-placement="bottom"
            data-original-title="2 GB de transferência de dados, 1 conexão simultânea"
            href="https://hide.me/pricing">Grátis</a>
        </td>
        <td><span class="label label-success">Sim</span></td>
        <td>160+</td>
        <td><span class="flag-icon flag-icon-my"></span> Malásia</td>
        <td><a href="https://hide.me/">hide.me</a></td>
      </tr>

      <tr>
        <td data-value="IVPN">
          <a href="https://www.ivpn.net/"><img alt="IVPN" src="/assets/img/provider/IVPN.png" width="200"
              height="70"></a>
        </td>
        <td data-value="100">$ 100</td>
        <td><span class="label label-success">Sim</span></td>
        <td>38</td>
        <td><span class="flag-icon flag-icon-gi"></span> Gibraltar</td>
        <td><a href="https://www.ivpn.net/">IVPN.net</a></td>
      </tr>

      <tr>
        <td data-value="Mullvad">
          <a href="https://mullvad.net/"><img alt="Mullvad" src="/assets/img/provider/Mullvad.png" width="200"
              height="70"></a>
        </td>
        <td data-value="{{ 60 | times: eur_to_usd }}">60 €</td>
        <td><span class="label label-success">Sim</span></td>
        <td>281</td>
        <td><span class="flag-icon flag-icon-se"></span> Suécia</td>
        <td><a href="https://mullvad.net/">Mullvad.net</a></td>
      </tr>

      <tr>
        <td data-value="NordVPN">
          <a href="https://nordvpn.com/"><img alt="NordVPN" src="/assets/img/provider/NordVPN.png" width="200"
              height="70"></a>
        </td>
        <td data-value="84">$ 83.88</td>
        <td><span class="label label-success">Sim</span></td>
        <td>5200+</td>
        <td><span class="flag-icon flag-icon-pa"></span> Panamá</td>
        <td><a href="https://nordvpn.com/">NordVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="OVPN.com">
          <a href="https://www.ovpn.com/"><img alt="OVPN.com" src="/assets/img/provider/OVPN.png" width="200"
              height="70"></a>
        </td>
        <td data-value="{{ 84 | times: eur_to_usd }}">84 €</td>
        <td><span class="label label-success">Sim</span></td>
        <td>67</td>
        <td><span class="flag-icon flag-icon-se"></span> Suécia</td>
        <td><a href="https://www.ovpn.com/">OVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="Perfect Privacy">
          <a href="https://www.perfect-privacy.com/"><img alt="Perfect Privacy"
              src="/assets/img/provider/Perfect-Privacy.png" width="200" height="70"></a>
        </td>
        <td data-value="{{ 119.99 | times: eur_to_usd }}">119.99 €</td>
        <td><span class="label label-warning">Não</span></td>
        <td>54</td>
        <td><span class="flag-icon flag-icon-ch"></span> Suíça</td>
        <td><a href="https://www.perfect-privacy.com/">Perfect-Privacy.com</a></td>
      </tr>

      <tr>
        <td data-value="ProtonVPN">
          <a href="https://protonvpn.com/"><img alt="ProtonVPN" src="/assets/img/provider/ProtonVPN.png" width="200"
              height="70"></a>
        </td>
        <td data-value="0"><a data-toggle="tooltip" data-placement="bottom"
            data-original-title="3 países, 1 dispositivo, velocidade: baixa"
            href="https://protonvpn.com/pricing">Grátis</a></td>
        <td><span class="label label-success">Sim</span></td>
        <td>325</td>
        <td><span class="flag-icon flag-icon-ch"></span> Suíça</td>
        <td><a href="https://protonvpn.com/">ProtonVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="Proxy.sh">
          <a href="https://proxy.sh/"><img alt="Proxy.sh" src="/assets/img/provider/Proxy.sh.png" width="200"
              height="70"></a>
        </td>
        <td data-value="40">$ 40</td>
        <td><span class="label label-warning">Não</span></td>
        <td>300+</td>
        <td><span class="flag-icon flag-icon-sc"></span> Seicheles</td>
        <td><a href="https://proxy.sh/">Proxy.sh</a></td>
      </tr>

      <tr>
        <td data-value="Trust.Zone">
          <a href="https://trust.zone/"><img alt="Trust.Zone" src="/assets/img/provider/Trust.Zone.png" width="200"
              height="70"></a>
        </td>
        <td data-value="40">$ 39.95</td>
        <td><span class="label label-success">Sim</span></td>
        <td>164</td>
        <td><span class="flag-icon flag-icon-sc"></span> Seicheles</td>
        <td><a href="https://trust.zone/">Trust.Zone</a></td>
      </tr>
      <tr>
        <td data-value="VPN.ht">
          <a href="https://vpn.ht/"><img alt="VPN.ht" src="/assets/img/provider/VPN.ht.png" width="200" height="70"></a>
        </td>
        <td data-value="40">$ 39.99</td>
        <td><span class="label label-warning">Não</span></td>
        <td>128</td>
        <td><span class="flag-icon flag-icon-hk"></span> Hong Kong</td>
        <td><a href="https://vpn.ht/">VPN.ht</a></td>
      </tr>
      <tr>
        <td data-value="VPNArea">
          <a href="https://vpnarea.com/"><img alt="VPNArea" src="/assets/img/provider/vpnarea.png" width="200"
              height="70"></a>
        </td>
        <td data-value="59">$ 59</td>
        <td><span class="label label-success">Sim</span></td>
        <td>204</td>
        <td><span class="flag-icon flag-icon-bg"></span> Bulgária</td>
        <td><a href="https://vpnarea.com/">VPNArea.com</a></td>
      </tr>
      <tr>
        <td data-value="VPNTunnel">
          <a href="https://vpntunnel.com/"><img alt="VPNTunnel" src="/assets/img/provider/VPNTunnel.png" width="200"
              height="70"></a>
        </td>
        <td data-value="{{ 35.88 | times: eur_to_usd }}">35.88 €</td>
        <td><span class="label label-warning">Não</span></td>
        <td>800+</td>
        <td><span class="flag-icon flag-icon-sc"></span> Seicheles</td>
        <td><a href="https://vpntunnel.com/">VPNTunnel.com</a></td>
      </tr>

    </tbody>
  </table>
</div>

<div class="alert alert-warning" role="alert">
  <strong>Nota: Usar um provedor de VPN não irá torná-lo anônimo, mas irá te dar mais privacidade. Uma VPN não é uma
    ferramenta para atividades ilegais. Não dependa de uma política de não manter registros.</strong>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Nossos critérios para provedores VPN</h3>

      <ul>
        <li>Devem operar de fora dos EUA ou outros países dos Cinco Olhos.<p>Saiba mais: <a
              href="https://www.bestvpn.com/the-ultimate-privacy-guide/#avoidus"> Evite
              serviços baseados nos EUA e Reino
              Unido.</a>
          </p>
        </li>
        <li>Devem ter suporte a OpenVPN.</li>
        <li>Devem aceitar Bitcoin, dinheiro, cartões de débito ou cartões pré-pagos como método de pagamento.</li>
        <li>Não devem pedir informações pessoais além de usuário, senha e <a href="/provedores/email/"><i
              class="fas fa-link"></i> Email</a> para criar contas.</li>
      </ul>

      <p>Nós não somos afiliados com nenhum dos VPNs listado nesta página. Dessa forma, podemos te dar recomendações
        honestas sobre os serviços.</p>

      <h3>Mais provedores VPN</h3>
      <p>
        <a href="https://thatoneprivacysite.net/vpn-comparison-chart/">
          Planilha com dados verificados independentemente e imparcialmente sobre mais de 100 serviços VPN.
        </a>
        <!-- Desabilitar link de discussão no Reddit -->
        <!-- <a href="https://www.reddit.com/r/privacytoolsIO/comments/43d4zs/you_guys_might_be_interested_in_this_a/">
          (Join the discussion on Reddit)
        </a>-->
      </p>
    </div>

    <div class="col-md-6">

      <h3>Informações relacionadas</h3>

      <ul>
        <li><a href="https://torrentfreak.com/vpn-services-keep-anonymous-2018/">Quais serviços VPN te deixam anônimo em
            2018?</a><br />(<strong>Nota:</strong> Os provedores listados em primeiro nesse artigo são patrocinadores do
          TorrentFreaks)</li>
        <li><a href="https://torrentfreak.com/how-to-make-vpns-even-more-secure-120419/">Como tornar VPNs ainda mais
            seguras</a></li>
        <li><a href="https://vikingvpn.com/blogs/off-topic/beware-of-vpn-marketing-and-affiliate-programs">Cuidado com
            análises falsas - Marketing de VPNs e programas de afiliados</a></li>
        <li><a
            href="https://www.goldenfrog.com/take-back-your-internet/articles/7-myths-about-vpn-logging-and-anonymity">Eu
            sou anônimo quando uso uma VPN - 7 mitos desmascarados</a><br />(<strong>Nota:</strong> Apesar de ser uma
          boa
          leitura, esse artigo é usado para autopromoção)</li>
        <li><a href="https://torrentfreak.com/proxy-sh-vpn-provider-monitored-traffic-to-catch-hacker-130930/">Provedor
            VPN Proxy.sh
            VPN vasculhou o tráfego do servidor para pegar hacker</a></li>
        <li><a href="https://proxy.sh/panel/knowledgebase.php?action=displayarticle&id=5">Política ética - Todos os
            motivos pelos quais a Proxy.sh pode habilitar o registro de tráfego</a></li>
        <li><a href="https://www.ivpn.net/privacy">IVPN.net irá coletar seu email e endereço de IP após o
            registro</a><br />Leia a <a data-toggle="tooltip" data-placement="top"
            data-original-title="O IP coletado no registro é somente usado por alguns segundos pelo módulo anti-fraude e descartado, ou seja, não é registrado. Armazená-los iria aumentar a responsabilidade e certamente não está em seu interesse. Você pode usar Tor ou uma VPN para se registrar.">Declaração
            sobre Email
          </a> de IVPN.</li>
        <li><a href="https://medium.com/@blackVPN/no-logs-6d65d95a3016">blackVPN anunciou que irá deletar registros de
            conexão após desconexão</a></li>
        <li><a href="https://gist.github.com/kennwhite/1f3bc4d889b02b35d8aa">Não use LT2P IPSec, utilize outros
            protocolos.</a></li>
      </ul>
    </div>
  </div>
</div>