<h1 id="vpn" class="anchor"><a href="#vpn"><i class="fas fa-link anchor-icon"></i></a> Serviço de VPN Recomendado</h1>

<div class="alert alert-success" role="alert">
  <strong>Nossa recomendação de provedor fica fora dos EUA, usa encriptação, aceita Bitcoin, suporta OpenVPN, e tem uma política de não armazenar logs de registro. <a href="/providers/vpn/#criteria">Leia nossa lista completa de critérios para mais informações</a>.</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/provider/Mullvad.png" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Mullvad">
    </div>
    <div class="col">
    <h2>Mullvad <span class="badge badge-info">EUR €60/ano</span></h2>
    <p><strong>Mullvad</strong> fornece uma VPN rápida e econômica com um foco sério em transparência e segurança, estando em operação desde <strong>2009</strong>. É o único provedor de VPN que atende nossos critérios de recomendação. Mullvad é sediado na <span class="flag-icon flag-icon-se"></span> Suécia e não possui opção de avaliação gratuita. Visite <a href="https://mullvad.net/">mullvad.net</a> para criar uma conta.</p>
    <h5><span class="badge badge-success">409+ Servidores</span></h5>
    <p>Mullvad tem 409 servidores em 38 países no momento em que esta recomendação está sendo escrita. Normalmente quanto mais servidores um provedor oferece, melhor: Com centenas de servidores em operação, você tem mais chances de encontrar uma conexão rápida num servidor geograficamente perto de você.</p>
    <h5><span class="badge badge-success">Suporte a WireGuard</span></h5>
    <p>Além de conexões OpenVPN padrão, Mullvad suporta Wireguard. Wireguard é um protocolo experimental que, em teoria, possui melhor segurança e mais confiabilidade, apesar de não ser recomendado para uso em produção.</p>
    <h5><span class="badge badge-success">Auditado Independentemente</span></h5>
    <p>Os clientes VPN da Mullvad foram auditados por Cure53 e Assured AB num relatório de pentest <a href="https://cure53.de/pentest-report_mullvad_v2.pdf">publicado em cure53.de</a>. Os pesquisadores de segurança concluíram (tradução livre de parte do relatório original):</p>
    <blockquote class="blockquote">
      <p class="mb-0">...Cure53 e Assured AB estão felizes com os resultados da auditoria e o software deixa uma impressão positiva, em geral. Com dedicação à segurança por parte do time interno nas facilidades físicas da Mullvad, os testadores não tem dúvidas de que o projeto está no caminho certo de um ponto de vista relacionado à segurança.</p>
    </blockquote>
    <h5><span class="badge badge-success">Aceita Bitcoin</span></h5>
    <p>Mullvad não só aceita cartões de crédito/débito e PayPal, como também <strong>Bitcoin</strong>, <strong>Bitcoin Cash</strong>, e <strong>dinheiro/moeda local</strong> como métodos anônimos de pagamento. Eles também aceitam transferências bancárias da Suíça.</p>
    <h5><span class="badge badge-warning">Não Possui Cliente Móvel</span></h5>
    <p>Apesar de clientes para iOS e Android estarem em desenvolvimento, usuários de dispositivos móveis precisarão depender um cliente OpenVPN de terceiros bem como arquivos de configuração OpenVPN, o que é algo um pouco mais complicado de configurar.</p>
    <h5><span class="badge badge-info">Funcionalidades Extra</span></h5>
    <p>Os clientes VPN Mullvad tem um killswitch embutido para bloquear conexões à Internet que não passam pela VPN. Eles também são capazes de iniciar a VPN junto com a inicialização do dispositivo em que o cliente é utilizado. O site da Mullvad também é acessível pela rede Tor em <a href="http://xcln5hkbriyklr6n.onion/">xcln5hkbriyklr6n.onion</a>.</p>
    </div>
  </div>

</div>

<div class="alert alert-warning" role="alert">
  <strong>Nota: Usar um provedor de VPN não irá tornar sua navegação anônima, mas irá melhorar sua privacidade em certas situações. Uma VPN não é uma ferramenta para atividades ilegais. Não dependa de uma política "sem logs de registro".</strong>
</div>

<h1 id="vpn" class="anchor"><a href="#worth-mentioning"><i class="fas fa-link anchor-icon"></i></a> Menções Honrosas de Provedores</h1>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/provider/ProtonVPN.png" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="ProtonVPN">
    </div>
    <div class="col">
    <h2>ProtonVPN <span class="badge badge-info">Grátis</span> <span class="badge badge-info">USD $96/ano</span></h2>
    <p><strong>ProtonVPN</strong> é um forte concorrente entre as VPNs, e está em operação desde <strong>2016</strong>. ProtonVPN é sediada na <span class="flag-icon flag-icon-ch"></span> Suíça e oferece opções gratuitas e pagas do serviço. Infelizmente, devido sua falta de audições independentes de segurança, o serviço não atende todos os critérios de recomendação, veja nossas notas abaixo.</p>
    <h5><span class="badge badge-danger">Não Auditado</span></h5>
    <p>ProtonVPN não teve sua segurança auditada por uma entidade independente, portanto não pode ser fortemente recomendada no momento. Nós ainda assim escolhemos listá-la nesta página assumindo que uma audição irá ser publicada em breve:</p>
    <blockquote class="blockquote">
      <p class="mb-0">Nós estamos passando por uma audição de segurança das nossas aplicações VPN por uma empresa suíça de segurança. Os resultados da audição serão resumidos numa nota pública para casos como este.</p>
      <footer class="blockquote-footer">Marc Loebekken, ProtonVPN AG Conselho legal</footer>
    </blockquote>
    <p>Nós iremos reavaliar esta recomendação no fim de 2019 ou quando a nota pública mencionada por eles for publicada, o que vier primeiro.
    <h5><span class="badge badge-success">442+ Servidores</span></h5>
    <p>ProtonVPN tem 442 servidores em 33 países no momento em que esta recomendação está sendo escrita. Normalmente quanto mais servidores um provedor oferece, melhor: Com centenas de servidores em operação, você tem mais chances de encontrar uma conexão rápida num servidor geograficamente perto de você.</p>
    <h5><span class="badge badge-success">Aceita Bitcoin</span></h5>
    <p>ProtonVPN tecnicamente aceita pagamentos em Bitcoin, porém você precisa ter uma conta ativa no serviço ou entrar em contato com o time de suporte para se registrar utilizando Bitcoin.</p>
    <h5><span class="badge badge-success">Clientes Móveis</span></h5>
    <p>Além de fornecer arquivos de configuração OpenVPN, ProtonVPN tem clientes móveis para iOS e Android, permitindo fácil acesso aos servidores.</p>
    <h5><span class="badge badge-info">Funcionalidades Extra</span></h5>
    <p>Os clientes ProtonVPN tem um killswitch embutido para bloquear conexões à Internet que não passam pela VPN. Eles também são capazes de iniciar a VPN junto com a inicialização do dispositivo em que o cliente é utilizado. ProtonVPN também oferece servidores "Tor", permitindo que você se conecte facilmente a sites da rede onion, mas nós ainda assim recomendamos que utilize o navegador Tor oficial para esse propósito.</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/provider/IVPN.png" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="IVPN">
    </div>
    <div class="col">
    <h2>IVPN <span class="badge badge-info">USD $100/ano</span></h2>
    <p><strong>IVPN</strong> é outro forte provedor VPN, e estão em operação desde <strong>2009</strong>. IVPN é sediada em <span class="flag-icon flag-icon-gi"></span> Gibraltar e oferece um período de 3 dias para avaliação. Infelizmente, devido sua falta de audições independentes de segurança, o serviço não atende todos os critérios de recomendação, veja nossas notas abaixo.</p>
    <h5><span class="badge badge-danger">Não Auditado</span></h5>
    <p>IVPN se submeteu a uma <a href="https://cure53.de/audit-report_ivpn.pdf">audição de logs de registro pela Cure53</a> que concluiu a favor da IVPN, indicando sua conformidade quanto a promessa de não manter logs de registro. No entanto, a IVPN não teve sua segurança auditada por uma entidade independente, portanto não pode ser fortemente recomendada no momento. Nós ainda assim escolhemos listá-la nesta página assumindo que uma audição irá ser publicada em breve: O time IVPN <a href="https://twitter.com/yaelwrites/status/1161796418220089344">planeja começar o processo de auditoria em Setembro</a>.</p>
    <p>Nós iremos reavaliar esta recomendação no fim de 2019 ou quando o relatório da audição for publicado, o que vier primeiro.
    <h5><span class="badge badge-success">70+ Servidores</span></h5>
    <p>IVPN tem 70 servers em 29 países no momento em que esta recomendação está sendo escrita. Normalmente quanto mais servidores um provedor oferece, melhor. IVPN tem uma quantidade decente (mas não ideal) de servidores que provavelmente irá cubrir as necessidades da maioria dos usuários de VPN.</p>
    <h5><span class="badge badge-success">Aceita Bitcoin</span></h5>
    <p>IVPN não só aceita cartões de crédito/débito e PayPal, como também <strong>Bitcoin</strong>, <strong>Bitcoin Cash</strong>, e <strong>dinheiro/moeda local</strong> (em planos anuais) como métodos anônimos de pagamento.</p>
    <h5><span class="badge badge-success">Clientes Móveis</span></h5>
    <p>Além de fornecer arquivos de configuração OpenVPN, ProtonVPN tem clientes móveis para iOS e Android, permitindo fácil acesso aos servidores.</p>
    <h5><span class="badge badge-info">Funcionalidades Extra</span></h5>
    <p>Os clientes IVPN tem um killswitch embutido para bloquear conexões à Internet que não passam pela VPN. Eles também são capazes de iniciar a VPN junto com a inicialização do dispositivo em que o cliente é utilizado. IVPN também fornece funcionalidade "AntiTracker", que bloqueia redes de anúncios e rastreadores em suas conexões.</p>
    </div>
  </div>

</div>
