<h1 id="vpn" class="anchor"><a href="#vpn"><i class="fas fa-link anchor-icon"></i></a> Serviços de VPN Recomendados</h1>

<div class="alert alert-success" role="alert">
  <strong>Nossas recomendações de provedores ficam fora dos EUA, usam criptografia, aceitam Bitcoin, suportam OpenVPN, e têm uma política de não armazenar registros. <a href="/provedores/vpn/#criterios">Leia nossa lista completa de critérios para mais informações</a>.</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img
        src="/assets/img/svg/3rd-party/mullvad.svg"
        data-theme-src="/assets/img/svg/3rd-party/mullvad-dark.svg"
        height="70"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Mullvad">
    </div>
    <div class="col">
    <h2 id="mullvad" class="anchor">
      <a href="#mullvad"><i class="fas fa-link anchor-icon"></i></a> Mullvad
      {% include badge.html color="info" text="EUR €60/Ano" %}
    </h2>
    <p><strong><a href="https://mullvad.net/pt/">Mullvad.net</a> </strong> é uma VPN rápida e econômica com foco sério na transparência e segurança. Eles estão em operação desde <strong>2009</strong>. O Mullvad é sediado na <span class="flag-icon flag-icon-se"></span> Suécia e não possui um período de teste gratuito.</p>
    <h5>{% include badge.html color="success" text="35 Países" %}</h5>
    <p>O Mullvad possui <a href="https://mullvad.net/pt/servers/">servidores em 35 países</a> no momento em que esta página é escrita. Escolher um provedor de VPN com um servidor mais próximo de você reduzirá a latência do tráfego de rede que você envia. Isso se deve a uma rota mais curta (menos saltos) até o destino.</p>
    <p>Também achamos que é melhor para a segurança das chaves privadas do provedor de VPN se eles usarem <a href="https://en.wikipedia.org/wiki/Dedicated_hosting_service">servidores dedicados</a>, ao invés de soluções mais baratas compartilhadas (com outros clientes), como um <a href="https://pt.wikipedia.org/wiki/Servidor_virtual_privado">servidor virtual privado</a>.</p>
    <h5>{% include badge.html color="success" text="Auditado Independentemente" %}</h5>
    <p>Os clientes VPN da Mullvad foram auditados pela Cure53 e Assured AB em um relatório de teste de penetração <a href="https://cure53.de/pentest-report_mullvad_v2.pdf">publicado em cure53.de</a>. Os pesquisadores de segurança concluíram:</p>
    <blockquote class="blockquote">
      <p class="mb-0">...Cure53 e Assured AB estão felizes com os resultados da auditoria e o software deixa uma impressão geral positiva. Com dedicação à segurança por parte do time interno nas facilidades físicas da Mullvad, os testadores não tem dúvidas de que o projeto está no caminho certo de um ponto de vista relacionado à segurança.</p>
    </blockquote>
    <p>Em 2020 uma segunda auditoria <a href="https://mullvad.net/blog/2020/6/25/results-available-audit-mullvad-app/">foi anunciada</a> e o <a href="https://cure53.de/pentest-report_mullvad_2020_v2.pdf">relatório final da auditoria</a> foi disponibilizado no website da Cure53.</p>
    <h5>{% include badge.html color="success" text="Clientes com Código-Fonte Aberto" %}</h5>
    <p>O Mullvad fornece o código-fonte de seus clientes desktop e móveis em sua <a href="https://github.com/mullvad/mullvadvpn-app">organização do GitHub</a>.</p>
    <h5>{% include badge.html color="success" text="Aceita Bitcoin" %}</h5>
    <p>O Mullvad, além de aceitar cartões de crédito/débito e PayPal, aceita <strong>Bitcoin</strong>, <strong>Bitcoin Cash</strong> e <strong>dinheiro/moeda local</strong> como formas anônimas de pagamento. Eles também aceitam transferência bancária e Swish.</p>
    <h5>{% include badge.html color="success" text="Suporte ao WireGuard" %}</h5>
    <p>Além das conexões OpenVPN padrão, o Mullvad oferece suporte ao WireGuard. O WireGuard é um protocolo experimental que teoricamente possui melhor segurança e maior confiabilidade, embora atualmente não seja recomendado para uso em produção.</p>
    <h5>{% include badge.html color="success" text="Suporte a IPv6" %}</h5>
    <p>O Mullvad oferece suporte à futura rede <a href="https://pt.wikipedia.org/wiki/IPv6">IPv6</a>. Sua rede permite aos usuários que <a href="https://mullvad.net/pt/blog/2014/9/15/ipv6-support/">acessem serviços hospedados em IPv6</a> ao contrário de outros provedores que bloqueiam conexões IPv6.</p>
    <h5>{% include badge.html color="success" text="Redirecionamento de Porta Remota" %}</h5>
    <p><a href="https://pt.wikipedia.org/wiki/Redirecionamento_de_portas">Redirecionamento de porta</a> remota é permitido pelo Mullvad, veja <a href="https://mullvad.net/pt/help/port-forwarding-and-mullvad/">Redirecionamento de Porta com a VPN Mullvad</a>.</p>
    <h5>{% include badge.html color="success" text="Clientes Móveis" %}</h5>
    <p>O Mullvad tem aplicativos publicados na <a href ="https://apps.apple.com/br/app/mullvad-vpn/id1488466513">App Store</a> e na <a href="https://play.google.com/store/apps/details?id=net.mullvad.mullvadvpn">Google Play</a>, ambas com uma interface fácil de usar ao invés de requerer que os usuários configurem manualmente suas conexões WireGuard. O aplicativo móvel no Android está também disponível no <a href="https://f-droid.org/packages/net.mullvad.mullvadvpn">F-Droid</a>, que garante que é compilado com <a href="https://www.f-droid.org/pt_BR/2019/05/05/trust-privacy-and-free-software.html">compilações reproduzíveis</a>.</p></p>
    <h5>{% include badge.html color="info" text="Funcionalidades Extra" %}</h5>
    <p>Os clientes VPN Mullvad têm um botão de desligar integrado para bloquear conexões de Internet fora da VPN. Eles também podem iniciar automaticamente na inicialização. O site do Mullvad também pode ser acessado via Tor em <a href="http://xcln5hkbriyklr6n.onion/">xcln5hkbriyklr6n.onion</a>.</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/protonvpn.svg" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="ProtonVPN">
    </div>
    <div class="col">
    <h2 id="protonvpn" class="anchor">
      <a href="#protonvpn"><i class="fas fa-link anchor-icon"></i></a> ProtonVPN
      {% include badge.html color="info" text="Grátis" %}
      {% include badge.html color="info" text="Básico USD$48/Ano" %}
      {% include badge.html color="secondary" text="Plus USD$96/Ano" %}
    </h2>
    <p><strong><a href="https://protonvpn.com/pt_br/">ProtonVPN.com</a></strong> é um forte concorrente no espaço VPN, e eles estão em operação desde <strong>2016</strong>. O ProtonVPN é sediado na <span class="flag-icon flag-icon-ch"></span> Suíça e oferece um serviço limitado de forma gratuita bem como opções premium. Eles oferecem um desconto adicional de 14% na compra de uma assinatura de 2 anos.</p>
    <h5>{% include badge.html color="success" text="44 Países" %}</h5>
    <p>O ProtonVPN possui <a href="https://protonvpn.com/pt_br/vpn-servers">servidores em 44 países</a> no momento em que esta página é escrita. Escolher um provedor de VPN com um servidor mais próximo de você reduzirá a latência do tráfego de rede que você envia. Isso se deve a uma rota mais curta (menos saltos) até o destino.</p>
    <p>Também achamos que é melhor para a segurança das chaves privadas do provedor de VPN se eles usarem <a href="https://en.wikipedia.org/wiki/Dedicated_hosting_service">servidores dedicados</a>, ao invés de soluções mais baratas compartilhadas (com outros clientes), como um <a href="https://pt.wikipedia.org/wiki/Servidor_virtual_privado">servidor virtual privado</a>.</p>
    <h5>{% include badge.html color="success" text="Auditado Independentemente" %}</h5>
    <p>Em janeiro de 2020, o ProtonVPN foi submetido a uma auditoria independente pela SEC Consult. A SEC Consult encontrou algumas vulnerabilidades de risco médio e baixo nos aplicativos ProtonVPN para Windows, Android e iOS, todos os quais foram "corrigidos adequadamente" pelo ProtonVPN antes da publicação dos relatórios. Nenhum dos problemas identificados daria a um invasor acesso remoto ao dispositivo ou ao tráfego de um usuário. Você pode visualizar relatórios individuais para cada plataforma em <a href="https://protonvpn.com/blog/open-source/">protonvpn.com</a>.
    <h5>{% include badge.html color="success" text="Clientes com Código-Fonte Aberto" %}</h5>
    <p>O ProtonVPN fornece o código-fonte para seus clientes desktop e móveis em sua <a href="https://github.com/ProtonVPN">organização do GitHub</a>.</p>
    <h5>{% include badge.html color="success" text="Aceita Bitcoin" %}</h5>
    <p>O ProtonVPN tecnicamente aceita pagamentos em Bitcoin; no entanto, você precisa ter uma conta existente ou entrar em contato com a equipe de suporte com antecedência para se registrar usando Bitcoin.</p>
    <h5>{% include badge.html color="success" text="Clientes Móveis" %}</h5>
    <p>Além de oferecer arquivos de configuração padrão OpenVPN, o ProtonVPN possui clientes móveis na <a href="https://apps.apple.com/br/app/protonvpn-fast-secure-vpn/id1437005085">App Store</a> e na <a href="https://play.google.com/store/apps/details?id=ch.protonvpn.android&hl=pt_BR">Google Play</a> permitindo conexões fáceis com seus servidores. O cliente móvel no Android também está disponível no <a href="https://f-droid.org/en/packages/ch.protonvpn.android">F-Droid</a>, o que garante que é compilado com <a href="https://www.f-droid.org/pt_BR/2019/05/05/trust-privacy-and-free-software.html">compilações reproduzíveis</a>.</p>
    <h5>{% include badge.html color="warning" text="Sem Redirecionamento de Portas" %}</h5>
    <p>O ProtonVPN atualmente não oferece suporte ao redirecionamento de portas remotas, o que pode afetar alguns aplicativos. Especialmente aplicativos peer-to-peer, como clientes Torrent.</p>
    <h5>{% include badge.html color="info" text="Funcionalidades Extra" %}</h5>
    <p>Os clientes ProtonVPN têm um botão de desligar integrado para bloquear conexões de internet fora da VPN. Eles também podem iniciar automaticamente na inicialização. O ProtonVPN também oferece servidores "Tor", permitindo que você se conecte facilmente a sites onion, mas ainda recomendamos o uso do <a href="https://www.torproject.org/">Navegador Tor Oficial</a> para esse propósito.</p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/ivpn.svg" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="IVPN">
    </div>
    <div class="col">
    <h2 id="ivpn" class="anchor">
      <a href="#ivpn"><i class="fas fa-link anchor-icon"></i></a> IVPN
      {% include badge.html color="info" text="Standard USD$60/Ano" %}
      {% include badge.html color="secondary" text="Pro USD$100/Ano" %}
    </h2>
    <p><strong><a href="https://www.ivpn.net">IVPN.net</a></strong> é outro provedor de VPN premium, em operação desde <strong>2009</strong>. IVPN é sediado em <span class="flag-icon flag-icon-gi"></span> Gibraltar e oferece um teste gratuito de 3 dias.</p>
    <h5>{% include badge.html color="success" text="32 Países" %}</h5>
    <p>O IVPN possui <a href="https://www.ivpn.net/server-locations">servidores em 32 países</a> no momento em que esta página é escrita. Escolher um provedor de VPN com um servidor mais próximo de você reduzirá a latência do tráfego de rede que você envia. Isso se deve a uma rota mais curta (menos saltos) até o destino.</p>
    <p>Também achamos que é melhor para a segurança das chaves privadas do provedor de VPN se eles usarem <a href="https://en.wikipedia.org/wiki/Dedicated_hosting_service">servidores dedicados</a>, ao invés de soluções mais baratas compartilhadas (com outros clientes), como um <a href="https://pt.wikipedia.org/wiki/Servidor_virtual_privado">servidor virtual privado</a>.</p>
    <h5>{% include badge.html color="success" text="Auditado Independentemente" %}</h5>
    <p>O IVPN passou por uma <a href="https://cure53.de/audit-report_ivpn.pdf">auditoria de política de não-registros da Cure53</a> que concluiu a favor da alegação de não registrar dados dos usuários do IVPN. O IVPN também concluiu um <a href="https://cure53.de/summary-report_ivpn_2019.pdf">relatório abrangente de teste de penetração da Cure 53</a> em janeiro de 2020. O IVPN também disse que planejam ter <a href="https://www.ivpn.net/blog/independent-security-audit-concluded">relatórios anuais</a> no futuro.</p>
    <h5>{% include badge.html color="success" text="Clientes com Código-Fonte Aberto" %}</h5>
    <p>Desde Fevereiro de 2020 os <a href="https://www.ivpn.net/blog/ivpn-applications-are-now-open-source">aplicativos do IVPN agora são de código-fonte aberto</a>. O código-fonte pode ser obtido em sua <a href="https://github.com/ProtonVPN">organização do GitHub</a>.</p>
    <h5>{% include badge.html color="success" text="Aceita Bitcoin" %}</h5>
    <p>Além de aceitar cartões de crédito/débito e PayPal, o IVPN aceita <strong>Bitcoin</strong> e <strong>dinheiro/moeda local</strong> (em planos anuais) como formas de pagamento anônimas.</p>
    <h5>{% include badge.html color="success" text="Suporte ao WireGuard" %}</h5>
    <p>Além das conexões OpenVPN padrão, o IVPN oferece suporte ao WireGuard. O WireGuard é um protocolo experimental que teoricamente possui melhor segurança e maior confiabilidade, embora atualmente não seja recomendado para uso em produção.</p>
    <h5>{% include badge.html color="success" text="Redirecionamento de Porta Remota" %}</h5>
    <p>O <a href="https://en.wikipedia.org/wiki/Port_forwarding">Redirecionamento de porta</a> remota é possível com um plano Pro. O redirecionamento de portas <a href="https://www.ivpn.net/knowledgebase/81/How-do-I-activate-port-forwarding.html">pode ser ativado</a> através da área do cliente. O redirecionamento de portas só está disponível no IVPN <a href="https://www.ivpn.net/knowledgebase/116/Port-forwarding-is-not-working-why.html">ao utilizar o OpenVPN e é desativado em servidores nos EUA</a>.</p>
    <h5>{% include badge.html color="success" text="Clientes Móveis" %}</h5>
    <p>Além de oferecer arquivos de configuração padrão OpenVPN, o ProtonVPN possui clientes móveis na <a href="https://apps.apple.com/br/app/ivpn-serious-privacy-protection/id1193122683">App Store</a> e na <a href="https://play.google.com/store/apps/details?id=net.ivpn.client&hl=pt_BR">Google Play</a> permitindo conexões fáceis com seus servidores. O cliente móvel no Android também está disponível no <a href="https://f-droid.org/en/packages/net.ivpn.client">F-Droid</a>, que garante que é compilado com <a href="https://www.f-droid.org/pt_BR/2019/05/05/trust-privacy-and-free-software.html">compilações reproduzíveis</a>.</p>
    <h5>{% include badge.html color="info" text="Funcionalidades Extra" %}</h5>
    <p>Os clientes ProtonVPN têm um botão de desligar integrado para bloquear conexões de internet fora da VPN. Eles também podem iniciar automaticamente na inicialização. O IVPN também oferece funcionade "<a href="https://www.ivpn.net/antitracker">AntiTracker</a>", que bloqueia redes de publicidade e rastreadores no nível da rede.</p>
    </div>
  </div>
</div>

<div class="alert alert-warning" role="alert">
  <strong>Nota: Usar um provedor de VPN não tornará você anônimo, mas proporcionará melhor privacidade em certas situações. Uma VPN não é uma ferramenta para atividades ilegais. Não conte com uma política de "sem registros".</strong>
</div>
