<h1 id="wc" class="anchor"><a href="#wc"><i class="fas fa-link anchor-icon"></i></a> O que é um "warrant canary"?</h1>

<img src="/assets/img/layout/warrant-canary.jpg" width="450" height="236" class="img-fluid float-right"
  alt="Warrant Canary Example" style="margin-left:20px;">

<p>Um "warrant canary" é um documento publicado que afirma que uma organização não recebeu nenhuma ordem judicial
  secreta dentro de uma janela de tempo específica. Se esse documento não for atualizado durante no tempo especificado,
  então o usuário deve assumir que o serviço recebeu uma ordem judicial secreta e deve parar de usá-lo.</p>

<h4>Exemplos:</h4>

<ol>
  <li><a href="https://proxy.sh/canary">https://proxy.sh/canary</a></li>
  <li><a href="https://www.ivpn.net/resources/canary.txt">https://www.ivpn.net/resources/canary.txt</a></li>
  <li><a href="https://www.bolehvpn.net/canary.txt">https://www.bolehvpn.net/canary.txt</a></li>
  <li><a
      href="https://www.ipredator.se/static/downloads/canary.txt">https://www.ipredator.se/static/downloads/canary.txt</a>
  </li>
</ol>

<h4>Informações relacionadas</h4>

<ul>
  <li><a href="https://www.eff.org/deeplinks/2014/04/warrant-canary-faq">Perguntas Frequentes sobre "Warrant Canaries"
      (em
      inglês)</a>
  </li>
  <li><a href="https://en.wikipedia.org/wiki/Warrant_canary#Companies_and_organizations_with_warrant_canaries">Lista de
      empresas e organizações que possuem "warrant canaries"</a></li>
  <li><a href="https://www.schneier.com/blog/archives/2015/03/australia_outla.html">Críticas à "warrant canaries" por
      Bruce
      Schneier e um exemplo de lei contra "warrant canaries".</a></li>
</ul>