<h1 id="win10" class="anchor"><a href="#win10"><i class="fas fa-link anchor-icon"></i></a> Não use Windows 10 - Ele é um pesadelo para sua privacidade</h1>

<div class="alert alert-warning" role="alert">
  <strong>A Microsoft lançou diversos recursos novos no Windows 10, como a Cortana. No entanto, a maioria deles está violando
    sua privacidade. Veja abaixo como o Windows 10 bota sua privacidade em risco.</strong>
</div>

<img src="/assets/img/layout/Windows-10-Privacy.png" width="367" height="369" class="img-fluid float-right" alt="Privacidade no Windows 10" style="margin-left:10px;">

<ol>
  <li><strong>A sincronização dos seguintes dados é habilitada por padrão:</strong>
    <ul>
      <li>Histórico de navegação e sites abertos.</li>
      <li>Configuração de aplicativos.</li>
      <li>Nomes e senhas de redes WiFi.</li>
    </ul>
  </li>

  <li><strong>Seu dispositivo é automaticamente marcado por um identificador único de anúncios.</strong>
    <ul>
      <li>Usado por anunciantes externos e redes de anúncios para mostrar anúncios personalizados para você.</li>
    </ul>
  </li>

  <li><strong>Cortana pode coletar qualquer dado seu, incluindo:</strong>
    <ul>
      <li>As teclas apertadas no teclado, buscas e som do microfone.</li>
    </ul>
    <ul>
      <li>Dados de calendário.</li>
    </ul>
    <ul>
      <li>Músicas que você escuta.</li>
    </ul>
    <ul>
      <li>Informações de cartão de crédito.</li>
    </ul>
    <ul>
      <li>Compras.</li>
    </ul>
  </li>

  <li><strong>Microsoft pode coletar qualquer dado pessoal utilizado e gerado por você, incluindo:</strong>
    <ul>
      <li>Sua identidade.</li>
    </ul>
    <ul>
      <li>Senhas.</li>
    </ul>
    <ul>
      <li>Sua idade.</li>
    </ul>
    <ul>
      <li>Interesses e hábitos.</li>
    </ul>
    <ul>
      <li>Dados de uso.</li>
    </ul>
    <ul>
      <li>Contatos e relacionamentos.</li>
    </ul>
    <ul>
      <li>Dados de localização.</li>
    </ul>
    <ul>
      <li>Outros conteúdos: emails, mensagens instantâneas, lista de chamadas, áudios, gravações de vídeo, etc.</li>
    </ul>
  </li>

  <li><strong>Seus dados podem ser compartilhados.</strong>
    <ul>
      <li>Ao utilizar o Windows 10, você está autorizando a Microsoft a compartilhar qualquer um dos dados mencionados
        acima com qualquer entidade escolhida por ela, com ou sem seu consentimento.</li>
    </ul>
  </li>
</ol>

<p><a class="btn btn-warning" href="https://www.winprivacy.de/english-home/">Download: W10Privacy</a></p>

<p>Essa ferramente utiliza alguns métodos conhecidos que tentam desabilitar recursos que te rastreiam no Windows 10.</p>

<h3>Informações Relacionadas</h3>

<ul>
  <li><a href="https://privacy.microsoft.com/pt-br/privacystatement">Política de Privacidade da Microsoft</a> -
    Microsoft coleta, usa e compartilha informações pessoais como descrito em sua política de privacidade. 
    Isso permite que dados do One Drive, buscas da Cortana e histórico de navegadores da Microsoft sejam vendidos para terceiros.</li>
  <li><a href="https://support.microsoft.com/pt-br/help/4468233/cortana-and-privacy-microsoft-privacy">Cortana e a privacidade</a> - 
    Para personalizar sua experiência e proporcionar as melhores sugestões possíveis, Cortana acessa seu email e outros tipos de comunicação 
    para coletar dados sobre seus contatos (através do app "Pessoas"), como seus títulos, sufixos, nomes, sobrenomes, apelidos e nomes da empresa. 
    Se você fazer chamadas, enviar emails ou mandar mensagens para alguém, ou se eles te fazerem chamadas, te mandarem email ou mensagens, 
    a Cortana coleta o endereço de email ou número de telefone da pessoa.</li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Algumas boas notícias</h3>
      <ul>
        <li><a href="https://github.com/crazy-max/WindowsSpyBlocker/releases">WindowsSpyBlocker</a> - Ferramenta com código-fonte aberto que bloqueia a coleta de dados.</li>
        <li><a href="https://www.ghacks.net/2015/08/14/comparison-of-windows-10-privacy-tools/">Comparison of Windows 10 Privacy tools (em Inglês)</a> - ghacks.net</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3>Outras más notícias</h3>
      <ul>
        <li><a href="https://thehackernews.com/2016/02/microsoft-windows10-privacy.html">
          Windows 10 Sends Your Data 5500 Times Every Day Even After Tweaking Privacy Settings (em Inglês)</a> - The Hacker News.
        </li>
        <li><a href="https://arstechnica.com/information-technology/2015/08/even-when-told-not-to-windows-10-just-cant-stop-talking-to-microsoft/">
          Even when told not to, Windows 10 just can’t stop talking to Microsoft (em Inglês)</a> - Ars Technica.</li>
        <li><a href="https://www.techdirt.com/articles/20150820/06171332012/windows-10-reserves-right-to-block-pirated-games-unauthorized-hardware.shtml">
          Windows 10 Reserves The Right To Block Pirated Games And 'Unauthorized' Hardware (em Inglês)</a> - Techdirt.</li>
      </ul>
    </div>
  </div>
</div>