<footer>

  <hr class="footer-divider" />

  <h3 id="participate">Compartilhe o site e ajude seus amigos</h3>

  <div class="row mb-4">
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="mailto:?subject=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20vigil%C3%A2ncia%20global%20em%20massa&body=https://www.privacidade.digital"
        class="share-btn email" title="Email">
        <i class="fas fa-envelope"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.privacidade.digital" class="share-btn facebook"
        title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://twitter.com/share?text=Conhecimento%20e%20ferramentas%20para%20proteger%20sua%20privacidade%20contra%20vigil%C3%A2ncia%20global%20em%20massa%20&amp;url=https://www.privacidade.digital"
        class="share-btn twitter" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>

      <!-- versão de compartilhamento no Twitter quando tivermos uma conta abaixo -->

      <!-- <a href="https://twitter.com/share?text=Conhecimento%20e%20ferramentas%20para%20proteger%20sua%20privacidade%20contra%20vigil%C3%A2ncia%20global%20em%20massa%20&amp;url=https://www.privacidade.digital/&amp;via=privacytoolsIO"
        class="share-btn twitter" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a> -->

      <a href="https://sharetomastodon.github.io/?title=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20vigil%C3%A2ncia%20global%20em%20massa&url=https://www.privacidade.digital"
        class="share-btn mastodon" title="Mastodon">
        <i class="fab fa-mastodon"></i>
      </a>

    </div>
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="https://reddit.com/submit?url=https://www.privacidade.digital&title=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20vigil%C3%A2ncia%20global%20em%20massa"
        class="share-btn reddit" title="reddit">
        <i class="fab fa-reddit-alien"></i>
      </a>

      <a href="https://www.linkedin.com/shareArticle?url=https://www.privacidade.digital&title=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20vigil%C3%A2ncia%20global%20em%20massa"
        class="share-btn linkedin" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a href="http://www.stumbleupon.com/submit?url=https://www.privacidade.digital&title=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20vigil%C3%A2ncia%20global%20em%20massa"
        class="share-btn stumbleupon" title="StumbleUpon">
        <i class="fab fa-stumbleupon"></i>
      </a>

      <a href="https://sharetodiaspora.github.io/?title=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20vigil%C3%A2ncia%20global%20em%20massa&url=https://www.privacidade.digital"
        class="share-btn diaspora" title="Diaspora*">
        <i class="fas fa-asterisk"></i>
      </a>
    </div>
  </div>

  <h3>Copie a URL e a descrição do site para divulgá-lo</h3>

  <p>
    <input type="text" value="www.privacidade.digital - encriptação contra vigilância global em massa"
      onclick="this.focus();this.select()" class="form-control input-lg">
    <span class="help-block">Para copiar e colar. Compartilhe esse pequeno texto com seus amigos e família.</span>
  </p>

  <hr class="footer-divider" />

  <div class="row mt-3">
    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center d-flex justify-content-center">
      <a href="http://www.wtfpl.net/" data-toggle="tooltip" data-placement="top"
        data-original-title="Este projeto é gratuito. Você pode redistribuí-lo e/ou modificá-lo dentro dos termos da licença ''Do What The Fuck You Want To'', Versão 2, como publicado por Sam Hocevar."><img
          alt="WTFPL" src="/assets/img/layout/wtfpl.png" width="44" height="32">WTFPL</a>
    </div>

    <!--<div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <a href="https://www.kopimi.com/" data-toggle="tooltip" data-placement="top"
        data-original-title="kopimi (copyme), symbol showing that you want to be copied. use kopimi in your own fancy. kopimi may be put on homepages or blogs, in books, in software, as sound logos in music or whatever."><img
          alt="kopimi" src="/assets/img/layout/kopimi.png" width="32" height="33">kopimi</a>
    </div>-->

    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <i class="far fa-envelope fa-2x"></i>
      <a href="/contact/">Contato</a>
    </div>

    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <i class="fas fa-heart fa-2x text-danger"></i>
      <a data-toggle="tooltip" data-placement="top"
        data-original-title="Por favor ajude este projeto fazendo uma doação. Nós não temos anúncios nem afiliados dos serviços que recomendamos. Sua doação irá cobrir nossos custos com servidores e domínios."
        href="/donate/">Doações</a>
    </div>
  </div>

  <p class="copyright-text"><strong>Sem Anúncios, Sem Google Analytics, Sem Afiliados, Sem Requisições Entre
      Sites.</strong>
    <em>privacidade.digital é um site de propósito social que provém informações para proteger a segurança dos seus
      dados e privacidade. Nunca confie em nenhuma empresa com sua privacidade, sempre encripte. <a
        href="/privacy-policy/">Leia nossa política de privacidade</a>.</em></p>

</footer>