<footer>

  <hr class="footer-divider" />

  <h3 id="participate">Compartilhe o site e ajude seus amigos</h3>

  <div class="row mb-4">
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="mailto:?subject=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20a%20vigil%C3%A2ncia%20global%20em%20massa&body={{ site.production_url }}/" class="share-btn email" title="Email">
        <i class="fas fa-envelope"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}" class="share-btn facebook" title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://twitter.com/share?text=Conhecimento%20e%20ferramentas%20para%20proteger%20sua%20privacidade%20contra%20a%20vigil%C3%A2ncia%20global%20em%20massa%20&amp;url={{ site.production_url }}/&amp;via=PrivacidadeJa" class="share-btn twitter" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="https://sharetomastodon.github.io/?title=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20a%20vigil%C3%A2ncia%20global%20em%20massa&url={{ site.production_url }}" class="share-btn mastodon" title="Mastodon">
        <i class="fab fa-mastodon"></i>
      </a>

    </div>
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="https://reddit.com/submit?url={{ site.production_url }}&title=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20vigil%C3%A2ncia%20global%20em%20massa" class="share-btn reddit" title="reddit">
        <i class="fab fa-reddit-alien"></i>
      </a>

      <a href="https://www.linkedin.com/shareArticle?url={{ site.production_url }}&title=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20a%20vigil%C3%A2ncia%20global%20em%20massa" class="share-btn linkedin" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a href="https://mix.com/mixit?su=submit&url={{ site.production_url }}&title=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20a%20vigil%C3%A2ncia%20global%20em%20massa" class="share-btn mix" title="Mix">
        <i class="ptio-mix"></i>
      </a>

      <a href="https://sharetodiaspora.github.io/?title=www.privacidade.digital%20-%20encripta%C3%A7%C3%A3o%20contra%20a%20vigil%C3%A2ncia%20global%20em%20massa&url={{ site.production_url }}" class="share-btn diaspora" title="Diaspora*">
        <i class="fas fa-asterisk"></i>
      </a>
    </div>
  </div>

  <h3>Copie a URL e a descrição do site para divulgá-lo</h3>

  <p>
    <input type="text" value="{{ site.name }} - Encriptação contra a vigilância global em massa - {{ site.production_url }}" class="form-control input-lg onclick-select">
    <span class="help-block">Basta copiar e colar. Compartilhe esse pequeno texto com seus amigos e família.</span>
  </p>

  <hr class="footer-divider" />

  <div class="row mt-3">
    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="fab fa-creative-commons-zero fa-2x mr-2"></span>
      <a
        href="/LICENSE.txt"
        title="Este trabalho é gratuito. Você pode redistribuí-lo e/ou modificá-lo nos termos da licença &quot;Creative Commons CC0 1.0 Universal - Dedicação ao Domínio Público&quot;."
        data-toggle="tooltip"
        data-placement="top">
        CC0
      </a>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="far fa-address-card fa-2x mr-2"></span>
      <a href="/sobre/">Sobre Nós &amp; Contato</a>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-center">
      <span class="fas fa-donate fa-2x mr-2"></span>
      <a href="/doar/" data-toggle="tooltip" data-placement="top" data-original-title="Por favor, ajude este projeto fazendo uma doação. Nós não temos anúncios nem somos afiliados dos serviços que recomendamos. Sua doação irá cobrir os custos com servidores e domínios.">Faça uma doação!</a>
    </div>
  </div>

  <div class="copyright-text">
    <a href="/sobre/javascript" data-jslicense="1">
      <span class="fab fa-js fa-lg"></span>
      Licenças JavaScript
    </a>
    <p class="mt-2">
      {%- assign m = site.time | date: "%-m" -%}
      <strong>Sem Anúncios, Sem Google Analytics, Sem Afiliados, Sem Requisições Entre Sites.</strong>
      <em>O site {{ site.name }} é um site de propósito social, contendo informações para te ajudar a proteger a segurança dos seus dados e a sua privacidade. Nunca confie a sua privacidade a alguma empresa, SEMPRE encripte.</em>
    </p>

    <p class="mt-2">
      O site foi atualizado pela última vez em {{ site.time | date: "%-d de " }}{% case m %}{% when '1' %}Janeiro{% when '2' %}Fevereiro{% when '3' %}Mar&ccedil;o{% when '4' %}Abril{% when '5' %}Maio{% when '6' %}Junho{% when '7' %}Julho{% when '8' %}Agosto{% when '9' %}Setembro{% when '10' %}Outubro{% when '11' %}Novembro{% when '12' %}Dezembro{% endcase %}{{ site.time | date: " de %Y" }}.
    </p>
    <small>
      <a href="/privacidade/">Nota sobre Privacidade</a> |
      <a href="/notas/">Notas &amp; Avisos</a>
    </small>

  </div>
</footer>
