---
layout: page
permalink: /navegadores/
title: "Navegadores Web"
description: "Conheça nossas recomendações quanto à navegadores web e algumas configurações que você
pode utilizar para melhorar sua privacidade."
breadcrumb: "Navegadores Web"
---

<p>Clique na seção que lhe interessa e veja as recomendações do momento:</p>

<div class="card card-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/navegadores/#navegador"><span class="fas fa-check fa-fw"></span> Recomendações de Navegadores</a></li>
    <li class="list-group-item"><a href="/navegadores/#impressao_digital"><span class="fas fa-fingerprint fa-fw"></span> Info. sobre Impressão Digital</a></li>
    <li class="list-group-item"><a href="/navegadores/#webrtc"><span class="far fa-eye fa-fw"></span> Vazamento de IP por WebRTC</a></li>
    <li class="list-group-item"><a href="/navegadores/#extensoes"><span class="far fa-list-alt fa-fw"></span> Extensões de Navegador</a></li>
    <li class="list-group-item"><a href="/navegadores/#about_config"><span class="fas fa-wrench fa-fw"></span> Configurações do Firefox</a></li>
  </ul>
</div>

{% include sections/browser-recommendation.html %}

{% include sections/browser-fingerprint.html %}

{% include sections/browser-webrtc.html %}

{% include sections/browser-addons.html %}

{% include sections/browser-tweaks.html %}