---
layout: page
permalink: /navegadores/
title: "Navegadores de Internet"
description: "Essas são as nossas recomendações atuais quanto à navegadores de internet e algumas configurações que você
pode usar para melhorar sua privacidade."
---

<p>Clique no artigo que lhe interesse e veja nossas recomendações.</p>

<div class="card card-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/navegadores/#navegador"><i class="fas fa-check fa-fw"></i> Recomendações de Navegador</a></li>
    <li class="list-group-item"><a href="/navegadores/#impressao_digital"><i class="fas fa-fingerprint fa-fw"></i> Impressão Digital do Navegador</a></li>
    <li class="list-group-item"><a href="/navegadores/#webrtc"><i class="far fa-eye fa-fw"></i> Vazamento de IP por WebRTC</a></li>
    <li class="list-group-item"><a href="/navegadores/#extensoes"><i class="far fa-list-alt fa-fw"></i> Extensões de Privacidade para o Firefox</a></li>
    <li class="list-group-item"><a href="/navegadores/#about_config"><i class="fas fa-wrench fa-fw"></i> Firefox: Configurações relacionadas à privacidade</a></li>
  </ul>
</div>

{% include sections/browser-recommendation.html %}

{% include sections/browser-fingerprint.html %}

{% include sections/browser-webrtc.html %}

{% include sections/browser-addons.html %}

{% include sections/browser-tweaks.html %}