---
layout: page
permalink: /operating-systems/
title: "Sistemas Operacionais"
description: "Até seu pŕoprio computador pode estar comprometendo sua privacidade. Leia sobre os Sistemas Operacionais
que recomendamos e escolha a melhor opção para cada dispositivo que você usa."
---

{% include sections/operating-systems.html %}

{% include sections/live-operating-systems.html %}

{% include sections/mobile-operating-systems.html %}

{% include sections/android-addons.html %}

{% include sections/router-firmware.html %}

{% include sections/windows10.html %}