---
layout: page
permalink: /sistemas-operacionais/
title: "Sistemas Operacionais"
description: "Até seu próprio computador pode estar comprometendo sua privacidade. Leia sobre os Sistemas Operacionais
que recomendamos e escolha a melhor opção para cada dispositivo que você utiliza."
---

<p>Clique na seção que lhe interessa e veja as recomendações do momento:</p>

<div class="card card-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/sistemas-operacionais/#so"><span class="fas fa-th-large fa-fw"></span> Sistemas Operacionais de PC</a></li>
    <li class="list-group-item"><a href="/sistemas-operacionais/#so_live"><span class="fas fa-compact-disc fa-fw"></span> Sistemas Operacionais Live CD</a></li>
    <li class="list-group-item"><a href="/sistemas-operacionais/#so_movel"><span class="fas fa-mobile-alt fa-fw"></span> Sistemas Operacionais Móveis</a></li>
    <li class="list-group-item"><a href="/sistemas-operacionais/#extensoes_android"><span class="fas fa-th fa-fw"></span> Extensões de Privacidade para Android</a></li>
    <li class="list-group-item"><a href="/sistemas-operacionais/#firmware"><span class="fas fa-signal fa-fw"></span> Firmware para Roteadores</a></li>
    <li class="list-group-item"><a href="/sistemas-operacionais/#win10"><span class="far fa-thumbs-down fa-fw"></span> Não Utilize Windows 10</a></li>
  </ul>
</div>

{% include sections/operating-systems.html %}

<h3>Aviso</h3>

<ul>
  <li><a href="#win10"><i class="fas fa-link"></i> Não utilize Windows 10 — Ele é um pesadelo para sua privacidade</a></li>
</ul>

{% include sections/tor-operating-systems.html %}

{% include sections/android-operating-systems.html %}

{% include sections/android-addons.html %}

{% include sections/other-mobile-operating-systems.html %}

{% include sections/router-firmware.html %}

{% include sections/windows10.html %}