---
layout: page
permalink: /providers/
title: "Provedores"
description: "Existem milhares de provedores de serviços online por aí. Aprenda sobre quais você deve evitar e quais são
nossas recomendações para uma variedade de serviços."
---

<h1 id="os" class="anchor">Serviços</h1>

<p>Clique no serviço que lhe interesse e veja nossas recomendações.</p>

<div class="card card-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/providers/vpn/"><i class="far fa-eye-slash"></i> Redes Privadas Virtuais
        (VPN)</a></li>
    <li class="list-group-item"><a href="/providers/email/"><i class="fas fa-mail-bulk"></i> Email com Privacidade</a>
    </li>
    <li class="list-group-item"><a href="/providers/cloud-storage/"><i class="fas fa-cloud"></i> Serviço de
        Armazenamento Encriptado na Nuvem</a></li>
    <li class="list-group-item"><a href="/providers/social-networks/"><i class="fas fa-expand-arrows-alt"></i>
        Redes Sociais Decentralizadas</a></li>
    <li class="list-group-item"><a href="/providers/dns/"><i class="fa fa-tasks"></i> Sistemas de Nomes de Domínio
        (DNS)</a></li>
    <li class="list-group-item"><a href="/providers/search-engines/"><i class="fab fa-searchengin"></i> Motores de Busca
        que Respeitam a Privacidade</a></li>
    <li class="list-group-item"><a href="/providers/hosting/"><i class="fas fa-database"></i> Provedores Seguros de
        Hospedagem</a></li>
    <li class="list-group-item"><a href="/providers/paste"><i class="fas fa-paste"></i> Serviços Paste</a></li>
  </ul>
</div>

{% include sections/fourteen-eyes.html %}

{% include sections/key-disclosure-law.html %}

{% include sections/warrant-canary.html %}