---
layout: page
permalink: /provedores/
title: "Provedores"
description: "Existem milhares de provedores de serviços online por aí. Aprenda sobre quais você deve evitar e quais são
nossas recomendações para uma variedade de serviços."
---

<h1 id="os" class="anchor">Serviços</h1>

<p>Clique no serviço que lhe interesse e veja nossas recomendações.</p>

<div class="card card-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/provedores/#ukusa/"><i class="fab fa-creative-commons-nc fa-fw"></i> Evite serviços hospedado nos EUA e Reino Unido</a></li>
    <li class="list-group-item"><a href="/provedores/vpn/"><i class="far fa-eye-slash"></i> VPNs para Privacidade e Segurança</a></li>
    <li class="list-group-item"><a href="/provedores/email/"><i class="fas fa-mail-bulk"></i> Email Seguro</a></li>
    <li class="list-group-item"><a href="/provedores/busca/"><i class="fab fa-searchengin"></i> Motores de Busca</a></li>
    <li class="list-group-item"><a href="/provedores/armazenamento-na-nuvem/"><i class="fas fa-cloud"></i> Armazenamento na Nuvem</a></li>
    <li class="list-group-item"><a href="/provedores/redes-sociais/"><i class="fas fa-expand-arrows-alt"></i> Redes Sociais</a></li>
    <li class="list-group-item"><a href="/provedores/dns/"><i class="fa fa-tasks"></i> DNS</a></li>
    <li class="list-group-item"><a href="/provedores/hospedagem/"><i class="fas fa-database"></i> Hospedagem</a></li>
    <li class="list-group-item"><a href="/provedores/paste"><i class="fas fa-paste"></i> PasteBins</a></li>
  </ul>
</div>

{% include sections/fourteen-eyes.html %}

{% include sections/key-disclosure-law.html %}

{% include sections/warrant-canary.html %}